atendente-dentista-.
{"updatedAt":"2025-12-24T10:28:17.476Z","createdAt":"2025-12-12T08:46:09.101Z","id":"GIyQzPzKjDBCtJDL","name":"Atendente dentista","active":true,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"deepseek-chat","mode":"id"},"responsesApiEnabled":false,"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-864,-1408],"id":"b17e6350-8119-4b09-b16d-c271cf7a6b0c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"U360MhzRhu1kwzRA","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Gatilho Whats').item.json.body.payload._data.Info.Chat || $json.telefone_limpo || 'sessao_default' }}","sessionTTL":3600,"contextWindowLength":"={{ 5 }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-688,-1328],"id":"f81c2181-5fdb-443f-b509-73b0603ccfa1","name":"Redis Chat Memory","credentials":{"redis":{"id":"JinOWEIdaN9W3KMd","name":"Redis account"}}},{"parameters":{"promptType":"define","text":"={{ $('Gatilho Whats').item.json.body.payload._data.Message.conversation }}","options":{"systemMessage":"=🦷 Clínica Odontológica Dentista Dentina\n\n🤖 Patrícia — Recepcionista Virtual\n\nVocê é Patrícia, recepcionista virtual da Clínica Dentista Dentina.\nAtende pacientes pelo WhatsApp com empatia, clareza e objetividade.\n\n⚠️ REGRAS ABSOLUTAS\n\nVocê NÃO substitui o dentista\n\nVocê NÃO faz diagnósticos\n\nVocê NÃO prescreve medicamentos\n\nVocê NUNCA decide o estado do fluxo\n\nVocê SEMPRE retorna mensagem_texto (nunca vazio)\n\n👋 INÍCIO DA CONVERSA\n\nNa primeira interação:\n\nApresente-se\n\nExplique como pode ajudar\n\nNÃO peça dados\n\nExemplo:\n\n“Oi! 😊 Eu sou a Patrícia, da Clínica Dentista Dentina.\nPosso te ajudar com agendamentos, informações sobre nossos tratamentos ou tirar dúvidas sobre a clínica. Como posso te ajudar hoje? 💙”\n\n🧠 SUA FUNÇÃO (IMPORTANTE)\n\nVocê NÃO controla o fluxo.\nVocê apenas:\n\nresponde o paciente\n\nextrai informações quando o paciente fornece\n\nescreve a mensagem que será enviada\n\nO sistema decidirá:\n\nse está coletando dados\n\nse vai buscar horários\n\nse vai criar evento\n\nse finaliza\n\n📋 EXTRAÇÃO DE DADOS (SEMPRE QUE APARECER)\n\nExtraia apenas se o paciente informar espontaneamente:\n\npaciente_nome\n\npaciente_telefone\n\npaciente_email\n\ntipo_atendimento\n\nconvenio (sim / não)\n\nperiodo_preferencia (manhã / tarde)\n\nNunca peça dados que já existam.\n\n🔢 OPÇÃO DE HORÁRIO\n\n⚠️ Nunca peça para o paciente escolher 1, 2 ou 3 se você não recebeu horários do sistema.\nSe ainda não houver horários, apenas informe que está verificando.\n\nExemplo correto quando NÃO há horários:\n\n“Perfeito! 😊 Vou verificar os horários disponíveis pra você. Um momento, por favor ⏰”\n\nExemplo correto quando HÁ horários:\n\n“Encontrei estes horários disponíveis para você:\nOpção 1… Opção 2… Opção 3…\nQual você prefere? 😊”\nExtraia:\n\n\"opcao_escolhida\": 2\n\n\nResponda com:\n\n“Perfeito! 😊 Vou confirmar seu agendamento. Um momento, por favor ⏳”\n\n❌ Não confirme sozinho\n❌ Não invente horários\n\n🧾 FORMATO DE RESPOSTA (OBRIGATÓRIO)\n\nVocê SEMPRE deve retornar apenas isso:\n\n{\n  \"mensagem_texto\": \"texto que será enviado ao WhatsApp\",\n  \"interesse_agendar\": false,\n  \"dados_extraidos\": {},\n  \"opcao_escolhida\": null\n}\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-944,-1696],"id":"28e14e24-d475-4d2d-bb3b-676f9f3142d6","name":"Patrícia"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"8d2ae582abf636695182ca5020b94cc681407c51e297c5ab6b428ca4b34d9231818934af4d3aac3ec6f12fa583ac591b21621dc430c16d2fc3b0f1d02d9fdab9"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"chatId","value":"={{ $('Gatilho Whats').item.json.body.payload._data.Info.Chat }}"},{"name":"session","value":"={{ $('Gatilho Whats').item.json.body.session }}"},{"name":"text","value":"={{ $json.mensagem_texto }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3840,-1712],"id":"0b66fe80-a6db-4731-9045-545b1f5e8559","name":"Patrícia Fala"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"8d2ae582abf636695182ca5020b94cc681407c51e297c5ab6b428ca4b34d9231818934af4d3aac3ec6f12fa583ac591b21621dc430c16d2fc3b0f1d02d9fdab9"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[960,-2912],"id":"d2df1fbb-3c4c-4e01-bfe2-8e1c251e3d79","name":"pix"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"usuarios_whatsapp","mode":"list","cachedResultName":"usuarios_whatsapp"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Padroniza info').item.json.tefefone }}","criado_em":"={{ $('Padroniza info').item.json._data.Info.Timestamp.toDateTime() }}"},"matchingColumns":["telefone"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"telefone","displayName":"telefone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome_completo","displayName":"nome_completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"asaas_customer_id","displayName":"asaas_customer_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"status_pagamento","displayName":"status_pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-272,-2560],"id":"1503d814-a0e0-4a2e-b7de-2154fda5377b","name":"save telefone e nome","alwaysOutputData":true,"credentials":{"postgres":{"id":"niNmVg2ZPUjIgaUJ","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  id,\n  telefone,\n  nome_completo,\n  status_pagamento,\n  asaas_customer_id\nFROM usuarios_whatsapp\nWHERE telefone = '{{ $json.telefone_limpo }}'\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1536,-1696],"id":"2dd1aeab-fc6d-42a3-bb67-8366475f679b","name":"Buscar usuário (postgres)","alwaysOutputData":true,"credentials":{"postgres":{"id":"niNmVg2ZPUjIgaUJ","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE usuarios_whatsapp\nSET\n  nome_completo = COALESCE(NULLIF('{{ $json.nome_completo || \"\" }}', ''), nome_completo),\n  cpf = COALESCE(NULLIF('{{ $json.cpf || \"\" }}', ''), cpf),\n  asaas_customer_id = COALESCE(NULLIF('{{ $json.asaas_customer_id || \"\" }}', ''), asaas_customer_id),\n  status_pagamento = COALESCE(NULLIF('{{ $json.status_pagamento || \"\" }}', ''), status_pagamento),\n  updated_at = NOW()\nWHERE telefone = '{{ $json.telefone }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,-2640],"id":"517452c8-f3e7-41e6-b920-124ba9e7cb16","name":"Execute a SQL query","credentials":{"postgres":{"id":"niNmVg2ZPUjIgaUJ","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a29e749b-fcb5-48b8-bf89-54772f254374","name":"telefone","value":"={{ String($json.telefone).replace(/\\D/g, '') }}","type":"string"},{"id":"709d8512-0551-464e-991e-166f1b827e6f","name":"  cpf","value":"=COALESCE(NULLIF('{{ $json.cpf || \"\" }}', ''), cpf)","type":"string"},{"id":"af65ddf3-f1e5-4061-9bce-aef4d7fa66c3","name":"asaas_customer_id","value":"=asaas_customer_id = COALESCE(NULLIF('{{ $json.asaas_customer_id || \"\" }}', ''), asaas_customer_id)","type":"string"},{"id":"dd6c3c96-9b9e-4807-9be4-c72b8100e08a","name":"status_pagamento ","value":"=COALESCE(NULLIF('{{ $json.status_pagamento || \"\" }}', ''), status_pagamento),   updated_at = NOW()","type":"string"},{"id":"b69b5059-31b3-4502-8668-8a46eb84b91b","name":"nome_completo","value":"=COALESCE(NULLIF('{{ $json.nome_completo || \"\" }}', ''), nome_completo)","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,-2640],"id":"04f6602c-9e84-4645-91c1-22de339a1d10","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://sandbox.asaas.com/api/v3/customers","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access_token","value":"$aact_hmlg_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OmEyMWI3YWE1LWE2ZGUtNDczNC1iMWM1LTNlYTAxNGZiYzc5Yzo6JGFhY2hfMWRmY2EzNzctN2M2ZC00ODIyLWI1ODUtNjVjMDljMWMwYjJk"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.nome_completo }}"},{"name":"cpfCnpj","value":"={{ $json.cpf }}"},{"name":"mobilePhone","value":"={{ $json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[688,-2592],"id":"e1eaaa39-208e-4834-81f7-9ab821b6d2ee","name":"criar cliente asaas"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"},"id":"56ea7f69-0dec-428b-89c5-44c23610143a"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8e577933-3e2d-4425-afee-0db03f1dfdd4","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[464,-2640],"id":"f87a598b-043c-4eb1-9bd4-fa6ec6afb594","name":"cadastro asaas?"},{"parameters":{"method":"POST","url":"POST https://sandbox.asaas.com/api/v3/payments","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access_token","value":"$aact_hmlg_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OmEyMWI3YWE1LWE2ZGUtNDczNC1iMWM1LTNlYTAxNGZiYzc5Yzo6JGFhY2hfMWRmY2EzNzctN2M2ZC00ODIyLWI1ODUtNjVjMDljMWMwYjJk"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"PIX","value":"={\n  \"customer\": \"{{ $json.asaas_customer_id }}\",\n  \"billingType\": \"PIX\",\n  \"value\": 150,\n  \"description\": \"Consulta odontológica – avaliação\"\n}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[912,-2688],"id":"13803b7d-3e94-41e7-b276-406305b9d35b","name":"boleto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bd86c80c-fb02-4532-8845-0f5c807474dc","leftValue":"={{ $json.cpf && $json.cpf.length === 11 }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"54318ff9-96a5-44fb-b576-943c6c418d5d","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[688,-2784],"id":"ff4f6adf-f5af-4eea-8565-cfbb9f1c33dd","name":"tipo de pagamento"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9879895b-94e1-49dd-a149-75f7c958859f","leftValue":"={{ $json.estado }}","rightValue":"=inicio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"inicio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"be88d899-5e83-4f8c-9f11-d5784e25a757","leftValue":"=={{ $json.estado }}","rightValue":"==coletando_dados","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"coletando_dados"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a13d22a0-3a16-4d28-b8aa-3a7bd3865efa","leftValue":"=={{ $json.estado }}","rightValue":"==buscando_horarios","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"buscando_horarios"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9a4cfffc-9c6f-4250-a14c-83bd232a91de","leftValue":"=={{ $json.estado }}","rightValue":"==aguardando_opcao","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"aguardando_opcao"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0a905104-6bbb-40bd-891f-99ff4eda5159","leftValue":"=={{ $json.estado }}","rightValue":"==criando_evento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"criando_evento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5f3245dd-1526-4b2b-b1f4-bd9a1ee9fab6","leftValue":"=={{ $json.estado }}","rightValue":"==finalizado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"finalizado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c3dad3bf-a403-4a71-9ade-e30f17acdd17","leftValue":"=={{ $json.estado }}","rightValue":"==default","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"default"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1200,-1744],"id":"9ada0871-e578-4435-b6c2-1fff57ebcc02","name":"Switch"},{"parameters":{"httpMethod":"POST","path":"webhook","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2144,-1696],"id":"e2bf8f69-3380-4e97-9966-ec9a0133df7c","name":"Gatilho Whats","webhookId":"643f2cea-d924-4245-bfbd-b20fc1d9f19c","credentials":{"httpHeaderAuth":{"id":"U9nccr8OkAYBXKGN","name":"Header Auth account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"93aa2a33-6d61-4700-8beb-423c912cf075","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2368,-3056],"id":"c73a7239-8f47-460d-9e3c-bfb4c660e91b","name":"horário livre?"},{"parameters":{"assignments":{"assignments":[{"id":"a7c1d2fc-a8e7-411d-bdc0-5321978d556d","name":"start_time","value":"={{ $json.start_time || $now }}","type":"string"},{"id":"3d0f3485-1de7-4e8d-977a-205c34a81c0c","name":"end_time","value":"={{ $json.end_time || $now.plus(1, 'hour') }}","type":"string"},{"id":"76a0c760-ade9-4215-9bf7-f9f1f97f6f63","name":"paciente_nome","value":"={{ $json.dados_extraidos?.nome_completo || 'Paciente' }}","type":"string"},{"id":"a2e2a79c-ce16-432c-8c2d-640cf6eff542","name":"paciente_email","value":"={{ $json.dados_extraidos?.email || '' }}","type":"string"},{"id":"92eb8397-5422-48b1-8c4f-90609eacaef9","name":"paciente_telefone","value":"={{ $json.telefone || '' }}","type":"string"},{"id":"c773bd1d-1174-4fb6-80bf-09f60534dc85","name":"tipo_atendimento","value":"={{ $json.tipo_atendimento || 'Avaliação' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2656,-3072],"id":"dea3d65c-92fd-46df-87e8-e7a2b9228350","name":"Edit Fields3"},{"parameters":{"jsCode":"const dadosIA = $node[\"Processar Resposta\"].json;\n\nreturn [{\n  json: {\n    \"start_time\": dadosIA.start_time || new Date().toISOString(),\n    \"end_time\": dadosIA.end_time || new Date(Date.now() + 3600000).toISOString(),\n    \"paciente_nome\": dadosIA.paciente_nome,\n    \"paciente_email\": dadosIA.paciente_email && dadosIA.paciente_email.includes('@') ? dadosIA.paciente_email : null,\n    \"paciente_telefone\": dadosIA.paciente_telefone || \"\",\n    \"tipo_atendimento\": dadosIA.tipo_atendimento || \"Avaliação\"\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2064,-2992],"id":"531819d0-3ddf-4c0d-93a9-2b81213fbfc1","name":"Code in JavaScript1"},{"parameters":{"jsCode":"const data = $input.item.json;\n\nconsole.log('========================================');\nconsole.log('PREPARAR DADOS');\nconsole.log('========================================');\n\n// Normaliza payload (WAHA / variações)\nconst payload =\n  data?.body?.payload?._data ||\n  data?._data ||\n  data ||\n  {};\n\n// ==================\n// TELEFONE\n// ==================\nlet telefone = '';\n\nif (payload.Info?.SenderAlt) {\n  telefone = payload.Info.SenderAlt\n    .replace('@s.whatsapp.net', '')\n    .replace(/\\D/g, '');\n  console.log('✅ Telefone (SenderAlt):', telefone);\n} else if (payload.Sender) {\n  telefone = payload.Sender.split(':')[0].split('@')[0];\n  console.log('✅ Telefone (Sender):', telefone);\n} else if (data.from) {\n  telefone = data.from.replace(/\\D/g, '');\n  console.log('✅ Telefone (from):', telefone);\n}\n\n// ==================\n// MENSAGEM\n// ==================\nlet mensagem = '';\n\nif (payload.Message?.conversation) {\n  mensagem = payload.Message.conversation;\n  console.log('✅ Mensagem (conversation):', mensagem);\n} else if (payload.Message?.extendedTextMessage?.text) {\n  mensagem = payload.Message.extendedTextMessage.text;\n  console.log('✅ Mensagem (extendedText):', mensagem);\n} else if (data.message) {\n  mensagem = data.message;\n  console.log('✅ Mensagem (message):', mensagem);\n} else if (data.text) {\n  mensagem = data.text;\n  console.log('✅ Mensagem (text):', mensagem);\n}\n\n// ==================\n// is_from_me\n// ==================\nconst isFromMe =\n  payload.Info?.IsFromMe === true ||\n  payload.IsFromMe === true ||\n  false;\n\nconsole.log('is_from_me:', isFromMe);\n\n// ==================\n// DETECÇÃO DE LOOP (HASH)\n// ==================\nfunction simpleHash(str) {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) - hash) + str.charCodeAt(i);\n    hash |= 0;\n  }\n  return hash.toString(36);\n}\n\nlet isBotMessage = false;\n\nif (mensagem && telefone) {\n  const agora = new Date();\n  const chaveTempo =\n    agora.getFullYear() + '-' +\n    agora.getMonth() + '-' +\n    agora.getDate() + '-' +\n    agora.getHours() + '-' +\n    agora.getMinutes();\n\n  const hash = simpleHash(\n    mensagem.trim() + '_' + telefone + '_' + chaveTempo\n  );\n\n  if (global.mensagensEnviadas?.has(hash)) {\n    isBotMessage = true;\n    console.log('🤖 Bot detectado (hash)');\n  }\n}\n\nconsole.log('========================================');\nconsole.log('RESULTADO');\nconsole.log('Telefone:', telefone);\nconsole.log('Mensagem:', mensagem);\nconsole.log('is_bot_message:', isBotMessage);\nconsole.log('========================================');\n\nreturn {\n  json: {\n    telefone,\n    telefone_limpo: telefone,\n    mensagem,\n    is_from_me: isFromMe,\n    is_bot_message: isBotMessage,\n    message_id: data.id || ''\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,-2304],"id":"688ce93e-dc9f-40c4-bbe2-49b647aed1c6","name":"Preparar Dados","disabled":true},{"parameters":{"jsCode":"let ia = $input.first().json;\nlet corpo = ia.output || ia;\n\n// Tenta parsear caso seja string\nif (typeof corpo === 'string') {\n  try { \n    corpo = JSON.parse(corpo); \n  } catch (e) { \n    corpo = { mensagem_texto: corpo }; \n  }\n}\n\n// Extrai dados adicionais\nconst dados = corpo.dados_extraidos || {};\n\n// Marca mensagem enviada (hash simples)\nconst mensagem = corpo.mensagem_texto || '';\nconst telefone = dados.paciente_telefone || $json.paciente_telefone || '';\n\nfunction simpleHash(str) {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) - hash) + str.charCodeAt(i);\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nif (mensagem && telefone) {\n  const agora = new Date();\n  const minuto = `${agora.getFullYear()}-${agora.getMonth()}-${agora.getDate()}-${agora.getHours()}-${agora.getMinutes()}`;\n  const hashInput = `${mensagem.trim()}_${telefone}_${minuto}`;\n  const hash = simpleHash(hashInput);\n\n  if (!global.mensagensEnviadas) {\n    global.mensagensEnviadas = new Set();\n  }\n\n  global.mensagensEnviadas.add(hash);\n}\n\n// Garantir que proximo_passo seja sempre string válida\nconst proximoPasso = corpo.proximo_passo\n    ? String(corpo.proximo_passo)\n    : \"coletar_dados\";\n\n// Retorna o JSON final para o fluxo\nreturn [{\n  json: {\n    ...$json,\n    intencao: corpo.intencao || \"desconhecido\",\n    mensagem_texto: corpo.mensagem_texto || \"\",\n    paciente_nome: dados.paciente_nome || $json.paciente_nome || \"Paciente\",\n    paciente_email: dados.paciente_email || $json.paciente_email || \"\",\n    paciente_telefone: dados.paciente_telefone || $json.paciente_telefone || \"\",\n    proximo_passo: proximoPasso,\n    agendamento_confirmado: corpo.agendamento_confirmado || null\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1664,-2464],"id":"f2d13d90-70f0-4176-8100-d061291b2a11","name":"Marcar Enviada","disabled":true},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"8d2ae582abf636695182ca5020b94cc681407c51e297c5ab6b428ca4b34d9231818934af4d3aac3ec6f12fa583ac591b21621dc430c16d2fc3b0f1d02d9fdab9"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $('Patrícia Fala').item.json._data.Message.extendedTextMessage.text }}"},{"name":"chatId","value":"={{ $('Gatilho Whats').item.json.body.payload._data.Info.Chat }}"},{"name":"session","value":"={{ $('Gatilho Whats').item.json.body.session }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2896,-3056],"id":"d899702b-e9e9-41b1-944e-9eb93b9ad514","name":"HTTP Request1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"b898b1b1-24ca-4835-b95e-f09e49d2d8e9","leftValue":"={{$json.id}}","rightValue":"","operator":{"type":"boolean","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[976,-2288],"id":"8be05acd-3d98-4948-ba6e-a6dc778a5a78","name":"Usuário existe?"},{"parameters":{"assignments":{"assignments":[{"id":"69b77525-d3a1-4dbb-92a9-2161ca95e972","name":"intencao","value":"=\"agendamento\"","type":"string"},{"id":"1cb3bef5-5a8c-47fe-a482-dbe27dbfda4c","name":"mensagem_texto","value":"=","type":"string"},{"id":"a85669d5-1e15-4f5e-89b4-fb5a8f0ebbd4","name":"paciente_nome","value":"={{ $json.paciente_nome || 'Paciente' }}","type":"string"},{"id":"f0c6f638-3424-4457-a89e-c719e20eca57","name":"paciente_email","value":"={{ $json.email || '' }}","type":"string"},{"id":"9da8a4ab-4ca6-4e36-9882-04652552553f","name":"paciente_telefone","value":"={{ $('Usuário existe?').item.json.telefone }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,-2240],"id":"59e60683-68d9-4f4b-88a0-2f94cc4fc9fb","name":"Padroniza info","disabled":true},{"parameters":{"jsCode":"let ia = $input.first().json;\nlet corpo = ia.output || ia;\n\nif (typeof corpo === 'string') {\n  try { \n    corpo = JSON.parse(corpo); \n  } catch (e) { \n    corpo = { mensagem_texto: corpo }; \n  }\n}\n\nconst dados = corpo.dados_extraidos || {};\n\n// Aqui você define a mensagem padrão da Patrícia se não houver mensagem do corpo\nconst mensagemPatricia = corpo.mensagem_texto || `Olá! 😊\\n\\nSou a Patrícia, recepcionista virtual da Clínica Odontológica Dentista Dentina.\\n\\nPara começar seu agendamento, preciso saber seu nome completo, por favor.`;\n\n// Aqui você garante que proximo_passo nunca seja null\nconst proximoPasso = (corpo.proximo_passo && corpo.proximo_passo[0]) || \"coletar_dados\";\n\nreturn [{\n  json: {\n    ...$json,\n    intencao: corpo.intencao || \"desconhecido\",\n    mensagem_texto: mensagemPatricia,\n\n    paciente_nome: dados.paciente_nome || $json.paciente_nome || \"Paciente\",\n    paciente_email: dados.paciente_email || $json.paciente_email || \"\",\n    paciente_telefone: dados.paciente_telefone || $json.paciente_telefone || \"\",\n\n    proximo_passo: proximoPasso,\n    agendamento_confirmado: corpo.agendamento_confirmado || null\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-832,-2304],"id":"4a430f4b-f8cb-4472-9a6e-48e91ed906fe","name":"Processar Resposta","disabled":true},{"parameters":{"jsCode":"return [{\n  json: {\n    ...$json,\n    horariosDisponiveis: items.map(i => i.json)\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-2064],"id":"4cf7769c-850f-4146-8f0a-c5676f997f89","name":"Code in JavaScript","disabled":true},{"parameters":{"jsCode":"const mensagemIA = $('Patrícia').item.json.output || '';\n\n// Tenta extrair o número da opção (1, 2 ou 3)\nlet opcaoEscolhida = null;\n\n// Procura por \"Opção 1\", \"Opção 2\", \"Opção 3\" na mensagem da IA\nconst match = mensagemIA.match(/opção\\s+(\\d)/i);\nif (match) {\n  opcaoEscolhida = parseInt(match[1]);\n}\n\n// Se não encontrou na mensagem da IA, tenta pegar do JSON\nif (!opcaoEscolhida && $json.opcao_escolhida) {\n  opcaoEscolhida = parseInt($json.opcao_escolhida);\n}\n\n// Se ainda não tem, tenta pegar da mensagem do usuário\nif (!opcaoEscolhida) {\n  const mensagemUsuario = $('Preparar Dados').item.json.mensagem || '';\n  const userMatch = mensagemUsuario.match(/(\\d)/);\n  if (userMatch) {\n    opcaoEscolhida = parseInt(userMatch[1]);\n  }\n}\n\n// Pega os horários disponíveis\nconst horariosDisponiveis = $json.horarios_disponiveis || [];\n\n// Valida se tem horários\nif (!horariosDisponiveis || horariosDisponiveis.length === 0) {\n  return [{\n    json: {\n      ...$json,\n      mensagem_texto: \"Desculpe, não consegui encontrar os horários. Vamos começar de novo? 😔\"\n    }\n  }];\n}\n\n// Valida a opção escolhida\nif (!opcaoEscolhida || opcaoEscolhida < 1 || opcaoEscolhida > 3) {\n  opcaoEscolhida = 1; // padrão é opção 1\n}\n\n// Pega o horário escolhido (opção 1 = índice 0)\nconst indice = opcaoEscolhida - 1;\nconst horarioEscolhido = horariosDisponiveis[indice] || horariosDisponiveis[0];\n\n// Retorna os dados para criar o evento\nreturn [{\n  json: {\n    ...$json,\n    agendamento_confirmado: {\n      data_hora_iso: horarioEscolhido.iso,\n      tipo_atendimento: $json.dados_extraidos?.tipo_atendimento || 'Consulta',\n      paciente_nome: $json.paciente_nome || 'Paciente',\n      paciente_email: $json.paciente_email || '',\n      paciente_telefone: $json.paciente_telefone || ''\n    },\n    mensagem_texto: `Confirmando seu agendamento para ${horarioEscolhido.data} às ${horarioEscolhido.hora}... ⏳`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,-1552],"id":"1482e1de-2fcc-48f6-b71c-7d899629339c","name":"puxa chatd e session"},{"parameters":{"jsCode":"const eventosOcupados = $input.all().map(i => i.json);\n\nconst duracaoConsulta = 60; // minutos\nconst horariosDisponiveis = [];\n\nconst agora = new Date();\nconst fimPeriodo = new Date();\nfimPeriodo.setDate(fimPeriodo.getDate() + 7);\n\n// Começa no próximo horário possível\nlet dataAtual = new Date(agora);\n\n// Se já passou das 18h ou se estamos fora do horário comercial, vai para o próximo dia às 08h\nif (dataAtual.getHours() >= 18 || dataAtual.getHours() < 8) {\n  dataAtual.setDate(dataAtual.getDate() + 1);\n  dataAtual.setHours(8, 0, 0, 0);\n} else {\n  // Arredonda para a próxima hora cheia\n  dataAtual.setHours(dataAtual.getHours() + 1, 0, 0, 0);\n}\n\nwhile (dataAtual < fimPeriodo && horariosDisponiveis.length < 10) {\n  const diaSemana = dataAtual.getDay();\n  \n  // Pula sábado (6) e domingo (0)\n  if (diaSemana === 0 || diaSemana === 6) {\n    dataAtual.setDate(dataAtual.getDate() + 1);\n    dataAtual.setHours(8, 0, 0, 0);\n    continue;\n  }\n\n  // Pula horários fora do comercial\n  if (dataAtual.getHours() >= 18) {\n    dataAtual.setDate(dataAtual.getDate() + 1);\n    dataAtual.setHours(8, 0, 0, 0);\n    continue;\n  }\n\n  const fimConsulta = new Date(dataAtual.getTime() + duracaoConsulta * 60000);\n\n  // Verifica se está ocupado\n  const ocupado = eventosOcupados.some(evento => {\n    const inicioEvento = new Date(evento.start?.dateTime || evento.start?.date);\n    const fimEvento = new Date(evento.end?.dateTime || evento.end?.date);\n    return dataAtual < fimEvento && fimConsulta > inicioEvento;\n  });\n\n  if (!ocupado) {\n    horariosDisponiveis.push({\n      data: dataAtual.toLocaleDateString('pt-BR', {\n        weekday: 'long',\n        day: '2-digit',\n        month: '2-digit'\n      }),\n      hora: dataAtual.toLocaleTimeString('pt-BR', {\n        hour: '2-digit',\n        minute: '2-digit'\n      }),\n      iso: dataAtual.toISOString()\n    });\n  }\n\n  // Próximo horário\n  dataAtual.setHours(dataAtual.getHours() + 1);\n}\n\nconst mensagem = horariosDisponiveis.length >= 3\n  ? `Encontrei estes horários disponíveis:\\n\\n` +\n    `📅 Opção 1: ${horariosDisponiveis[0].data} às ${horariosDisponiveis[0].hora}\\n` +\n    `📅 Opção 2: ${horariosDisponiveis[1].data} às ${horariosDisponiveis[1].hora}\\n` +\n    `📅 Opção 3: ${horariosDisponiveis[2].data} às ${horariosDisponiveis[2].hora}\\n\\n` +\n    `Qual opção você prefere? Digite 1, 2 ou 3 😊`\n  : `Não encontrei horários disponíveis nos próximos dias 😔`;\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    mensagem_texto: mensagem,\n    horarios_disponiveis: horariosDisponiveis.slice(0, 3) // só as 3 primeiras\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,-2288],"id":"6b366f67-c244-4ca4-ad04-5058a3846b9c","name":"busca horários vagos","disabled":true},{"parameters":{"jsCode":"const mensagem =\n  $json.mensagem_texto &&\n  typeof $json.mensagem_texto === 'string' &&\n  $json.mensagem_texto.trim().length > 0\n    ? $json.mensagem_texto\n    : 'Um momento, por favor 😊';\n\nreturn [\n  {\n    json: {\n      ...$json,\n      mensagem_texto: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,-2192],"id":"cdedc414-5391-4489-b70b-4318781bd9fb","name":"manda mensagem(a prova de Ia)","disabled":true},{"parameters":{"jsCode":"const evento = $json;\nconst agendamento = $('puxa chatd e session').item.json.agendamento_confirmado;\n\n// Formata a data\nconst dataInicio = new Date(evento.start?.dateTime || agendamento.data_hora_iso);\nconst dataFormatada = dataInicio.toLocaleDateString('pt-BR', {\n  weekday: 'long',\n  day: '2-digit',\n  month: '2-digit'\n});\nconst horaFormatada = dataInicio.toLocaleTimeString('pt-BR', {\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nreturn [{\n  json: {\n    ...$json,\n    mensagem_texto: `Pronto! ✅ Seu agendamento está confirmado para ${dataFormatada} às ${horaFormatada}.\n\nVocê receberá um e-mail de confirmação em breve. Até lá! 💙`,\n    paciente_telefone: agendamento.paciente_telefone\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-784,-2080],"id":"5960e254-7490-4f50-a78f-26e7b455f302","name":"Code in JavaScript2","disabled":true},{"parameters":{"jsCode":"const mensagem = ($json.mensagem || '').trim();\n\nlet proximo_passo = $json.proximo_passo || 'coletar_dados';\nlet opcao_escolhida = null;\n\n// Detecta escolha direta 1,2,3\nif (/^[123]$/.test(mensagem)) {\n  proximo_passo = 'confirmar_agendamento';\n  opcao_escolhida = Number(mensagem);\n}\n\n// Se já tem todos os dados → buscar horários\nif (\n  $json.paciente_nome &&\n  $json.paciente_telefone &&\n  $json.tipo_atendimento &&\n  proximo_passo === 'coletar_dados'\n) {\n  proximo_passo = 'buscar_horarios';\n}\n\nreturn [{\n  json: {\n    ...$json,\n    proximo_passo,\n    opcao_escolhida\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,-2336],"id":"ad881943-1823-45fc-9f82-93b7975842de","name":"Gerenciar estado","disabled":true},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"marcelopiraz@gmail.com","mode":"list","cachedResultName":"marcelopiraz@gmail.com"},"options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1792,-1808],"id":"07cb02f8-f20d-4541-bd7c-103fbea2f79a","name":"Get many events","credentials":{"googleCalendarOAuth2Api":{"id":"MegT4bnkKGZdYjSM","name":"Google Calendar account"}}},{"parameters":{"jsCode":"const agora = new Date();\nconst agoraBR = new Date(\n  agora.toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' })\n);\n\n// Começa sempre às 08:00\nagoraBR.setHours(8, 0, 0, 0);\n\n// ================================\n// 📅 EVENTOS OCUPADOS\n// ================================\nconst eventosOcupados = $input.all()\n  .map(i => i.json)\n  .filter(ev => ev?.start && ev?.end);\n\n// ================================\n// ⚙️ CONFIG\n// ================================\nconst horarios = [];\nconst duracao = 60; // minutos\nlet diasAdicionados = 0;\n\n// ================================\n// 🔍 BUSCA HORÁRIOS LIVRES\n// ================================\nwhile (horarios.length < 3 && diasAdicionados < 30) {\n  const diaCursor = new Date(agoraBR);\n  diaCursor.setDate(agoraBR.getDate() + diasAdicionados);\n  diasAdicionados++;\n\n  const diaSemana = diaCursor.getDay();\n  if (diaSemana === 0 || diaSemana === 6) continue; // pula fim de semana\n\n  for (let hora = 8; hora < 18; hora++) {\n    if (horarios.length >= 3) break;\n\n    const inicio = new Date(diaCursor);\n    inicio.setHours(hora, 0, 0, 0);\n\n    if (isNaN(inicio.getTime())) continue;\n\n    const fim = new Date(inicio.getTime() + duracao * 60000);\n\n    const ocupado = eventosOcupados.some(ev => {\n      const s = new Date(ev.start.dateTime || ev.start.date);\n      const e = new Date(ev.end.dateTime || ev.end.date);\n\n      if (isNaN(s.getTime()) || isNaN(e.getTime())) return false;\n\n      return inicio < e && fim > s;\n    });\n\n    if (!ocupado) {\n      horarios.push({\n        data: inicio.toLocaleDateString('pt-BR', {\n          weekday: 'long',\n          day: '2-digit',\n          month: '2-digit'\n        }),\n        hora: inicio.toLocaleTimeString('pt-BR', {\n          hour: '2-digit',\n          minute: '2-digit'\n        }),\n        iso: inicio.toISOString() // 🔒 agora nunca quebra\n      });\n    }\n  }\n}\n\n// ================================\n// 💬 MENSAGEM\n// ================================\nlet mensagem;\n\nif (horarios.length === 0) {\n  mensagem =\n    \"Poxa 😕 não encontrei horários disponíveis nos próximos dias. Quer tentar outra semana?\";\n} else {\n  mensagem = `Encontrei estes horários disponíveis 😊\n\n📅 Opção 1: ${horarios[0].data} às ${horarios[0].hora}\n📅 Opção 2: ${horarios[1].data} às ${horarios[1].hora}\n📅 Opção 3: ${horarios[2].data} às ${horarios[2].hora}\n\nQual você prefere? Digite 1, 2 ou 3`;\n}\n\n// ================================\n// ✅ RETORNO\n// ================================\nreturn [{\n  json: {\n    ...$json,\n    horarios_disponiveis: horarios,\n    estado: 'aguardando_opcao',\n    mensagem_texto: mensagem\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,-1824],"id":"e9df1ca5-69fa-4eb6-b2b0-f35e238f9d7b","name":"Buscar Horários livres"},{"parameters":{"calendar":{"__rl":true,"value":"marcelopiraz@gmail.com","mode":"list","cachedResultName":"marcelopiraz@gmail.com"},"start":"=={{ $json.data_hora_iso }}","end":"={{ new Date(new Date($json.data_hora_escolhida).getTime() + 60 * 60 * 1000).toISOString() }}","additionalFields":{"description":"=Paciente: {{ $json.dados_extraidos?.paciente_nome }} Telefone: {{ $json.dados_extraidos?.paciente_telefone }} Atendimento: {{ $json.dados_extraidos?.tipo_atendimento }} Convênio: {{ $json.dados_extraidos?.convenio }}","summary":"=Consulta Odontológica - {{ $json.dados_extraidos?.paciente_nome }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[2416,-1600],"id":"142f530c-2fba-4f4a-9365-06fbd24263d8","name":"Create an event","credentials":{"googleCalendarOAuth2Api":{"id":"MegT4bnkKGZdYjSM","name":"Google Calendar account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"cc5aded7-6348-449f-ae01-e9ac39baab06","leftValue":"={{$json.is_from_me}}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"324946c2-cd1d-4190-a94b-70cc6e94bf4c","leftValue":"={{$json.is_bot_message}}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"5d249615-8ca8-4a6b-b931-44d2495edfe3","leftValue":"={{$json.mensagem}}","rightValue":"","operator":{"type":"boolean","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1808,-1632],"id":"7a083a74-6f6e-4162-9e36-f21210dd1cd0","name":"If"},{"parameters":{"jsCode":"return [{\n  json: {\n    ...$json,\n    agendamento_confirmado: true,\n    event_id: $json.id,\n    estado: 'finalizado',\n    mensagem_texto: `Pronto! ✅ Seu agendamento está confirmado para ${$json.agendamento_confirmado.data} às ${$json.agendamento_confirmado.hora}.\nVocê receberá um e-mail de confirmação em breve 💙`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,-1680],"id":"0ac68d16-b0c3-4f57-a661-73ad0270243e","name":"Finalização + mensagem"},{"parameters":{"jsCode":"if ($json.agendamento_confirmado === true || $json.event_id) {\n  return [{\n    json: {\n      ...$json,\n      estado: 'finalizado',\n      mensagem_texto:\n        'Seu agendamento já está confirmado 😊 Se precisar de algo mais, é só me avisar 💙'\n    }\n  }];\n}\n\n// Verificação dos dados essenciais\nif (\n  !$json.agendamento_confirmado?.data_hora_iso &&\n  !$json.data_hora_iso\n) {\n  throw new Error('Data e hora não definidas para criação do evento');\n}\n\n// Normaliza dados\nconst dataHoraISO =\n  $json.agendamento_confirmado?.data_hora_iso ||\n  $json.data_hora_iso;\n\nreturn [{\n  json: {\n    ...$json,\n    data_hora_iso: dataHoraISO\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,-1632],"id":"9764b953-2757-4324-9480-194eb88d7790","name":"Valida criação de evento"},{"parameters":{"jsCode":"const evento = $input.first().json;\n\nconst data = new Date(evento.start.dateTime).toLocaleDateString('pt-BR', {\n  weekday: 'long',\n  day: '2-digit',\n  month: '2-digit'\n});\n\nconst hora = new Date(evento.start.dateTime).toLocaleTimeString('pt-BR', {\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nreturn [{\n  json: {\n    ...$json,\n    estado: 'finalizado',\n    agendamento_confirmado: true,\n    event_id: evento.id,\n    mensagem_texto:\n`Pronto! ✅ Seu agendamento está confirmado para ${data} às ${hora}.\nVocê receberá um e-mail de confirmação em breve 💙`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,-1328],"id":"afa398d3-5a6e-4c4e-b92d-7eff4046112a","name":"Code in JavaScript4","disabled":true},{"parameters":{"jsCode":"const raw =\n  $json.body?.payload?._data?.Info?.SenderAlt ||\n  $json.body?.payload?._data?.Info?.Sender ||\n  '';\n\nconst telefone_limpo = raw.replace(/\\D/g, '');\n\nreturn [{\n  json: {\n    ...$json,\n    telefone_limpo\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1856,-1696],"id":"15d61da6-de4a-4f6f-9cc5-22598b06aa7a","name":"Normaliza telefone"},{"parameters":{"jsCode":"const u = $input.first().json;\n\nreturn [{\n  json: {\n    ...$json,\n    usuario: {\n      id: u.id,\n      telefone: u.telefone,\n      nome: u.nome_completo,\n      status_pagamento: u.status_pagamento,\n      asaas_customer_id: u.asaas_customer_id\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1168,-1696],"id":"a0f187bd-4c8e-4754-bbfe-ff47c4f0fd2e","name":"Contexo Usuário"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  id,\n  telefone,\n  nome_completo,\n  status_pagamento,\n  asaas_customer_id,\n  horarios_disponiveis,\n  estado\nFROM usuarios_whatsapp\nWHERE telefone = '{{ $json.dados_extraidos.paciente_telefone }}'\n  AND nome_completo = '{{ $json.dados_extraidos.paciente_nome }}'\n  AND estado = '{{ $json.estado }}'\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1648,-1792],"id":"c5cd8ea1-9427-40ba-b588-34ddde7837cb","name":"Buscar usuário (postgres)1","alwaysOutputData":true,"credentials":{"postgres":{"id":"niNmVg2ZPUjIgaUJ","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO usuarios_whatsapp (\n  telefone,\n  email,\n  status_pagamento\n)\nVALUES (\n  '{{ $json.telefone_limpo }}',\n  '',\n  'pendente'\n)\nON CONFLICT (telefone)\nDO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2624,-1648],"id":"d7e7f245-ab81-4501-8a8d-8c8fb2a80498","name":"criar usuário (postgres)1","alwaysOutputData":false,"credentials":{"postgres":{"id":"niNmVg2ZPUjIgaUJ","name":"Postgres account"}}},{"parameters":{"jsCode":"const dadosAnteriores = $json.dados_extraidos || {};\nconst dadosNovos = $json.dados_extraidos || {}; // 👈 CORRETO\n\nconst limpar = obj =>\n  Object.fromEntries(\n    Object.entries(obj).filter(\n      ([_, v]) => v !== null && v !== undefined && v !== ''\n    )\n  );\n\nconst dados = {\n  ...limpar(dadosAnteriores),\n  ...limpar(dadosNovos),\n};\n\n// ===============================\n// 📩 MENSAGEM DO USUÁRIO\n// ===============================\nconst mensagemUsuario =\n  $json.body?.payload?._data?.Message?.conversation || '';\n\n// ===============================\n// 🔁 ESTADO ATUAL\n// ===============================\nlet estadoAtual = $json.estado ?? 'inicio';\n\n// ===============================\n// 🔢 OPÇÃO ESCOLHIDA (1,2,3)\n// ===============================\nconst opcaoMatch = mensagemUsuario.match(/\\b([1-3])\\b/);\nconst opcaoEscolhida = opcaoMatch ? Number(opcaoMatch[1]) : null;\n\n// ===============================\n// 📋 CAMPOS OBRIGATÓRIOS\n// ===============================\nconst obrigatorios = [\n  'paciente_nome',\n  'paciente_telefone',\n  'paciente_email',\n  'tipo_atendimento',\n  'convenio',\n  'periodo_preferencia'\n];\n\nconst dadosFaltantes = obrigatorios.filter(campo => !dados[campo]);\n\n// ===============================\n// 🔒 CONTROLE DE ESTADO (ORDEM CRÍTICA)\n// ===============================\n\n// 1️⃣ Finalizado\nif ($json.agendamento_confirmado === true) {\n  estadoAtual = 'finalizado';\n}\n\n// 2️⃣ Usuário desistiu\nelse if ($json.interesse_agendar === false) {\n  estadoAtual = 'inicio';\n}\n\n// 3️⃣ Ainda coletando dados\nelse if (dadosFaltantes.length > 0) {\n  estadoAtual = 'coletando_dados';\n}\n\n// 4️⃣ Dados completos → buscar horários\nelse if (\n  !Array.isArray($json.horarios_disponiveis) ||\n  $json.horarios_disponiveis.length === 0\n) {\n  estadoAtual = 'buscando_horarios';\n}\n\n// 5️⃣ Horários disponíveis, aguardando escolha\nelse if (!opcaoEscolhida) {\n  estadoAtual = 'aguardando_opcao';\n}\n\n// 6️⃣ Escolheu horário\nelse {\n  estadoAtual = 'criando_evento';\n}\n\n// ===============================\n// ✅ RETORNO FINAL\n// ===============================\nreturn [{\n  json: {\n    ...$json,\n    dados_extraidos: dados, // 👈 AGORA SALVA DE VERDADE\n    estado: estadoAtual,\n    opcao_escolhida: opcaoEscolhida,\n    dados_faltantes: dadosFaltantes\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,-1696],"id":"fdae1650-bcaf-47f8-98d6-4d26653d8ced","name":"controlador de estado/ Normaliza Estado"},{"parameters":{"jsCode":"let opcaoEscolhida = $json.opcao_escolhida;\n\nif (!opcaoEscolhida) {\n  const mensagemUsuario = $json.body?.payload?._data?.Message?.conversation || '';\n  const match = mensagemUsuario.match(/\\b([1-3])\\b/);\n  opcaoEscolhida = match ? parseInt(match[1]) : 1;\n}\n\nconst horariosDisponiveis = $json.horarios_disponiveis || [];\n\nif (!horariosDisponiveis || horariosDisponiveis.length === 0) {\n  return [{\n    json: {\n      ...$json,\n      estado: 'inicio',\n      mensagem_texto: \"Desculpe, não consegui encontrar os horários. Vamos começar de novo? 😔\"\n    }\n  }];\n}\n\nif (!opcaoEscolhida || opcaoEscolhida < 1 || opcaoEscolhida > 3) {\n  opcaoEscolhida = 1;\n}\n\nconst indice = opcaoEscolhida - 1;\nconst horarioEscolhido = horariosDisponiveis[indice] || horariosDisponiveis[0];\n\nreturn [{\n  json: {\n    ...$json,\n    data_hora_iso: horarioEscolhido.iso,\n    horario_escolhido: horarioEscolhido,\n    estado: 'criando_evento',\n    mensagem_texto: `Confirmando seu agendamento para ${horarioEscolhido.data} às ${horarioEscolhido.hora}... ⏳`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2224,-1600],"id":"604288dc-0afd-45d4-840a-b37248664810","name":"opcaoEscolhida"},{"parameters":{"jsCode":"const dados = $json.dados_extraidos || {};\nconst mensagemUsuario =\n  $json.body?.payload?._data?.Message?.conversation || '';\n\nlet estadoAtual = $json.estado || 'inicio';\n\n// Detecta opção 1,2,3\nconst opcaoMatch = mensagemUsuario.match(/\\b([1-3])\\b/);\nconst opcaoEscolhida = opcaoMatch ? Number(opcaoMatch[1]) : null;\n\n// Campos obrigatórios\nconst obrigatorios = [\n  'paciente_nome',\n  'paciente_telefone',\n  'paciente_email',\n  'tipo_atendimento',\n  'convenio',\n  'periodo_preferencia'\n];\n\nconst dadosFaltantes = obrigatorios.filter(campo => !dados[campo]);\n\n// ===============================\n// REGRAS DE ESTADO (ORDEM CRÍTICA)\n// ===============================\n\n// 1️⃣ Finalizado\nif ($json.agendamento_confirmado === true) {\n  estadoAtual = 'finalizado';\n}\n\n// 2️⃣ Sem interesse\nelse if ($json.interesse_agendar === false) {\n  estadoAtual = 'inicio';\n}\n\n// 3️⃣ Ainda coletando dados\nelse if (dadosFaltantes.length > 0) {\n  estadoAtual = 'coletando_dados';\n}\n\n// 4️⃣ Dados completos → buscar horários\nelse if (\n  !$json.horarios_disponiveis ||\n  !Array.isArray($json.horarios_disponiveis) ||\n  $json.horarios_disponiveis.length === 0\n) {\n  estadoAtual = 'buscando_horarios';\n}\n\n// 5️⃣ Horários existem, mas ainda não escolheu\nelse if (!opcaoEscolhida) {\n  estadoAtual = 'aguardando_opcao';\n}\n\n// 6️⃣ Escolheu opção\nelse {\n  estadoAtual = 'criando_evento';\n}\n\nreturn [{\n  json: {\n    ...$json,\n    estado: estadoAtual,\n    opcao_escolhida: opcaoEscolhida,\n    dados_faltantes: dadosFaltantes\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,-1392],"id":"c74c532f-a11a-40bd-b3b4-aeceb04af74f","name":"controlador de estado/ Normaliza Estado3"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"usuarios_whatsapp","mode":"list","cachedResultName":"usuarios_whatsapp"},"columns":{"mappingMode":"defineBelow","value":{"total_mensagens":0,"id":"={{ $('Buscar usuário (postgres)').item.json.id }}","horarios_disponiveis":"={{ { opcoes: $json.horarios_disponiveis } }}","estado":"=={{ $json.estado }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"telefone","displayName":"telefone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nome_completo","displayName":"nome_completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"asaas_customer_id","displayName":"asaas_customer_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status_pagamento","displayName":"status_pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"primeira_interacao","displayName":"primeira_interacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"ultima_interacao","displayName":"ultima_interacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"total_mensagens","displayName":"total_mensagens","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"google_event_id","displayName":"google_event_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ultimo_agendamento","displayName":"ultimo_agendamento","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"dados_coletados","displayName":"dados_coletados","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"horarios_disponiveis","displayName":"horarios_disponiveis","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"event_id","displayName":"event_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2464,-1792],"id":"c49d93dd-cbd0-4384-93b1-745c60819fa6","name":"Update rows in a table","credentials":{"postgres":{"id":"niNmVg2ZPUjIgaUJ","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8f2cad2a-e3b4-4a74-9b69-909f79103e42","name":"mensagem_texto","value":"={{ JSON.parse($json.output).mensagem_texto }}","type":"string"},{"id":"6a69348e-f0a8-4f0b-b042-a5e699d57f8f","name":"dados_extraidos","value":"={{ $json.dados_extraidos ?? {} }}","type":"string"},{"id":"cd8ca531-7c3f-4e47-96b7-b9e207204cdd","name":"estado","value":"={{ $json.estado ?? 'inicio' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,-1696],"id":"24637e2f-8171-4758-94bb-c54ad9e1102b","name":"Edit Fields1"},{"parameters":{"jsCode":"const dadosSalvos = $json.dados_usuario || {};\n\n// Dados extraídos nesta mensagem\nconst dadosNovos = $json.dados_extraidos || {};\n\n// Merge inteligente (novos sobrescrevem antigos)\nconst dadosUnificados = {\n  ...dadosSalvos,\n  ...dadosNovos\n};\n\nreturn [{\n  json: {\n    ...$json,\n    dados_extraidos: dadosUnificados\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-304,-1696],"id":"ff42231b-fb98-4bea-ba3c-ea74ac9757ef","name":"Code in JavaScript3"},{"parameters":{"jsCode":"const dadosAnteriores = $json.dados_extraidos || {};\nconst novosDados = $json.dados_extraidos_novos || {}; // ou vindo do NLP\n\nreturn [{\n  json: {\n    ...$json,\n    dados_extraidos: {\n      ...dadosAnteriores,\n      ...novosDados\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,-1696],"id":"fab32041-071e-4d6a-a296-50f7c0bfe1d2","name":"Code in JavaScript5"},{"parameters":{"operation":"executeQuery","query":"UPDATE usuarios_whatsapp\nSET \n  nome_completo = COALESCE('{{ $json.dados_extraidos.paciente_nome }}', nome_completo),\n  email = COALESCE('{{ $json.dados_extraidos.paciente_email }}', email),\n  estado = '{{ $json.estado }}',\n  dados_coletados = '{{ JSON.stringify($json.dados_extraidos) }}'::jsonb\nWHERE telefone = '{{ $json.telefone_limpo }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2224,-1856],"id":"4b3a0f2d-9925-40ae-a353-06072cc973cf","name":"Execute a SQL query1","credentials":{"postgres":{"id":"niNmVg2ZPUjIgaUJ","name":"Postgres account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Patrícia","type":"ai_languageModel","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Patrícia","type":"ai_memory","index":0}]]},"Patrícia":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Patrícia Fala":{"main":[[]]},"save telefone e nome":{"main":[[]]},"Buscar usuário (postgres)":{"main":[[{"node":"Contexo Usuário","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"cadastro asaas?","type":"main","index":0}]]},"criar cliente asaas":{"main":[[{"node":"cadastro asaas?","type":"main","index":0}]]},"pix":{"main":[[]]},"cadastro asaas?":{"main":[[{"node":"tipo de pagamento","type":"main","index":0}],[{"node":"criar cliente asaas","type":"main","index":0}]]},"tipo de pagamento":{"main":[[{"node":"pix","type":"main","index":0}],[{"node":"boleto","type":"main","index":0}]]},"Gatilho Whats":{"main":[[{"node":"Normaliza telefone","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Patrícia Fala","type":"main","index":0}],[{"node":"Execute a SQL query1","type":"main","index":0}],[{"node":"Buscar usuário (postgres)1","type":"main","index":0}],[{"node":"Patrícia Fala","type":"main","index":0}],[{"node":"Valida criação de evento","type":"main","index":0}],[{"node":"controlador de estado/ Normaliza Estado3","type":"main","index":0}],[{"node":"Patrícia Fala","type":"main","index":0}]]},"horário livre?":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"horário livre?","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"horário livre?","type":"main","index":0}]]},"Preparar Dados":{"main":[[]]},"Marcar Enviada":{"main":[[]]},"Usuário existe?":{"main":[[],[]]},"Padroniza info":{"main":[[]]},"Processar Resposta":{"main":[[]]},"Code in JavaScript":{"main":[[]]},"puxa chatd e session":{"main":[[{"node":"opcaoEscolhida","type":"main","index":0}]]},"busca horários vagos":{"main":[[]]},"manda mensagem(a prova de Ia)":{"main":[[]]},"Code in JavaScript2":{"main":[[]]},"Gerenciar estado":{"main":[[]]},"Get many events":{"main":[[{"node":"Buscar Horários livres","type":"main","index":0}]]},"Buscar Horários livres":{"main":[[{"node":"Update rows in a table","type":"main","index":0}]]},"Create an event":{"main":[[{"node":"criar usuário (postgres)1","type":"main","index":0}]]},"If":{"main":[[{"node":"Finalização + mensagem","type":"main","index":0}],[{"node":"puxa chatd e session","type":"main","index":0}]]},"Finalização + mensagem":{"main":[[{"node":"Patrícia Fala","type":"main","index":0}]]},"Valida criação de evento":{"main":[[{"node":"If","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[]]},"Normaliza telefone":{"main":[[{"node":"Buscar usuário (postgres)","type":"main","index":0}]]},"Contexo Usuário":{"main":[[{"node":"Patrícia","type":"main","index":0}]]},"Buscar usuário (postgres)1":{"main":[[{"node":"Get many events","type":"main","index":0}]]},"criar usuário (postgres)1":{"main":[[]]},"controlador de estado/ Normaliza Estado":{"main":[[{"node":"Switch","type":"main","index":0}]]},"opcaoEscolhida":{"main":[[{"node":"Create an event","type":"main","index":0}]]},"controlador de estado/ Normaliza Estado3":{"main":[[{"node":"Patrícia Fala","type":"main","index":0}]]},"Update rows in a table":{"main":[[{"node":"Patrícia Fala","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"controlador de estado/ Normaliza Estado","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"Patrícia Fala","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Padroniza info":[{"json":{"output":"{\n  \"intencao\": \"agendamento\",\n  \"mensagem_texto\": \"Prazer, Marcelo! 😊\\n\\nAgora, qual é o seu número de telefone?\",\n  \"proximo_passo\": \"coletar_dados\",\n  \"interesse_agendar\": true,\n  \"dados_extraidos\": {\n    \"paciente_nome\": \"Marcelo Barbosa\"\n  }\n}","intencao":"\"agendamento\"","mensagem_texto":"Prazer, Marcelo! 😊\n\nAgora, qual é o seu número de telefone?","paciente_nome":"Marcelo Barbosa","paciente_email":"","paciente_telefone":"557592721127","proximo_passo":"c","agendamento_confirmado":null},"pairedItem":{"item":0}}],"Processar Resposta":[{"json":{"output":"{\n  \"intencao\": \"agendamento\",\n  \"mensagem_texto\": \"Prazer, Marcelo! 😊\\n\\nAgora, qual é o seu número de telefone?\",\n  \"proximo_passo\": \"coletar_dados\",\n  \"interesse_agendar\": true,\n  \"dados_extraidos\": {\n    \"paciente_nome\": \"Marcelo Barbosa\"\n  }\n}","intencao":"agendamento","mensagem_texto":"Prazer, Marcelo! 😊\n\nAgora, qual é o seu número de telefone?","paciente_nome":"Marcelo Barbosa","paciente_email":"","paciente_telefone":"","proximo_passo":"c","agendamento_confirmado":null},"pairedItem":{"item":0}}],"Preparar Dados":[{"json":{"telefone":"558387072796","telefone_limpo":"558387072796","mensagem":"Tardr","is_from_me":false,"is_bot_message":false,"message_id":""},"pairedItem":{"item":0}}],"Marcar Enviada":[{"json":{"output":"{\n  \"intencao\": \"agendamento\",\n  \"mensagem_texto\": \"Perfeito! 😊 Vou verificar os horários disponíveis pra você no período da tarde. Um momento, por favor ⏰\",\n  \"interesse_agendar\": true,\n  \"dados_extraidos\": {\n    \"paciente_nome\": \"João Da Conceição\",\n    \"paciente_telefone\": \"83 987772777\",\n    \"paciente_email\": \"Joaoconceito@gmail.com\",\n    \"tipo_atendimento\": \"Limpeza\",\n    \"convenio\": \"sim\",\n    \"periodo_preferencia\": \"tarde\"\n  }\n}","intencao":"agendamento","mensagem_texto":"Perfeito! 😊 Vou verificar os horários disponíveis pra você no período da tarde. Um momento, por favor ⏰","paciente_nome":"João Da Conceição","paciente_email":"Joaoconceito@gmail.com","paciente_telefone":"83 987772777","proximo_passo":"coletar_dados","agendamento_confirmado":null},"pairedItem":{"item":0}}],"Usuário existe?":[{"json":{},"pairedItem":{"item":0}}],"manda mensagem(a prova de Ia)":[{"json":{"output":"{\n  \"intencao\": \"agendamento\",\n  \"mensagem_texto\": \"Perfeito! 😊 Vou verificar os horários disponíveis pra você no período da tarde. Um momento, por favor ⏰\",\n  \"interesse_agendar\": true,\n  \"dados_extraidos\": {\n    \"paciente_nome\": \"João Da Conceição\",\n    \"paciente_telefone\": \"83 987772777\",\n    \"paciente_email\": \"Joaoconceito@gmail.com\",\n    \"tipo_atendimento\": \"Limpeza\",\n    \"convenio\": \"sim\",\n    \"periodo_preferencia\": \"tarde\"\n  }\n}","intencao":"agendamento","mensagem_texto":"Perfeito! 😊 Vou verificar os horários disponíveis pra você no período da tarde. Um momento, por favor ⏰","paciente_nome":"João Da Conceição","paciente_email":"Joaoconceito@gmail.com","paciente_telefone":"83 987772777","proximo_passo":"coletar_dados","agendamento_confirmado":null},"pairedItem":{"item":0}}],"Gerenciar estado":[{"json":{"id":54,"telefone":"undefined","nome_completo":"undefined","cpf":"undefined","asaas_customer_id":"undefined","status_pagamento":"undefined","created_at":"2025-12-17T09:50:59.040Z","updated_at":"2025-12-18T12:22:31.082Z","proximo_passo":"coletar_dados","opcao_escolhida":null},"pairedItem":{"item":0}}],"Gatilho Whats":[{"json":{"headers":{"accept":"application/json, text/plain, */*","content-type":"application/json","user-agent":"WAHA/2025.12.1","authorization":"Bearer psynCHrIDerackINceROprOBaceDLeSC","x-webhook-request-id":"13wgmm7mjihjmf1","x-webhook-timestamp":"1766488334652","content-length":"2225","accept-encoding":"gzip, compress, deflate, br","host":"n8n:5678","connection":"keep-alive"},"params":{},"query":{},"body":{"id":"evt_01kd5ehr9wch54qhq3xxfa4say","timestamp":1766488334652,"event":"message","session":"default","me":{"id":"558393926939@c.us","pushName":"Agente Virtual","lid":"232830881788137@lid","jid":"558393926939:1@s.whatsapp.net"},"payload":{"id":"false_216307505070165@lid_ACEE41A6B20895877815A15AB1AAF3E6","timestamp":1766488334,"from":"216307505070165@lid","fromMe":false,"source":"app","body":"Cancelar","to":null,"participant":null,"hasMedia":false,"media":null,"ack":2,"location":null,"vCards":null,"ackName":"DEVICE","replyTo":null,"_data":{"Info":{"Chat":"216307505070165@lid","Sender":"216307505070165@lid","IsFromMe":false,"IsGroup":false,"AddressingMode":"","SenderAlt":"557592721127@s.whatsapp.net","RecipientAlt":"","BroadcastListOwner":"","BroadcastRecipients":null,"ID":"ACEE41A6B20895877815A15AB1AAF3E6","ServerID":0,"Type":"text","PushName":"Marcelo Piras","Timestamp":"2025-12-23T11:12:14Z","Category":"","Multicast":false,"MediaType":"","Edit":"","MsgBotInfo":{"EditType":"","EditTargetID":"","EditSenderTimestampMS":"0001-01-01T00:00:00Z"},"MsgMetaInfo":{"TargetID":"","TargetSender":"","TargetChat":"","DeprecatedLIDSession":null,"ThreadMessageID":"","ThreadMessageSenderJID":""},"VerifiedName":null,"DeviceSentMeta":null},"Message":{"conversation":"Cancelar","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"rGGLNPCvsjVGFw==","senderTimestamp":1765406655,"recipientKeyHash":"665BErtwa/NU9g==","recipientTimestamp":1765965800},"deviceListMetadataVersion":2,"messageSecret":"8/TFpSAj7sEAei9QBKRoscndzBtHUKdlYjT7Tm5CZQk="}},"IsEphemeral":false,"IsViewOnce":false,"IsViewOnceV2":false,"IsViewOnceV2Extension":false,"IsDocumentWithCaption":false,"IsLottieSticker":false,"IsBotInvoke":false,"IsEdit":false,"SourceWebMsg":null,"UnavailableRequestID":"","RetryCount":0,"NewsletterMeta":null,"RawMessage":{"conversation":"Cancelar","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"rGGLNPCvsjVGFw==","senderTimestamp":1765406655,"recipientKeyHash":"665BErtwa/NU9g==","recipientTimestamp":1765965800},"deviceListMetadataVersion":2,"messageSecret":"8/TFpSAj7sEAei9QBKRoscndzBtHUKdlYjT7Tm5CZQk="}},"Status":3}},"environment":{"version":"2025.12.1","engine":"GOWS","tier":"CORE","browser":null}},"webhookUrl":"https://uncoachable-jamal-multangular.ngrok-free.dev/webhook/webhook","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"947ec3ca-a57a-499d-adca-4d8381b7da50","activeVersionId":"947ec3ca-a57a-499d-adca-4d8381b7da50","triggerCount":1,"shared":[{"updatedAt":"2025-12-12T08:46:09.727Z","createdAt":"2025-12-12T08:46:09.727Z","role":"workflow:owner","workflowId":"GIyQzPzKjDBCtJDL","projectId":"ej8gVdo1FjD7Hco2"}],"activeVersion":{"updatedAt":"2025-12-24T10:28:15.077Z","createdAt":"2025-12-24T10:28:15.077Z","versionId":"947ec3ca-a57a-499d-adca-4d8381b7da50","workflowId":"GIyQzPzKjDBCtJDL","nodes":[{"parameters":{"model":{"__rl":true,"value":"deepseek-chat","mode":"id"},"responsesApiEnabled":false,"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-864,-1408],"id":"b17e6350-8119-4b09-b16d-c271cf7a6b0c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"U360MhzRhu1kwzRA","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Gatilho Whats').item.json.body.payload._data.Info.Chat || $json.telefone_limpo || 'sessao_default' }}","sessionTTL":3600,"contextWindowLength":"={{ 5 }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-688,-1328],"id":"f81c2181-5fdb-443f-b509-73b0603ccfa1","name":"Redis Chat Memory","credentials":{"redis":{"id":"JinOWEIdaN9W3KMd","name":"Redis account"}}},{"parameters":{"promptType":"define","text":"={{ $('Gatilho Whats').item.json.body.payload._data.Message.conversation }}","options":{"systemMessage":"=🦷 Clínica Odontológica Dentista Dentina\n\n🤖 Patrícia — Recepcionista Virtual\n\nVocê é Patrícia, recepcionista virtual da Clínica Dentista Dentina.\nAtende pacientes pelo WhatsApp com empatia, clareza e objetividade.\n\n⚠️ REGRAS ABSOLUTAS\n\nVocê NÃO substitui o dentista\n\nVocê NÃO faz diagnósticos\n\nVocê NÃO prescreve medicamentos\n\nVocê NUNCA decide o estado do fluxo\n\nVocê SEMPRE retorna mensagem_texto (nunca vazio)\n\n👋 INÍCIO DA CONVERSA\n\nNa primeira interação:\n\nApresente-se\n\nExplique como pode ajudar\n\nNÃO peça dados\n\nExemplo:\n\n“Oi! 😊 Eu sou a Patrícia, da Clínica Dentista Dentina.\nPosso te ajudar com agendamentos, informações sobre nossos tratamentos ou tirar dúvidas sobre a clínica. Como posso te ajudar hoje? 💙”\n\n🧠 SUA FUNÇÃO (IMPORTANTE)\n\nVocê NÃO controla o fluxo.\nVocê apenas:\n\nresponde o paciente\n\nextrai informações quando o paciente fornece\n\nescreve a mensagem que será enviada\n\nO sistema decidirá:\n\nse está coletando dados\n\nse vai buscar horários\n\nse vai criar evento\n\nse finaliza\n\n📋 EXTRAÇÃO DE DADOS (SEMPRE QUE APARECER)\n\nExtraia apenas se o paciente informar espontaneamente:\n\npaciente_nome\n\npaciente_telefone\n\npaciente_email\n\ntipo_atendimento\n\nconvenio (sim / não)\n\nperiodo_preferencia (manhã / tarde)\n\nNunca peça dados que já existam.\n\n🔢 OPÇÃO DE HORÁRIO\n\n⚠️ Nunca peça para o paciente escolher 1, 2 ou 3 se você não recebeu horários do sistema.\nSe ainda não houver horários, apenas informe que está verificando.\n\nExemplo correto quando NÃO há horários:\n\n“Perfeito! 😊 Vou verificar os horários disponíveis pra você. Um momento, por favor ⏰”\n\nExemplo correto quando HÁ horários:\n\n“Encontrei estes horários disponíveis para você:\nOpção 1… Opção 2… Opção 3…\nQual você prefere? 😊”\nExtraia:\n\n\"opcao_escolhida\": 2\n\n\nResponda com:\n\n“Perfeito! 😊 Vou confirmar seu agendamento. Um momento, por favor ⏳”\n\n❌ Não confirme sozinho\n❌ Não invente horários\n\n🧾 FORMATO DE RESPOSTA (OBRIGATÓRIO)\n\nVocê SEMPRE deve retornar apenas isso:\n\n{\n  \"mensagem_texto\": \"texto que será enviado ao WhatsApp\",\n  \"interesse_agendar\": false,\n  \"dados_extraidos\": {},\n  \"opcao_escolhida\": null\n}\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-944,-1696],"id":"28e14e24-d475-4d2d-bb3b-676f9f3142d6","name":"Patrícia"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"8d2ae582abf636695182ca5020b94cc681407c51e297c5ab6b428ca4b34d9231818934af4d3aac3ec6f12fa583ac591b21621dc430c16d2fc3b0f1d02d9fdab9"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"chatId","value":"={{ $('Gatilho Whats').item.json.body.payload._data.Info.Chat }}"},{"name":"session","value":"={{ $('Gatilho Whats').item.json.body.session }}"},{"name":"text","value":"={{ $json.mensagem_texto }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3840,-1712],"id":"0b66fe80-a6db-4731-9045-545b1f5e8559","name":"Patrícia Fala"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"8d2ae582abf636695182ca5020b94cc681407c51e297c5ab6b428ca4b34d9231818934af4d3aac3ec6f12fa583ac591b21621dc430c16d2fc3b0f1d02d9fdab9"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[960,-2912],"id":"d2df1fbb-3c4c-4e01-bfe2-8e1c251e3d79","name":"pix"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"usuarios_whatsapp","mode":"list","cachedResultName":"usuarios_whatsapp"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Padroniza info').item.json.tefefone }}","criado_em":"={{ $('Padroniza info').item.json._data.Info.Timestamp.toDateTime() }}"},"matchingColumns":["telefone"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"telefone","displayName":"telefone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome_completo","displayName":"nome_completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"asaas_customer_id","displayName":"asaas_customer_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"status_pagamento","displayName":"status_pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-272,-2560],"id":"1503d814-a0e0-4a2e-b7de-2154fda5377b","name":"save telefone e nome","alwaysOutputData":true,"credentials":{"postgres":{"id":"niNmVg2ZPUjIgaUJ","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  id,\n  telefone,\n  nome_completo,\n  status_pagamento,\n  asaas_customer_id\nFROM usuarios_whatsapp\nWHERE telefone = '{{ $json.telefone_limpo }}'\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1536,-1696],"id":"2dd1aeab-fc6d-42a3-bb67-8366475f679b","name":"Buscar usuário (postgres)","alwaysOutputData":true,"credentials":{"postgres":{"id":"niNmVg2ZPUjIgaUJ","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE usuarios_whatsapp\nSET\n  nome_completo = COALESCE(NULLIF('{{ $json.nome_completo || \"\" }}', ''), nome_completo),\n  cpf = COALESCE(NULLIF('{{ $json.cpf || \"\" }}', ''), cpf),\n  asaas_customer_id = COALESCE(NULLIF('{{ $json.asaas_customer_id || \"\" }}', ''), asaas_customer_id),\n  status_pagamento = COALESCE(NULLIF('{{ $json.status_pagamento || \"\" }}', ''), status_pagamento),\n  updated_at = NOW()\nWHERE telefone = '{{ $json.telefone }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,-2640],"id":"517452c8-f3e7-41e6-b920-124ba9e7cb16","name":"Execute a SQL query","credentials":{"postgres":{"id":"niNmVg2ZPUjIgaUJ","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a29e749b-fcb5-48b8-bf89-54772f254374","name":"telefone","value":"={{ String($json.telefone).replace(/\\D/g, '') }}","type":"string"},{"id":"709d8512-0551-464e-991e-166f1b827e6f","name":"  cpf","value":"=COALESCE(NULLIF('{{ $json.cpf || \"\" }}', ''), cpf)","type":"string"},{"id":"af65ddf3-f1e5-4061-9bce-aef4d7fa66c3","name":"asaas_customer_id","value":"=asaas_customer_id = COALESCE(NULLIF('{{ $json.asaas_customer_id || \"\" }}', ''), asaas_customer_id)","type":"string"},{"id":"dd6c3c96-9b9e-4807-9be4-c72b8100e08a","name":"status_pagamento ","value":"=COALESCE(NULLIF('{{ $json.status_pagamento || \"\" }}', ''), status_pagamento),   updated_at = NOW()","type":"string"},{"id":"b69b5059-31b3-4502-8668-8a46eb84b91b","name":"nome_completo","value":"=COALESCE(NULLIF('{{ $json.nome_completo || \"\" }}', ''), nome_completo)","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,-2640],"id":"04f6602c-9e84-4645-91c1-22de339a1d10","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://sandbox.asaas.com/api/v3/customers","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access_token","value":"$aact_hmlg_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OmEyMWI3YWE1LWE2ZGUtNDczNC1iMWM1LTNlYTAxNGZiYzc5Yzo6JGFhY2hfMWRmY2EzNzctN2M2ZC00ODIyLWI1ODUtNjVjMDljMWMwYjJk"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.nome_completo }}"},{"name":"cpfCnpj","value":"={{ $json.cpf }}"},{"name":"mobilePhone","value":"={{ $json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[688,-2592],"id":"e1eaaa39-208e-4834-81f7-9ab821b6d2ee","name":"criar cliente asaas"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"},"id":"56ea7f69-0dec-428b-89c5-44c23610143a"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8e577933-3e2d-4425-afee-0db03f1dfdd4","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[464,-2640],"id":"f87a598b-043c-4eb1-9bd4-fa6ec6afb594","name":"cadastro asaas?"},{"parameters":{"method":"POST","url":"POST https://sandbox.asaas.com/api/v3/payments","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access_token","value":"$aact_hmlg_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OmEyMWI3YWE1LWE2ZGUtNDczNC1iMWM1LTNlYTAxNGZiYzc5Yzo6JGFhY2hfMWRmY2EzNzctN2M2ZC00ODIyLWI1ODUtNjVjMDljMWMwYjJk"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"PIX","value":"={\n  \"customer\": \"{{ $json.asaas_customer_id }}\",\n  \"billingType\": \"PIX\",\n  \"value\": 150,\n  \"description\": \"Consulta odontológica – avaliação\"\n}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[912,-2688],"id":"13803b7d-3e94-41e7-b276-406305b9d35b","name":"boleto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bd86c80c-fb02-4532-8845-0f5c807474dc","leftValue":"={{ $json.cpf && $json.cpf.length === 11 }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"54318ff9-96a5-44fb-b576-943c6c418d5d","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[688,-2784],"id":"ff4f6adf-f5af-4eea-8565-cfbb9f1c33dd","name":"tipo de pagamento"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9879895b-94e1-49dd-a149-75f7c958859f","leftValue":"={{ $json.estado }}","rightValue":"=inicio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"inicio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"be88d899-5e83-4f8c-9f11-d5784e25a757","leftValue":"=={{ $json.estado }}","rightValue":"==coletando_dados","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"coletando_dados"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a13d22a0-3a16-4d28-b8aa-3a7bd3865efa","leftValue":"=={{ $json.estado }}","rightValue":"==buscando_horarios","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"buscando_horarios"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9a4cfffc-9c6f-4250-a14c-83bd232a91de","leftValue":"=={{ $json.estado }}","rightValue":"==aguardando_opcao","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"aguardando_opcao"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0a905104-6bbb-40bd-891f-99ff4eda5159","leftValue":"=={{ $json.estado }}","rightValue":"==criando_evento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"criando_evento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5f3245dd-1526-4b2b-b1f4-bd9a1ee9fab6","leftValue":"=={{ $json.estado }}","rightValue":"==finalizado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"finalizado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c3dad3bf-a403-4a71-9ade-e30f17acdd17","leftValue":"=={{ $json.estado }}","rightValue":"==default","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"default"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1200,-1744],"id":"9ada0871-e578-4435-b6c2-1fff57ebcc02","name":"Switch"},{"parameters":{"httpMethod":"POST","path":"webhook","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2144,-1696],"id":"e2bf8f69-3380-4e97-9966-ec9a0133df7c","name":"Gatilho Whats","webhookId":"643f2cea-d924-4245-bfbd-b20fc1d9f19c","credentials":{"httpHeaderAuth":{"id":"U9nccr8OkAYBXKGN","name":"Header Auth account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"93aa2a33-6d61-4700-8beb-423c912cf075","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2368,-3056],"id":"c73a7239-8f47-460d-9e3c-bfb4c660e91b","name":"horário livre?"},{"parameters":{"assignments":{"assignments":[{"id":"a7c1d2fc-a8e7-411d-bdc0-5321978d556d","name":"start_time","value":"={{ $json.start_time || $now }}","type":"string"},{"id":"3d0f3485-1de7-4e8d-977a-205c34a81c0c","name":"end_time","value":"={{ $json.end_time || $now.plus(1, 'hour') }}","type":"string"},{"id":"76a0c760-ade9-4215-9bf7-f9f1f97f6f63","name":"paciente_nome","value":"={{ $json.dados_extraidos?.nome_completo || 'Paciente' }}","type":"string"},{"id":"a2e2a79c-ce16-432c-8c2d-640cf6eff542","name":"paciente_email","value":"={{ $json.dados_extraidos?.email || '' }}","type":"string"},{"id":"92eb8397-5422-48b1-8c4f-90609eacaef9","name":"paciente_telefone","value":"={{ $json.telefone || '' }}","type":"string"},{"id":"c773bd1d-1174-4fb6-80bf-09f60534dc85","name":"tipo_atendimento","value":"={{ $json.tipo_atendimento || 'Avaliação' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2656,-3072],"id":"dea3d65c-92fd-46df-87e8-e7a2b9228350","name":"Edit Fields3"},{"parameters":{"jsCode":"const dadosIA = $node[\"Processar Resposta\"].json;\n\nreturn [{\n  json: {\n    \"start_time\": dadosIA.start_time || new Date().toISOString(),\n    \"end_time\": dadosIA.end_time || new Date(Date.now() + 3600000).toISOString(),\n    \"paciente_nome\": dadosIA.paciente_nome,\n    \"paciente_email\": dadosIA.paciente_email && dadosIA.paciente_email.includes('@') ? dadosIA.paciente_email : null,\n    \"paciente_telefone\": dadosIA.paciente_telefone || \"\",\n    \"tipo_atendimento\": dadosIA.tipo_atendimento || \"Avaliação\"\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2064,-2992],"id":"531819d0-3ddf-4c0d-93a9-2b81213fbfc1","name":"Code in JavaScript1"},{"parameters":{"jsCode":"const data = $input.item.json;\n\nconsole.log('========================================');\nconsole.log('PREPARAR DADOS');\nconsole.log('========================================');\n\n// Normaliza payload (WAHA / variações)\nconst payload =\n  data?.body?.payload?._data ||\n  data?._data ||\n  data ||\n  {};\n\n// ==================\n// TELEFONE\n// ==================\nlet telefone = '';\n\nif (payload.Info?.SenderAlt) {\n  telefone = payload.Info.SenderAlt\n    .replace('@s.whatsapp.net', '')\n    .replace(/\\D/g, '');\n  console.log('✅ Telefone (SenderAlt):', telefone);\n} else if (payload.Sender) {\n  telefone = payload.Sender.split(':')[0].split('@')[0];\n  console.log('✅ Telefone (Sender):', telefone);\n} else if (data.from) {\n  telefone = data.from.replace(/\\D/g, '');\n  console.log('✅ Telefone (from):', telefone);\n}\n\n// ==================\n// MENSAGEM\n// ==================\nlet mensagem = '';\n\nif (payload.Message?.conversation) {\n  mensagem = payload.Message.conversation;\n  console.log('✅ Mensagem (conversation):', mensagem);\n} else if (payload.Message?.extendedTextMessage?.text) {\n  mensagem = payload.Message.extendedTextMessage.text;\n  console.log('✅ Mensagem (extendedText):', mensagem);\n} else if (data.message) {\n  mensagem = data.message;\n  console.log('✅ Mensagem (message):', mensagem);\n} else if (data.text) {\n  mensagem = data.text;\n  console.log('✅ Mensagem (text):', mensagem);\n}\n\n// ==================\n// is_from_me\n// ==================\nconst isFromMe =\n  payload.Info?.IsFromMe === true ||\n  payload.IsFromMe === true ||\n  false;\n\nconsole.log('is_from_me:', isFromMe);\n\n// ==================\n// DETECÇÃO DE LOOP (HASH)\n// ==================\nfunction simpleHash(str) {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) - hash) + str.charCodeAt(i);\n    hash |= 0;\n  }\n  return hash.toString(36);\n}\n\nlet isBotMessage = false;\n\nif (mensagem && telefone) {\n  const agora = new Date();\n  const chaveTempo =\n    agora.getFullYear() + '-' +\n    agora.getMonth() + '-' +\n    agora.getDate() + '-' +\n    agora.getHours() + '-' +\n    agora.getMinutes();\n\n  const hash = simpleHash(\n    mensagem.trim() + '_' + telefone + '_' + chaveTempo\n  );\n\n  if (global.mensagensEnviadas?.has(hash)) {\n    isBotMessage = true;\n    console.log('🤖 Bot detectado (hash)');\n  }\n}\n\nconsole.log('========================================');\nconsole.log('RESULTADO');\nconsole.log('Telefone:', telefone);\nconsole.log('Mensagem:', mensagem);\nconsole.log('is_bot_message:', isBotMessage);\nconsole.log('========================================');\n\nreturn {\n  json: {\n    telefone,\n    telefone_limpo: telefone,\n    mensagem,\n    is_from_me: isFromMe,\n    is_bot_message: isBotMessage,\n    message_id: data.id || ''\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,-2304],"id":"688ce93e-dc9f-40c4-bbe2-49b647aed1c6","name":"Preparar Dados","disabled":true},{"parameters":{"jsCode":"let ia = $input.first().json;\nlet corpo = ia.output || ia;\n\n// Tenta parsear caso seja string\nif (typeof corpo === 'string') {\n  try { \n    corpo = JSON.parse(corpo); \n  } catch (e) { \n    corpo = { mensagem_texto: corpo }; \n  }\n}\n\n// Extrai dados adicionais\nconst dados = corpo.dados_extraidos || {};\n\n// Marca mensagem enviada (hash simples)\nconst mensagem = corpo.mensagem_texto || '';\nconst telefone = dados.paciente_telefone || $json.paciente_telefone || '';\n\nfunction simpleHash(str) {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) - hash) + str.charCodeAt(i);\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nif (mensagem && telefone) {\n  const agora = new Date();\n  const minuto = `${agora.getFullYear()}-${agora.getMonth()}-${agora.getDate()}-${agora.getHours()}-${agora.getMinutes()}`;\n  const hashInput = `${mensagem.trim()}_${telefone}_${minuto}`;\n  const hash = simpleHash(hashInput);\n\n  if (!global.mensagensEnviadas) {\n    global.mensagensEnviadas = new Set();\n  }\n\n  global.mensagensEnviadas.add(hash);\n}\n\n// Garantir que proximo_passo seja sempre string válida\nconst proximoPasso = corpo.proximo_passo\n    ? String(corpo.proximo_passo)\n    : \"coletar_dados\";\n\n// Retorna o JSON final para o fluxo\nreturn [{\n  json: {\n    ...$json,\n    intencao: corpo.intencao || \"desconhecido\",\n    mensagem_texto: corpo.mensagem_texto || \"\",\n    paciente_nome: dados.paciente_nome || $json.paciente_nome || \"Paciente\",\n    paciente_email: dados.paciente_email || $json.paciente_email || \"\",\n    paciente_telefone: dados.paciente_telefone || $json.paciente_telefone || \"\",\n    proximo_passo: proximoPasso,\n    agendamento_confirmado: corpo.agendamento_confirmado || null\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1664,-2464],"id":"f2d13d90-70f0-4176-8100-d061291b2a11","name":"Marcar Enviada","disabled":true},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"8d2ae582abf636695182ca5020b94cc681407c51e297c5ab6b428ca4b34d9231818934af4d3aac3ec6f12fa583ac591b21621dc430c16d2fc3b0f1d02d9fdab9"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $('Patrícia Fala').item.json._data.Message.extendedTextMessage.text }}"},{"name":"chatId","value":"={{ $('Gatilho Whats').item.json.body.payload._data.Info.Chat }}"},{"name":"session","value":"={{ $('Gatilho Whats').item.json.body.session }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2896,-3056],"id":"d899702b-e9e9-41b1-944e-9eb93b9ad514","name":"HTTP Request1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"b898b1b1-24ca-4835-b95e-f09e49d2d8e9","leftValue":"={{$json.id}}","rightValue":"","operator":{"type":"boolean","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[976,-2288],"id":"8be05acd-3d98-4948-ba6e-a6dc778a5a78","name":"Usuário existe?"},{"parameters":{"assignments":{"assignments":[{"id":"69b77525-d3a1-4dbb-92a9-2161ca95e972","name":"intencao","value":"=\"agendamento\"","type":"string"},{"id":"1cb3bef5-5a8c-47fe-a482-dbe27dbfda4c","name":"mensagem_texto","value":"=","type":"string"},{"id":"a85669d5-1e15-4f5e-89b4-fb5a8f0ebbd4","name":"paciente_nome","value":"={{ $json.paciente_nome || 'Paciente' }}","type":"string"},{"id":"f0c6f638-3424-4457-a89e-c719e20eca57","name":"paciente_email","value":"={{ $json.email || '' }}","type":"string"},{"id":"9da8a4ab-4ca6-4e36-9882-04652552553f","name":"paciente_telefone","value":"={{ $('Usuário existe?').item.json.telefone }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,-2240],"id":"59e60683-68d9-4f4b-88a0-2f94cc4fc9fb","name":"Padroniza info","disabled":true},{"parameters":{"jsCode":"let ia = $input.first().json;\nlet corpo = ia.output || ia;\n\nif (typeof corpo === 'string') {\n  try { \n    corpo = JSON.parse(corpo); \n  } catch (e) { \n    corpo = { mensagem_texto: corpo }; \n  }\n}\n\nconst dados = corpo.dados_extraidos || {};\n\n// Aqui você define a mensagem padrão da Patrícia se não houver mensagem do corpo\nconst mensagemPatricia = corpo.mensagem_texto || `Olá! 😊\\n\\nSou a Patrícia, recepcionista virtual da Clínica Odontológica Dentista Dentina.\\n\\nPara começar seu agendamento, preciso saber seu nome completo, por favor.`;\n\n// Aqui você garante que proximo_passo nunca seja null\nconst proximoPasso = (corpo.proximo_passo && corpo.proximo_passo[0]) || \"coletar_dados\";\n\nreturn [{\n  json: {\n    ...$json,\n    intencao: corpo.intencao || \"desconhecido\",\n    mensagem_texto: mensagemPatricia,\n\n    paciente_nome: dados.paciente_nome || $json.paciente_nome || \"Paciente\",\n    paciente_email: dados.paciente_email || $json.paciente_email || \"\",\n    paciente_telefone: dados.paciente_telefone || $json.paciente_telefone || \"\",\n\n    proximo_passo: proximoPasso,\n    agendamento_confirmado: corpo.agendamento_confirmado || null\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-832,-2304],"id":"4a430f4b-f8cb-4472-9a6e-48e91ed906fe","name":"Processar Resposta","disabled":true},{"parameters":{"jsCode":"return [{\n  json: {\n    ...$json,\n    horariosDisponiveis: items.map(i => i.json)\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-2064],"id":"4cf7769c-850f-4146-8f0a-c5676f997f89","name":"Code in JavaScript","disabled":true},{"parameters":{"jsCode":"const mensagemIA = $('Patrícia').item.json.output || '';\n\n// Tenta extrair o número da opção (1, 2 ou 3)\nlet opcaoEscolhida = null;\n\n// Procura por \"Opção 1\", \"Opção 2\", \"Opção 3\" na mensagem da IA\nconst match = mensagemIA.match(/opção\\s+(\\d)/i);\nif (match) {\n  opcaoEscolhida = parseInt(match[1]);\n}\n\n// Se não encontrou na mensagem da IA, tenta pegar do JSON\nif (!opcaoEscolhida && $json.opcao_escolhida) {\n  opcaoEscolhida = parseInt($json.opcao_escolhida);\n}\n\n// Se ainda não tem, tenta pegar da mensagem do usuário\nif (!opcaoEscolhida) {\n  const mensagemUsuario = $('Preparar Dados').item.json.mensagem || '';\n  const userMatch = mensagemUsuario.match(/(\\d)/);\n  if (userMatch) {\n    opcaoEscolhida = parseInt(userMatch[1]);\n  }\n}\n\n// Pega os horários disponíveis\nconst horariosDisponiveis = $json.horarios_disponiveis || [];\n\n// Valida se tem horários\nif (!horariosDisponiveis || horariosDisponiveis.length === 0) {\n  return [{\n    json: {\n      ...$json,\n      mensagem_texto: \"Desculpe, não consegui encontrar os horários. Vamos começar de novo? 😔\"\n    }\n  }];\n}\n\n// Valida a opção escolhida\nif (!opcaoEscolhida || opcaoEscolhida < 1 || opcaoEscolhida > 3) {\n  opcaoEscolhida = 1; // padrão é opção 1\n}\n\n// Pega o horário escolhido (opção 1 = índice 0)\nconst indice = opcaoEscolhida - 1;\nconst horarioEscolhido = horariosDisponiveis[indice] || horariosDisponiveis[0];\n\n// Retorna os dados para criar o evento\nreturn [{\n  json: {\n    ...$json,\n    agendamento_confirmado: {\n      data_hora_iso: horarioEscolhido.iso,\n      tipo_atendimento: $json.dados_extraidos?.tipo_atendimento || 'Consulta',\n      paciente_nome: $json.paciente_nome || 'Paciente',\n      paciente_email: $json.paciente_email || '',\n      paciente_telefone: $json.paciente_telefone || ''\n    },\n    mensagem_texto: `Confirmando seu agendamento para ${horarioEscolhido.data} às ${horarioEscolhido.hora}... ⏳`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,-1552],"id":"1482e1de-2fcc-48f6-b71c-7d899629339c","name":"puxa chatd e session"},{"parameters":{"jsCode":"const eventosOcupados = $input.all().map(i => i.json);\n\nconst duracaoConsulta = 60; // minutos\nconst horariosDisponiveis = [];\n\nconst agora = new Date();\nconst fimPeriodo = new Date();\nfimPeriodo.setDate(fimPeriodo.getDate() + 7);\n\n// Começa no próximo horário possível\nlet dataAtual = new Date(agora);\n\n// Se já passou das 18h ou se estamos fora do horário comercial, vai para o próximo dia às 08h\nif (dataAtual.getHours() >= 18 || dataAtual.getHours() < 8) {\n  dataAtual.setDate(dataAtual.getDate() + 1);\n  dataAtual.setHours(8, 0, 0, 0);\n} else {\n  // Arredonda para a próxima hora cheia\n  dataAtual.setHours(dataAtual.getHours() + 1, 0, 0, 0);\n}\n\nwhile (dataAtual < fimPeriodo && horariosDisponiveis.length < 10) {\n  const diaSemana = dataAtual.getDay();\n  \n  // Pula sábado (6) e domingo (0)\n  if (diaSemana === 0 || diaSemana === 6) {\n    dataAtual.setDate(dataAtual.getDate() + 1);\n    dataAtual.setHours(8, 0, 0, 0);\n    continue;\n  }\n\n  // Pula horários fora do comercial\n  if (dataAtual.getHours() >= 18) {\n    dataAtual.setDate(dataAtual.getDate() + 1);\n    dataAtual.setHours(8, 0, 0, 0);\n    continue;\n  }\n\n  const fimConsulta = new Date(dataAtual.getTime() + duracaoConsulta * 60000);\n\n  // Verifica se está ocupado\n  const ocupado = eventosOcupados.some(evento => {\n    const inicioEvento = new Date(evento.start?.dateTime || evento.start?.date);\n    const fimEvento = new Date(evento.end?.dateTime || evento.end?.date);\n    return dataAtual < fimEvento && fimConsulta > inicioEvento;\n  });\n\n  if (!ocupado) {\n    horariosDisponiveis.push({\n      data: dataAtual.toLocaleDateString('pt-BR', {\n        weekday: 'long',\n        day: '2-digit',\n        month: '2-digit'\n      }),\n      hora: dataAtual.toLocaleTimeString('pt-BR', {\n        hour: '2-digit',\n        minute: '2-digit'\n      }),\n      iso: dataAtual.toISOString()\n    });\n  }\n\n  // Próximo horário\n  dataAtual.setHours(dataAtual.getHours() + 1);\n}\n\nconst mensagem = horariosDisponiveis.length >= 3\n  ? `Encontrei estes horários disponíveis:\\n\\n` +\n    `📅 Opção 1: ${horariosDisponiveis[0].data} às ${horariosDisponiveis[0].hora}\\n` +\n    `📅 Opção 2: ${horariosDisponiveis[1].data} às ${horariosDisponiveis[1].hora}\\n` +\n    `📅 Opção 3: ${horariosDisponiveis[2].data} às ${horariosDisponiveis[2].hora}\\n\\n` +\n    `Qual opção você prefere? Digite 1, 2 ou 3 😊`\n  : `Não encontrei horários disponíveis nos próximos dias 😔`;\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    mensagem_texto: mensagem,\n    horarios_disponiveis: horariosDisponiveis.slice(0, 3) // só as 3 primeiras\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,-2288],"id":"6b366f67-c244-4ca4-ad04-5058a3846b9c","name":"busca horários vagos","disabled":true},{"parameters":{"jsCode":"const mensagem =\n  $json.mensagem_texto &&\n  typeof $json.mensagem_texto === 'string' &&\n  $json.mensagem_texto.trim().length > 0\n    ? $json.mensagem_texto\n    : 'Um momento, por favor 😊';\n\nreturn [\n  {\n    json: {\n      ...$json,\n      mensagem_texto: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,-2192],"id":"cdedc414-5391-4489-b70b-4318781bd9fb","name":"manda mensagem(a prova de Ia)","disabled":true},{"parameters":{"jsCode":"const evento = $json;\nconst agendamento = $('puxa chatd e session').item.json.agendamento_confirmado;\n\n// Formata a data\nconst dataInicio = new Date(evento.start?.dateTime || agendamento.data_hora_iso);\nconst dataFormatada = dataInicio.toLocaleDateString('pt-BR', {\n  weekday: 'long',\n  day: '2-digit',\n  month: '2-digit'\n});\nconst horaFormatada = dataInicio.toLocaleTimeString('pt-BR', {\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nreturn [{\n  json: {\n    ...$json,\n    mensagem_texto: `Pronto! ✅ Seu agendamento está confirmado para ${dataFormatada} às ${horaFormatada}.\n\nVocê receberá um e-mail de confirmação em breve. Até lá! 💙`,\n    paciente_telefone: agendamento.paciente_telefone\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-784,-2080],"id":"5960e254-7490-4f50-a78f-26e7b455f302","name":"Code in JavaScript2","disabled":true},{"parameters":{"jsCode":"const mensagem = ($json.mensagem || '').trim();\n\nlet proximo_passo = $json.proximo_passo || 'coletar_dados';\nlet opcao_escolhida = null;\n\n// Detecta escolha direta 1,2,3\nif (/^[123]$/.test(mensagem)) {\n  proximo_passo = 'confirmar_agendamento';\n  opcao_escolhida = Number(mensagem);\n}\n\n// Se já tem todos os dados → buscar horários\nif (\n  $json.paciente_nome &&\n  $json.paciente_telefone &&\n  $json.tipo_atendimento &&\n  proximo_passo === 'coletar_dados'\n) {\n  proximo_passo = 'buscar_horarios';\n}\n\nreturn [{\n  json: {\n    ...$json,\n    proximo_passo,\n    opcao_escolhida\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,-2336],"id":"ad881943-1823-45fc-9f82-93b7975842de","name":"Gerenciar estado","disabled":true},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"marcelopiraz@gmail.com","mode":"list","cachedResultName":"marcelopiraz@gmail.com"},"options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1792,-1808],"id":"07cb02f8-f20d-4541-bd7c-103fbea2f79a","name":"Get many events","credentials":{"googleCalendarOAuth2Api":{"id":"MegT4bnkKGZdYjSM","name":"Google Calendar account"}}},{"parameters":{"jsCode":"const agora = new Date();\nconst agoraBR = new Date(\n  agora.toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' })\n);\n\n// Começa sempre às 08:00\nagoraBR.setHours(8, 0, 0, 0);\n\n// ================================\n// 📅 EVENTOS OCUPADOS\n// ================================\nconst eventosOcupados = $input.all()\n  .map(i => i.json)\n  .filter(ev => ev?.start && ev?.end);\n\n// ================================\n// ⚙️ CONFIG\n// ================================\nconst horarios = [];\nconst duracao = 60; // minutos\nlet diasAdicionados = 0;\n\n// ================================\n// 🔍 BUSCA HORÁRIOS LIVRES\n// ================================\nwhile (horarios.length < 3 && diasAdicionados < 30) {\n  const diaCursor = new Date(agoraBR);\n  diaCursor.setDate(agoraBR.getDate() + diasAdicionados);\n  diasAdicionados++;\n\n  const diaSemana = diaCursor.getDay();\n  if (diaSemana === 0 || diaSemana === 6) continue; // pula fim de semana\n\n  for (let hora = 8; hora < 18; hora++) {\n    if (horarios.length >= 3) break;\n\n    const inicio = new Date(diaCursor);\n    inicio.setHours(hora, 0, 0, 0);\n\n    if (isNaN(inicio.getTime())) continue;\n\n    const fim = new Date(inicio.getTime() + duracao * 60000);\n\n    const ocupado = eventosOcupados.some(ev => {\n      const s = new Date(ev.start.dateTime || ev.start.date);\n      const e = new Date(ev.end.dateTime || ev.end.date);\n\n      if (isNaN(s.getTime()) || isNaN(e.getTime())) return false;\n\n      return inicio < e && fim > s;\n    });\n\n    if (!ocupado) {\n      horarios.push({\n        data: inicio.toLocaleDateString('pt-BR', {\n          weekday: 'long',\n          day: '2-digit',\n          month: '2-digit'\n        }),\n        hora: inicio.toLocaleTimeString('pt-BR', {\n          hour: '2-digit',\n          minute: '2-digit'\n        }),\n        iso: inicio.toISOString() // 🔒 agora nunca quebra\n      });\n    }\n  }\n}\n\n// ================================\n// 💬 MENSAGEM\n// ================================\nlet mensagem;\n\nif (horarios.length === 0) {\n  mensagem =\n    \"Poxa 😕 não encontrei horários disponíveis nos próximos dias. Quer tentar outra semana?\";\n} else {\n  mensagem = `Encontrei estes horários disponíveis 😊\n\n📅 Opção 1: ${horarios[0].data} às ${horarios[0].hora}\n📅 Opção 2: ${horarios[1].data} às ${horarios[1].hora}\n📅 Opção 3: ${horarios[2].data} às ${horarios[2].hora}\n\nQual você prefere? Digite 1, 2 ou 3`;\n}\n\n// ================================\n// ✅ RETORNO\n// ================================\nreturn [{\n  json: {\n    ...$json,\n    horarios_disponiveis: horarios,\n    estado: 'aguardando_opcao',\n    mensagem_texto: mensagem\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,-1824],"id":"e9df1ca5-69fa-4eb6-b2b0-f35e238f9d7b","name":"Buscar Horários livres"},{"parameters":{"calendar":{"__rl":true,"value":"marcelopiraz@gmail.com","mode":"list","cachedResultName":"marcelopiraz@gmail.com"},"start":"=={{ $json.data_hora_iso }}","end":"={{ new Date(new Date($json.data_hora_escolhida).getTime() + 60 * 60 * 1000).toISOString() }}","additionalFields":{"description":"=Paciente: {{ $json.dados_extraidos?.paciente_nome }} Telefone: {{ $json.dados_extraidos?.paciente_telefone }} Atendimento: {{ $json.dados_extraidos?.tipo_atendimento }} Convênio: {{ $json.dados_extraidos?.convenio }}","summary":"=Consulta Odontológica - {{ $json.dados_extraidos?.paciente_nome }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[2416,-1600],"id":"142f530c-2fba-4f4a-9365-06fbd24263d8","name":"Create an event","credentials":{"googleCalendarOAuth2Api":{"id":"MegT4bnkKGZdYjSM","name":"Google Calendar account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"cc5aded7-6348-449f-ae01-e9ac39baab06","leftValue":"={{$json.is_from_me}}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"324946c2-cd1d-4190-a94b-70cc6e94bf4c","leftValue":"={{$json.is_bot_message}}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"5d249615-8ca8-4a6b-b931-44d2495edfe3","leftValue":"={{$json.mensagem}}","rightValue":"","operator":{"type":"boolean","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1808,-1632],"id":"7a083a74-6f6e-4162-9e36-f21210dd1cd0","name":"If"},{"parameters":{"jsCode":"return [{\n  json: {\n    ...$json,\n    agendamento_confirmado: true,\n    event_id: $json.id,\n    estado: 'finalizado',\n    mensagem_texto: `Pronto! ✅ Seu agendamento está confirmado para ${$json.agendamento_confirmado.data} às ${$json.agendamento_confirmado.hora}.\nVocê receberá um e-mail de confirmação em breve 💙`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,-1680],"id":"0ac68d16-b0c3-4f57-a661-73ad0270243e","name":"Finalização + mensagem"},{"parameters":{"jsCode":"if ($json.agendamento_confirmado === true || $json.event_id) {\n  return [{\n    json: {\n      ...$json,\n      estado: 'finalizado',\n      mensagem_texto:\n        'Seu agendamento já está confirmado 😊 Se precisar de algo mais, é só me avisar 💙'\n    }\n  }];\n}\n\n// Verificação dos dados essenciais\nif (\n  !$json.agendamento_confirmado?.data_hora_iso &&\n  !$json.data_hora_iso\n) {\n  throw new Error('Data e hora não definidas para criação do evento');\n}\n\n// Normaliza dados\nconst dataHoraISO =\n  $json.agendamento_confirmado?.data_hora_iso ||\n  $json.data_hora_iso;\n\nreturn [{\n  json: {\n    ...$json,\n    data_hora_iso: dataHoraISO\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,-1632],"id":"9764b953-2757-4324-9480-194eb88d7790","name":"Valida criação de evento"},{"parameters":{"jsCode":"const evento = $input.first().json;\n\nconst data = new Date(evento.start.dateTime).toLocaleDateString('pt-BR', {\n  weekday: 'long',\n  day: '2-digit',\n  month: '2-digit'\n});\n\nconst hora = new Date(evento.start.dateTime).toLocaleTimeString('pt-BR', {\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nreturn [{\n  json: {\n    ...$json,\n    estado: 'finalizado',\n    agendamento_confirmado: true,\n    event_id: evento.id,\n    mensagem_texto:\n`Pronto! ✅ Seu agendamento está confirmado para ${data} às ${hora}.\nVocê receberá um e-mail de confirmação em breve 💙`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,-1328],"id":"afa398d3-5a6e-4c4e-b92d-7eff4046112a","name":"Code in JavaScript4","disabled":true},{"parameters":{"jsCode":"const raw =\n  $json.body?.payload?._data?.Info?.SenderAlt ||\n  $json.body?.payload?._data?.Info?.Sender ||\n  '';\n\nconst telefone_limpo = raw.replace(/\\D/g, '');\n\nreturn [{\n  json: {\n    ...$json,\n    telefone_limpo\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1856,-1696],"id":"15d61da6-de4a-4f6f-9cc5-22598b06aa7a","name":"Normaliza telefone"},{"parameters":{"jsCode":"const u = $input.first().json;\n\nreturn [{\n  json: {\n    ...$json,\n    usuario: {\n      id: u.id,\n      telefone: u.telefone,\n      nome: u.nome_completo,\n      status_pagamento: u.status_pagamento,\n      asaas_customer_id: u.asaas_customer_id\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1168,-1696],"id":"a0f187bd-4c8e-4754-bbfe-ff47c4f0fd2e","name":"Contexo Usuário"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  id,\n  telefone,\n  nome_completo,\n  status_pagamento,\n  asaas_customer_id,\n  horarios_disponiveis,\n  estado\nFROM usuarios_whatsapp\nWHERE telefone = '{{ $json.dados_extraidos.paciente_telefone }}'\n  AND nome_completo = '{{ $json.dados_extraidos.paciente_nome }}'\n  AND estado = '{{ $json.estado }}'\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1648,-1792],"id":"c5cd8ea1-9427-40ba-b588-34ddde7837cb","name":"Buscar usuário (postgres)1","alwaysOutputData":true,"credentials":{"postgres":{"id":"niNmVg2ZPUjIgaUJ","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO usuarios_whatsapp (\n  telefone,\n  email,\n  status_pagamento\n)\nVALUES (\n  '{{ $json.telefone_limpo }}',\n  '',\n  'pendente'\n)\nON CONFLICT (telefone)\nDO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2624,-1648],"id":"d7e7f245-ab81-4501-8a8d-8c8fb2a80498","name":"criar usuário (postgres)1","alwaysOutputData":false,"credentials":{"postgres":{"id":"niNmVg2ZPUjIgaUJ","name":"Postgres account"}}},{"parameters":{"jsCode":"const dadosAnteriores = $json.dados_extraidos || {};\nconst dadosNovos = $json.dados_extraidos || {}; // 👈 CORRETO\n\nconst limpar = obj =>\n  Object.fromEntries(\n    Object.entries(obj).filter(\n      ([_, v]) => v !== null && v !== undefined && v !== ''\n    )\n  );\n\nconst dados = {\n  ...limpar(dadosAnteriores),\n  ...limpar(dadosNovos),\n};\n\n// ===============================\n// 📩 MENSAGEM DO USUÁRIO\n// ===============================\nconst mensagemUsuario =\n  $json.body?.payload?._data?.Message?.conversation || '';\n\n// ===============================\n// 🔁 ESTADO ATUAL\n// ===============================\nlet estadoAtual = $json.estado ?? 'inicio';\n\n// ===============================\n// 🔢 OPÇÃO ESCOLHIDA (1,2,3)\n// ===============================\nconst opcaoMatch = mensagemUsuario.match(/\\b([1-3])\\b/);\nconst opcaoEscolhida = opcaoMatch ? Number(opcaoMatch[1]) : null;\n\n// ===============================\n// 📋 CAMPOS OBRIGATÓRIOS\n// ===============================\nconst obrigatorios = [\n  'paciente_nome',\n  'paciente_telefone',\n  'paciente_email',\n  'tipo_atendimento',\n  'convenio',\n  'periodo_preferencia'\n];\n\nconst dadosFaltantes = obrigatorios.filter(campo => !dados[campo]);\n\n// ===============================\n// 🔒 CONTROLE DE ESTADO (ORDEM CRÍTICA)\n// ===============================\n\n// 1️⃣ Finalizado\nif ($json.agendamento_confirmado === true) {\n  estadoAtual = 'finalizado';\n}\n\n// 2️⃣ Usuário desistiu\nelse if ($json.interesse_agendar === false) {\n  estadoAtual = 'inicio';\n}\n\n// 3️⃣ Ainda coletando dados\nelse if (dadosFaltantes.length > 0) {\n  estadoAtual = 'coletando_dados';\n}\n\n// 4️⃣ Dados completos → buscar horários\nelse if (\n  !Array.isArray($json.horarios_disponiveis) ||\n  $json.horarios_disponiveis.length === 0\n) {\n  estadoAtual = 'buscando_horarios';\n}\n\n// 5️⃣ Horários disponíveis, aguardando escolha\nelse if (!opcaoEscolhida) {\n  estadoAtual = 'aguardando_opcao';\n}\n\n// 6️⃣ Escolheu horário\nelse {\n  estadoAtual = 'criando_evento';\n}\n\n// ===============================\n// ✅ RETORNO FINAL\n// ===============================\nreturn [{\n  json: {\n    ...$json,\n    dados_extraidos: dados, // 👈 AGORA SALVA DE VERDADE\n    estado: estadoAtual,\n    opcao_escolhida: opcaoEscolhida,\n    dados_faltantes: dadosFaltantes\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,-1696],"id":"fdae1650-bcaf-47f8-98d6-4d26653d8ced","name":"controlador de estado/ Normaliza Estado"},{"parameters":{"jsCode":"let opcaoEscolhida = $json.opcao_escolhida;\n\nif (!opcaoEscolhida) {\n  const mensagemUsuario = $json.body?.payload?._data?.Message?.conversation || '';\n  const match = mensagemUsuario.match(/\\b([1-3])\\b/);\n  opcaoEscolhida = match ? parseInt(match[1]) : 1;\n}\n\nconst horariosDisponiveis = $json.horarios_disponiveis || [];\n\nif (!horariosDisponiveis || horariosDisponiveis.length === 0) {\n  return [{\n    json: {\n      ...$json,\n      estado: 'inicio',\n      mensagem_texto: \"Desculpe, não consegui encontrar os horários. Vamos começar de novo? 😔\"\n    }\n  }];\n}\n\nif (!opcaoEscolhida || opcaoEscolhida < 1 || opcaoEscolhida > 3) {\n  opcaoEscolhida = 1;\n}\n\nconst indice = opcaoEscolhida - 1;\nconst horarioEscolhido = horariosDisponiveis[indice] || horariosDisponiveis[0];\n\nreturn [{\n  json: {\n    ...$json,\n    data_hora_iso: horarioEscolhido.iso,\n    horario_escolhido: horarioEscolhido,\n    estado: 'criando_evento',\n    mensagem_texto: `Confirmando seu agendamento para ${horarioEscolhido.data} às ${horarioEscolhido.hora}... ⏳`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2224,-1600],"id":"604288dc-0afd-45d4-840a-b37248664810","name":"opcaoEscolhida"},{"parameters":{"jsCode":"const dados = $json.dados_extraidos || {};\nconst mensagemUsuario =\n  $json.body?.payload?._data?.Message?.conversation || '';\n\nlet estadoAtual = $json.estado || 'inicio';\n\n// Detecta opção 1,2,3\nconst opcaoMatch = mensagemUsuario.match(/\\b([1-3])\\b/);\nconst opcaoEscolhida = opcaoMatch ? Number(opcaoMatch[1]) : null;\n\n// Campos obrigatórios\nconst obrigatorios = [\n  'paciente_nome',\n  'paciente_telefone',\n  'paciente_email',\n  'tipo_atendimento',\n  'convenio',\n  'periodo_preferencia'\n];\n\nconst dadosFaltantes = obrigatorios.filter(campo => !dados[campo]);\n\n// ===============================\n// REGRAS DE ESTADO (ORDEM CRÍTICA)\n// ===============================\n\n// 1️⃣ Finalizado\nif ($json.agendamento_confirmado === true) {\n  estadoAtual = 'finalizado';\n}\n\n// 2️⃣ Sem interesse\nelse if ($json.interesse_agendar === false) {\n  estadoAtual = 'inicio';\n}\n\n// 3️⃣ Ainda coletando dados\nelse if (dadosFaltantes.length > 0) {\n  estadoAtual = 'coletando_dados';\n}\n\n// 4️⃣ Dados completos → buscar horários\nelse if (\n  !$json.horarios_disponiveis ||\n  !Array.isArray($json.horarios_disponiveis) ||\n  $json.horarios_disponiveis.length === 0\n) {\n  estadoAtual = 'buscando_horarios';\n}\n\n// 5️⃣ Horários existem, mas ainda não escolheu\nelse if (!opcaoEscolhida) {\n  estadoAtual = 'aguardando_opcao';\n}\n\n// 6️⃣ Escolheu opção\nelse {\n  estadoAtual = 'criando_evento';\n}\n\nreturn [{\n  json: {\n    ...$json,\n    estado: estadoAtual,\n    opcao_escolhida: opcaoEscolhida,\n    dados_faltantes: dadosFaltantes\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,-1392],"id":"c74c532f-a11a-40bd-b3b4-aeceb04af74f","name":"controlador de estado/ Normaliza Estado3"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"usuarios_whatsapp","mode":"list","cachedResultName":"usuarios_whatsapp"},"columns":{"mappingMode":"defineBelow","value":{"total_mensagens":0,"id":"={{ $('Buscar usuário (postgres)').item.json.id }}","horarios_disponiveis":"={{ { opcoes: $json.horarios_disponiveis } }}","estado":"=={{ $json.estado }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"telefone","displayName":"telefone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nome_completo","displayName":"nome_completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"asaas_customer_id","displayName":"asaas_customer_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status_pagamento","displayName":"status_pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"primeira_interacao","displayName":"primeira_interacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"ultima_interacao","displayName":"ultima_interacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"total_mensagens","displayName":"total_mensagens","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"google_event_id","displayName":"google_event_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ultimo_agendamento","displayName":"ultimo_agendamento","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"dados_coletados","displayName":"dados_coletados","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"horarios_disponiveis","displayName":"horarios_disponiveis","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"event_id","displayName":"event_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2464,-1792],"id":"c49d93dd-cbd0-4384-93b1-745c60819fa6","name":"Update rows in a table","credentials":{"postgres":{"id":"niNmVg2ZPUjIgaUJ","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8f2cad2a-e3b4-4a74-9b69-909f79103e42","name":"mensagem_texto","value":"={{ JSON.parse($json.output).mensagem_texto }}","type":"string"},{"id":"6a69348e-f0a8-4f0b-b042-a5e699d57f8f","name":"dados_extraidos","value":"={{ $json.dados_extraidos ?? {} }}","type":"string"},{"id":"cd8ca531-7c3f-4e47-96b7-b9e207204cdd","name":"estado","value":"={{ $json.estado ?? 'inicio' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,-1696],"id":"24637e2f-8171-4758-94bb-c54ad9e1102b","name":"Edit Fields1"},{"parameters":{"jsCode":"const dadosSalvos = $json.dados_usuario || {};\n\n// Dados extraídos nesta mensagem\nconst dadosNovos = $json.dados_extraidos || {};\n\n// Merge inteligente (novos sobrescrevem antigos)\nconst dadosUnificados = {\n  ...dadosSalvos,\n  ...dadosNovos\n};\n\nreturn [{\n  json: {\n    ...$json,\n    dados_extraidos: dadosUnificados\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-304,-1696],"id":"ff42231b-fb98-4bea-ba3c-ea74ac9757ef","name":"Code in JavaScript3"},{"parameters":{"jsCode":"const dadosAnteriores = $json.dados_extraidos || {};\nconst novosDados = $json.dados_extraidos_novos || {}; // ou vindo do NLP\n\nreturn [{\n  json: {\n    ...$json,\n    dados_extraidos: {\n      ...dadosAnteriores,\n      ...novosDados\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,-1696],"id":"fab32041-071e-4d6a-a296-50f7c0bfe1d2","name":"Code in JavaScript5"},{"parameters":{"operation":"executeQuery","query":"UPDATE usuarios_whatsapp\nSET \n  nome_completo = COALESCE('{{ $json.dados_extraidos.paciente_nome }}', nome_completo),\n  email = COALESCE('{{ $json.dados_extraidos.paciente_email }}', email),\n  estado = '{{ $json.estado }}',\n  dados_coletados = '{{ JSON.stringify($json.dados_extraidos) }}'::jsonb\nWHERE telefone = '{{ $json.telefone_limpo }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2224,-1856],"id":"4b3a0f2d-9925-40ae-a353-06072cc973cf","name":"Execute a SQL query1","credentials":{"postgres":{"id":"niNmVg2ZPUjIgaUJ","name":"Postgres account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Patrícia","type":"ai_languageModel","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Patrícia","type":"ai_memory","index":0}]]},"Patrícia":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Patrícia Fala":{"main":[[]]},"save telefone e nome":{"main":[[]]},"Buscar usuário (postgres)":{"main":[[{"node":"Contexo Usuário","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"cadastro asaas?","type":"main","index":0}]]},"criar cliente asaas":{"main":[[{"node":"cadastro asaas?","type":"main","index":0}]]},"pix":{"main":[[]]},"cadastro asaas?":{"main":[[{"node":"tipo de pagamento","type":"main","index":0}],[{"node":"criar cliente asaas","type":"main","index":0}]]},"tipo de pagamento":{"main":[[{"node":"pix","type":"main","index":0}],[{"node":"boleto","type":"main","index":0}]]},"Gatilho Whats":{"main":[[{"node":"Normaliza telefone","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Patrícia Fala","type":"main","index":0}],[{"node":"Execute a SQL query1","type":"main","index":0}],[{"node":"Buscar usuário (postgres)1","type":"main","index":0}],[{"node":"Patrícia Fala","type":"main","index":0}],[{"node":"Valida criação de evento","type":"main","index":0}],[{"node":"controlador de estado/ Normaliza Estado3","type":"main","index":0}],[{"node":"Patrícia Fala","type":"main","index":0}]]},"horário livre?":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"horário livre?","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"horário livre?","type":"main","index":0}]]},"Preparar Dados":{"main":[[]]},"Marcar Enviada":{"main":[[]]},"Usuário existe?":{"main":[[],[]]},"Padroniza info":{"main":[[]]},"Processar Resposta":{"main":[[]]},"Code in JavaScript":{"main":[[]]},"puxa chatd e session":{"main":[[{"node":"opcaoEscolhida","type":"main","index":0}]]},"busca horários vagos":{"main":[[]]},"manda mensagem(a prova de Ia)":{"main":[[]]},"Code in JavaScript2":{"main":[[]]},"Gerenciar estado":{"main":[[]]},"Get many events":{"main":[[{"node":"Buscar Horários livres","type":"main","index":0}]]},"Buscar Horários livres":{"main":[[{"node":"Update rows in a table","type":"main","index":0}]]},"Create an event":{"main":[[{"node":"criar usuário (postgres)1","type":"main","index":0}]]},"If":{"main":[[{"node":"Finalização + mensagem","type":"main","index":0}],[{"node":"puxa chatd e session","type":"main","index":0}]]},"Finalização + mensagem":{"main":[[{"node":"Patrícia Fala","type":"main","index":0}]]},"Valida criação de evento":{"main":[[{"node":"If","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[]]},"Normaliza telefone":{"main":[[{"node":"Buscar usuário (postgres)","type":"main","index":0}]]},"Contexo Usuário":{"main":[[{"node":"Patrícia","type":"main","index":0}]]},"Buscar usuário (postgres)1":{"main":[[{"node":"Get many events","type":"main","index":0}]]},"criar usuário (postgres)1":{"main":[[]]},"controlador de estado/ Normaliza Estado":{"main":[[{"node":"Switch","type":"main","index":0}]]},"opcaoEscolhida":{"main":[[{"node":"Create an event","type":"main","index":0}]]},"controlador de estado/ Normaliza Estado3":{"main":[[{"node":"Patrícia Fala","type":"main","index":0}]]},"Update rows in a table":{"main":[[{"node":"Patrícia Fala","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"controlador de estado/ Normaliza Estado","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"Patrícia Fala","type":"main","index":0}]]}},"authors":"Abrantes Sousa","name":null,"description":null},"tags":[]}