bc682807ccd2c52d1649f5bb821b83ba1c8f7b64

{"updatedAt":"2026-01-08T22:56:02.317Z","createdAt":"2026-01-02T12:59:30.664Z","id":"5zZtPkxLRRLFeMOl","name":"Fábrica de Conteúdo Automatizada para o LinkedIn","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"# 🧑‍🦱 User Input for Social Media Posts \n💡 Unpin default data to get started","height":344,"width":360,"color":4},"id":"81dd732b-a157-4242-95e0-319d68339637","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[64,160],"typeVersion":1},{"parameters":{"content":"# 🛠️ Social Media Content Factory\n- LinkedIn\n- Instagram\n- Facebook\n- X\n- TikTok\n- Threads\n- YouTube Shorts\n","height":600,"width":640,"color":6},"id":"1f2de57c-41e1-4f22-9076-f7add9ac1945","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[464,128],"typeVersion":1},{"parameters":{"content":"# 👍 Approve Content Before Proceeding","height":360,"width":400,"color":4},"id":"f6e4f305-6237-4996-9ff8-a2439b436f60","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[2208,368],"typeVersion":1},{"parameters":{"content":"# ✉️ Prepare & Format Approval Email","height":560,"width":500,"color":5},"id":"567b773c-abf8-4c65-ba87-2e557370e881","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1664,160],"typeVersion":1},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"name\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"description\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"platform_posts\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"LinkedIn\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\"image_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"post\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"call_to_action\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"Instagram\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\"image_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"caption\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"emojis\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"call_to_action\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"Facebook\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\"post\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"call_to_action\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"image_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"X-Twitter\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\"video_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"image_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"post\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"character_limit\": {\n\t\t\t\t\t\t\t\"type\": \"integer\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"TikTok\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\"video_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"caption\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"call_to_action\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"Threads\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\"image_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"text_post\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"call_to_action\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"YouTube_Shorts\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\"video_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"title\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"description\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"call_to_action\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"additional_notes\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"},"id":"cf810a35-457f-4634-bd33-f0dc119d0ef2","name":"Social Media Content","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[928,528],"typeVersion":1.2},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{"temperature":0.4}},"id":"eda8bfaa-be2e-4cc7-b414-be9e7769a939","name":"Google Gemini LLM","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[688,528],"typeVersion":1,"disabled":true},{"parameters":{"model":{"__rl":true,"value":"deepseek-chat","mode":"id"},"options":{"responseFormat":"text"}},"id":"c816dddf-8116-4cb2-a2f3-50fd7f241534","name":"gpt-4o-mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1680,560],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"U360MhzRhu1kwzRA","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"id","value":"deepseek-chat"},"options":{"responseFormat":"text"}},"id":"65ce77bf-9113-44c1-a52d-7d6b34d201de","name":"gpt-4o","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1808,528],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"U360MhzRhu1kwzRA","name":"OpenAi account"}},"disabled":true},{"parameters":{"model":{"__rl":true,"mode":"id","value":"deepseek-chat"},"options":{"responseFormat":"text"}},"id":"fe9ff018-9ee9-45ae-b2e6-14e522cce325","name":"gpt-4o LLM","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[544,528],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"U360MhzRhu1kwzRA","name":"OpenAi account"}}},{"parameters":{"url":"=https://image.pollinations.ai/prompt/{{$('Social Media Content Factory').item.json.output.description.replaceAll(' ','-').replaceAll(',','').replaceAll('.','') }}","options":{}},"id":"e4787c44-c78c-44d4-9c3f-4391e149c8cb","name":"pollinations.ai","type":"n8n-nodes-base.httpRequest","position":[1344,1840],"typeVersion":4.2,"disabled":true},{"parameters":{"content":"## Create Post Image\nhttps://pollinations.ai/\nhttps://image.pollinations.ai/prompt/[your image description]\n\n(alternative)","height":340,"width":300},"id":"9c921c65-17d2-4b61-9c71-4dee2e1ffe31","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1248,1680],"typeVersion":1},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"id":"fbcb9f97-a3f9-4518-8f85-054078911064","name":"Merge","type":"n8n-nodes-base.merge","position":[1072,1088],"typeVersion":3},{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","sendQuery":true,"queryParameters":{"parameters":[{"name":"expiration","value":"0"},{"name":"key","value":"={{ $env.IMGBB_API_KEY}} "}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{"redirect":{"redirect":{}}}},"id":"feb71091-ef18-477a-9864-64c8d4f2f5f3","name":"Save Image to imgbb.com3","type":"n8n-nodes-base.httpRequest","position":[720,928],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v20.0/[your-unique-id]/media","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"image_url","value":"={{ $json.data.medium.url }}"},{"name":"caption","value":"={{ $('Social Media Content Factory').item.json.output.platform_posts.Instagram.caption }}"}]},"options":{}},"id":"a32de0c5-2381-4d6d-9235-fc87ba2eee0d","name":"Instagram Image","type":"n8n-nodes-base.httpRequest","position":[2064,1008],"typeVersion":4.2,"credentials":{"facebookGraphApi":{"id":"6VQJJHoXUHjAkTqY","name":"Facebook Graph account"}},"onError":"continueRegularOutput"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"[your-unique-id]","edge":"media_publish","options":{"queryParameters":{"parameter":[{"name":"creation_id","value":"={{ $json.id }}"},{"name":"caption","value":"={{ $('Social Media Content Factory').item.json.output.platform_posts.Instagram.caption }}"}]}}},"id":"87489c1b-63de-4cf8-aa0e-29d5c9b4ef9b","name":"Instragram Post","type":"n8n-nodes-base.facebookGraphApi","position":[2064,1232],"typeVersion":1,"alwaysOutputData":true,"credentials":{"facebookGraphApi":{"id":"6VQJJHoXUHjAkTqY","name":"Facebook Graph account"}},"onError":"continueRegularOutput"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"[your-unique-id]","edge":"photos","sendBinaryData":true,"binaryPropertyName":"data","options":{"queryParameters":{"parameter":[{"name":"message","value":"={{ $('Social Media Content Factory').item.json.output.platform_posts.Facebook.post }}\n\n{{ $('Social Media Content Factory').item.json.output.platform_posts.Facebook.call_to_action }}\n"},{"name":"link","value":"={{ $('Social Media Content Factory').item.json.output.platform_posts.Facebook.call_to_action }}"}]}}},"id":"eceea44b-7153-43e9-880b-f739546a4242","name":"Facebook Post","type":"n8n-nodes-base.facebookGraphApi","position":[2064,1664],"typeVersion":1,"alwaysOutputData":true,"credentials":{"facebookGraphApi":{"id":"6VQJJHoXUHjAkTqY","name":"Facebook Graph account"}},"onError":"continueRegularOutput"},{"parameters":{"postAs":"organization","organization":"12345678","text":"={{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.post }}\n{{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.call_to_action }}\n{{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.hashtags }}\n{{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.call_to_action }}","shareMediaCategory":"IMAGE","binaryPropertyName":"=data","additionalFields":{}},"id":"f464056b-c917-4b64-8b30-718d0bb0fcb5","name":"LinkedIn Post","type":"n8n-nodes-base.linkedIn","position":[2064,1840],"typeVersion":1,"alwaysOutputData":true,"credentials":{"linkedInOAuth2Api":{"id":"YDfszMLqtD4NXmOV","name":"LinkedIn account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"image","prompt":"={{ $('Social Media Content Factory').item.json.output.platform_posts.Instagram.caption }}","options":{}},"id":"ed7f6f18-ce4f-4ed7-99f2-b27ca32bc6c4","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","position":[400,1040],"typeVersion":1.8,"alwaysOutputData":true,"credentials":{"openAiApi":{"id":"U360MhzRhu1kwzRA","name":"OpenAi account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"52e40287-3b77-4905-91a6-9cd43494ca25","name":"Merge1","type":"n8n-nodes-base.merge","position":[1808,1008],"typeVersion":3},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"id":"30fd20aa-55df-4c61-8f65-5117f119070f","name":"Merge2","type":"n8n-nodes-base.merge","position":[1808,1744],"typeVersion":3},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"bcb730a9-9340-465e-bc3a-d1bae1451b96","name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[128,1584],"typeVersion":1},{"parameters":{"model":{"__rl":true,"value":"deepseek-chat","mode":"id"},"options":{"responseFormat":"text"}},"id":"f6729e91-16fd-4c1f-8c8c-ade7f9ab4d3d","name":"gpt-4o-mini1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[352,1600],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"U360MhzRhu1kwzRA","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"deepseek-chat","mode":"id"},"options":{"responseFormat":"text"}},"id":"b99e7554-5eca-4b8f-979e-5b18dde5eeb5","name":"gpt-4o-mini2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[352,1888],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"U360MhzRhu1kwzRA","name":"OpenAi account"}}},{"parameters":{"operation":"sendAndWait","sendTo":"=marcelopiraz@gmail.com","subject":"=🔥FOR APPROVAL🔥{{ $('Social Media Content Factory').item.json.output.name }} - {{ $('Social Media Content Factory').item.json.output.description }}","message":"={{ $json.output }}","approvalOptions":{"values":{"approvalType":"double","approveLabel":"Aprovado","disapproveLabel":"Reprovado"}},"options":{"limitWaitTime":{"values":{"resumeAmount":45,"resumeUnit":"minutes"}}}},"id":"100f3ff7-4156-4264-bb08-250e66fbae14","name":"Gmail User for Approval","type":"n8n-nodes-base.gmail","position":[2368,528],"webhookId":"c46cf421-ddb6-45a8-b83b-80b381666f0e","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"uB1L6uinFMhm57Rd","name":"Gmail account"}}},{"parameters":{"content":"## Publish to Social Media","height":1100,"width":300,"color":6},"id":"c7ec6825-6b3f-48fa-b96d-10d5da332415","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1968,928],"typeVersion":1},{"parameters":{"content":"## Format Results","height":880,"width":300,"color":5},"id":"473daa8f-df75-4847-a416-691f94703e49","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2304,1152],"typeVersion":1},{"parameters":{"content":"# Step 4️⃣: Send Final Results of Social Media Factory","height":760,"width":1020,"color":7},"id":"1ce675bc-a718-47ff-be66-b592d521479a","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[0,1312],"typeVersion":1},{"parameters":{"content":"## Create Post Image","height":260,"width":260,"color":3},"id":"eaf08efb-5a06-48c1-8eb4-356459e53336","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[320,960],"typeVersion":1},{"parameters":{"operation":"sendAndWait","sendTo":"={{ $env.EMAIL_ADDRESS_JOE }} ","subject":"=🔥FOR APPROVAL🔥 New LinkedIn Post","message":"=<html>\n<body style=\"margin:0; padding:0; font-family: Arial, sans-serif; background-color: #f5f5f5;\">\n  <div style=\"max-width: 600px; margin: 0 auto; padding: 20px;\">\n\n    <h2 style=\"font-size:20px; color:#333; margin:0 0 15px 0;\">LinkedIn</h2>\n      \n    <!-- LinkedIn Card -->\n    <div style=\"background: #ffffff; border-radius: 8px; margin-bottom: 20px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n\n      <!-- Card Header Image -->\n      <div style=\"height: 200px; overflow: hidden; border-radius: 8px 8px 0 0;\">\n        <img src=\"{{ $json.data.medium.url }}\" alt=\"Featured Image\" style=\"width: 100%; height: 100%; object-fit: cover;\">\n      </div>\n\n      <!-- Card Content -->\n      <div style=\"padding: 25px;\">\n\n        <p style=\"font-size:16px; color:#555; line-height: 1.6; margin-bottom: 15px;\">\n          {{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.post }}\n        </p>\n        \n        <div style=\"margin: 15px 0;\">\n          <span style=\"display: inline-block; background: #f0f0f0; padding: 4px 8px; margin: 2px; border-radius: 4px; font-size:12px; color:#333;\">\n            {{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.hashtags }}\n          </span>\n        </div>\n\n        <p style=\"font-size:14px; color:#1a0dab; font-weight: 600; margin:15px 0 0 0;\">\n          {{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.call_to_action }}\n        </p>\n      </div>\n    </div>\n  </div>\n</body>\n</html>\n","approvalOptions":{"values":{"approvalType":"double"}},"options":{"limitWaitTime":{"values":{"resumeAmount":45,"resumeUnit":"minutes"}}}},"id":"588e7342-6ce4-497c-9e3d-557302226f44","name":"Approve Final Post Content","type":"n8n-nodes-base.gmail","position":[1344,1440],"webhookId":"c46cf421-ddb6-45a8-b83b-80b381666f0e","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"uB1L6uinFMhm57Rd","name":"Gmail account"}},"disabled":true},{"parameters":{"content":"## Final Approval before Publishing to Social Feeds\n(optional)","height":340,"width":300},"id":"7d9fc5d3-a10b-4989-8b3c-b2736d6edcd6","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[1248,1312],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"efe337a1-63e0-4513-873d-421bf41e4868","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.data.approved }}","rightValue":""}]},"options":{}},"id":"d0f8e00c-e0fe-4abd-96fa-ec403ea306cb","name":"Is Approved?","type":"n8n-nodes-base.if","position":[1520,1088],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"5c6edc76-1e3b-45b0-8baa-33a14c678150","name":"Instagram Post Result","type":"string","value":"={{ $json }}"}]},"options":{}},"id":"e2f6d932-e9ec-4a65-908f-5e2e23625b09","name":"Instagram Result","type":"n8n-nodes-base.set","position":[2400,1232],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"5c6edc76-1e3b-45b0-8baa-33a14c678150","name":"Facebook Post Result","type":"string","value":"={{ $json }}"}]},"options":{}},"id":"91e1519c-0e09-411e-8484-8c8f7818ebd1","name":"Facebook Result","type":"n8n-nodes-base.set","position":[2400,1664],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"5c6edc76-1e3b-45b0-8baa-33a14c678150","name":"LinkedIn Post Result","type":"string","value":"={{ $json }}"}]},"options":{}},"id":"0cb3cb0d-9f5b-438b-abc5-077966ec2fb1","name":"LinkedIn Result","type":"n8n-nodes-base.set","position":[2400,1840],"typeVersion":3.4},{"parameters":{"formTitle":"Autopost","formDescription":"=Bem-vindo ao Assistente com IA da Autopost!\n\nEsta ferramenta foi projetada para otimizar e aprimorar seu processo de criação de conteúdo para redes sociais.\n\nBasta fornecer as principais informações, como um tópico ou título e uma imagem opcional, e nosso agente inteligente gerará descrições de postagens envolventes e específicas para cada plataforma, personalizadas para o seu público.\n\nSeja você um profissional de marketing, dono de empresa ou influenciador, este assistente economiza seu tempo e, ao mesmo tempo, oferece conteúdo de qualidade profissional otimizado para o máximo impacto.\n\n","formFields":{"values":[{"fieldLabel":"Topico","placeholder":"Forneça um título conciso e claro ou o tópico principal da sua publicação (por exemplo, \"Lançamento de novo produto\", \"Novidades da empresa\"). Isso ajuda a IA a captar com precisão o foco do seu conteúdo.","requiredField":true},{"fieldLabel":"Palavras-chave ou hashtags (opcional)","placeholder":"Inclua quaisquer palavras-chave ou hashtags específicas que você gostaria que a IA incorporasse na publicação. Isso garante que o conteúdo esteja alinhado com a sua marca e os objetivos da campanha.","requiredField":"={{ false }}"},{"fieldLabel":"Link  (opcional)","placeholder":"=Forneça a URL de qualquer produto, serviço, formulário, página de suporte ou outro recurso. Este link será incluído na postagem gerada para direcionar seu público ao conteúdo relevante."}]},"responseMode":"lastNode","options":{"buttonLabel":"Automatically Generate Social Media Content"}},"id":"7b1aca4a-11e0-4aeb-9847-9948c42ef21c","name":"Submit Social Post Details","type":"n8n-nodes-base.formTrigger","position":[192,320],"webhookId":"3e762442-715e-47e1-a65e-ae92085857ae","typeVersion":2.2},{"parameters":{"content":"# Step 1️⃣: Create Social Media Written Content\nNote:  \nYou could use the output of step 1 to create your written content and manually post if required.  \nYou so not have to implement step 2.","height":760,"width":2640,"color":7},"id":"c570e285-4219-4834-a618-94c2fb4e6038","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[-112,-16],"typeVersion":1},{"parameters":{"content":"# Step 2️⃣: Create Image or Upload Image for Social Post","height":460,"width":1020,"color":7},"id":"ba14e534-8244-4bee-a90f-aa361c378657","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[0,800],"typeVersion":1},{"parameters":{"content":"# Step 3️⃣: Publish Final Social Media Posts","height":1260,"width":1680,"color":7},"id":"9fdd778a-0341-48bf-b78d-94f1b0d0af65","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[1200,800],"typeVersion":1},{"parameters":{"numberInputs":4},"id":"3358eb68-ae25-476e-ad9d-107387b6c6f8","name":"Merge Results","type":"n8n-nodes-base.merge","position":[2704,1840],"typeVersion":3,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=Você é uma IA de criação de conteúdo para a AutoPost, uma criadora líder de soluções de automação de fluxo de trabalho n8n e fluxos de trabalho de Agentes de IA.\n\nSeu objetivo é elaborar conteúdo envolvente e específico para cada plataforma para LinkedIn, Instagram e Facebook. Cada postagem deve se alinhar com as preferências de público, tom e estilo da plataforma, refletindo a experiência da autopost. O conteúdo deve fornecer insights orientados a valor, tutoriais, análises e discussões que ressoem com profissionais de tecnologia, entusiastas de automação, empresas e usuários de n8n.\n\nObjetivos Principais:\nOtimização de Plataforma: Adapte o formato do conteúdo, o tom e as hashtags para se adequar ao algoritmo e aos padrões de engajamento do público de cada plataforma.\n\nSEO e Hashtags: Use uma mistura de hashtags gerais de automação e hashtags de tendências específicas da plataforma para maximizar o alcance.\n\nFoco no Engajamento: Crie conteúdo que desperte interação por meio de tutoriais, comparações, análises ou discussões que estimulem a reflexão.\n\nConsistência: Mantenha um tom profissional, mas acessível, em todas as plataformas, adaptando-se às necessidades do público.\n\nEstratégia Baseada em Dados: Analise tendências e dados de desempenho para refinar a estratégia de conteúdo e o uso de hashtags.\n\nHashtags Gerais:\n#workflowsdiy #n8n #automation #AIWorkflows #WorkflowAutomation #TechSolutions\n\nDiretrizes Específicas da Plataforma:\n1. LinkedIn\nEstilo: Profissional e perspicaz.\n\nTom: Orientado a negócios; foco em casos de uso de automação, insights do setor e impacto na comunidade.\n\nTamanho do Conteúdo: 6-8 frases; conciso, mas detalhado.\n\nHashtags: #Innovation #Automation #WorkflowSolutions #DigitalTransformation #Leadership\n\nChamada para Ação (CTA): Incentive comentários ou visitas ao site da autopost para mais insights.\n\n2. Instagram\nEstilo: Narrativa visual com legendas criativas.\n\nTom: Inspirador e envolvente; use emojis para gerar identificação.\n\nTamanho do Conteúdo: 2-3 frases combinadas com visuais chamativos (ex: infográficos ou demonstrações de fluxo de trabalho).\n\nVisuais: Mostre marcos (ex: lançamento de novos fluxos), tutoriais ou destaques de produtos.\n\nCTA: Use frases como \"Arraste para saber mais\", \"Marque sua equipe\" ou \"Confira o link abaixo!\"\n\nPosicionamento do Link: Adicione o link fornecido antes das hashtags; se nenhum link for fornecido, use \"Visite nosso site: https://workflows.diy.\"\n\nHashtags: #AutomationLife #TechInnovation #WorkflowTips #Programming #Engineering\n\n3. Facebook\nEstilo: Amigável e focado na comunidade.\n\nTom: Relacionável; destaque histórias de sucesso de usuários ou conquistas da empresa em automação.\n\nTamanho do Conteúdo: 2-3 frases; conversacional, mas profissional.\n\nHashtags: #SmallBusinessAutomation #Entrepreneurship #Leadership #WorkflowInnovation\n\nCTA: Incentive curtidas, compartilhamentos e comentários (ex: “Qual é a sua dica de automação favorita?”).\n\n\nTamanho do Conteúdo:\n\n\nCTA: Incentive inscrições, curtidas e comentários (ex: “Inscreva-se para mais dicas de fluxo de trabalho!”).\n\nFluxo de Trabalho de Criação de Conteúdo:\nPara cada postagem:\n\nUse os seguintes campos de entrada:\n\nTópico/Sobre a Postagem: {{ $json.Topico }}\n\nPalavras-chave/Áreas de Foco: {{ $json.formMode }}\n\nLink (opcional): {{ $json['Link  (opcional)'] }}\n\nAdapte o tom/estilo com base nas diretrizes da plataforma acima.\n\nCertifique-se de que cada postagem reflita a missão da autopost de entregar insights de automação de alta qualidade enquanto maximiza o engajamento em todas as plataformas.\n\nSiga o esquema JSON fornecido para sua resposta.","hasOutputParser":true,"options":{"systemMessage":"=Use the provided tools to research the topic based on latest information.  Todays date is {{ $now }}"}},"id":"5ea76f21-1a41-46c2-aac1-cccaf96f5d48","name":"Social Media Content Factory","type":"@n8n/n8n-nodes-langchain.agent","position":[672,320],"retryOnFail":true,"typeVersion":1.7},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Você é uma IA de criação de conteúdo para a AutoPost, especializada em gerar conteúdo otimizado para redes sociais.\n\nSeu objetivo é criar conteúdo envolvente e específico para LinkedIn, Instagram e Facebook. Cada postagem deve se alinhar com as preferências de público, tom e estilo da plataforma.\n\n## INFORMAÇÕES DA POSTAGEM:\n- Tópico:{{ $('Submit Social Post Details').item.json.Topico }}\n- Palavras-chave: {{ $('Submit Social Post Details').item.json['Palavras-chave ou hashtags (opcional)'] }}\n- Link:{{ $('Submit Social Post Details').item.json['Link  (opcional)'] }}\n\n## DIRETRIZES POR PLATAFORMA:\n\n### LinkedIn\n- **Estilo**: Profissional e perspicaz\n- **Tom**: Orientado a negócios; foco em cases, insights e impacto\n- **Tamanho**: 3-4 frases concisas mas detalhadas\n- **Hashtags Base**: #Innovation #Automation #WorkflowSolutions #DigitalTransformation #Leadership #workflowsdiy #n8n\n- **CTA**: Incentive comentários ou visitas ao site\n\n### Instagram  \n- **Estilo**: Visual e criativo com emojis\n- **Tom**: Inspirador e envolvente\n- **Tamanho**: 2-3 frases + emojis relevantes\n- **Hashtags Base**: #AutomationLife #TechInnovation #WorkflowTips #Programming #Engineering #workflowsdiy #n8n\n- **CTA**: \"Salve este post\", \"Marque sua equipe\", \"Confira o link na bio\"\n- **Link**: Se fornecido, adicione antes das hashtags, senão use \"Visite: https://workflows.diy\"\n\n### Facebook\n- **Estilo**: Amigável e conversacional\n- **Tom**: Relacionável; destaque histórias de sucesso\n- **Tamanho**: 2-3 frases\n- **Hashtags Base**: #SmallBusinessAutomation #Entrepreneurship #Leadership #WorkflowInnovation #workflowsdiy #n8n\n- **CTA**: Incentive curtidas, compartilhamentos e comentários\n\n## REGRAS IMPORTANTES:\n1. Use o tópico fornecido como base principal\n2. Incorpore as palavras-chave/hashtags fornecidas\n3. Adicione o link fornecido quando disponível\n4. Mantenha consistência profissional mas acessível\n5. Gere sugestões específicas de imagens para cada plataforma\n6. SEMPRE forneça respostas no formato JSON estruturado\n\nGere conteúdo de alta qualidade que maximize engajamento em cada plataforma.Você é um gerador de emails HTML. Sua ÚNICA tarefa é retornar HTML puro, sem nenhum texto adicional, explicação, ou blocos de código markdown.\n\nIMPORTANTE: \n- NÃO use ```html ou ``` \n- NÃO adicione explicações\n- APENAS retorne o HTML direto\n\nGere um email HTML formatado com os dados JSON abaixo. Use tabelas com CSS inline.\n\nPara cada plataforma no JSON, crie um card com:\n- Título da plataforma (negrito, 20px)\n- Conteúdo do post (16px)\n- Sugestão de imagem/vídeo (itálico, 14px, cor #666)\n- Hashtags (em spans com background #f0f0f0, padding 4px 8px, border-radius 4px)\n- Call to action (negrito, 14px)\n\nEstrutura do HTML:\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f9f9f9;margin-bottom:20px;padding:20px;border-radius:8px\">\n    <tr>\n      <td style=\"font-size:20px;font-weight:bold;color:#333;padding-bottom:10px\">LinkedIn</td>\n    </tr>\n    <tr>\n      <td style=\"font-size:16px;color:#333;padding-bottom:10px\">\n        Automatizar workflows não é mais um diferencial — é uma necessidade estratégica. Com soluções baseadas em n8n, equipes reduzem retrabalho, ganham escala e aceleram resultados reais. Descubra como a automação inteligente pode transformar seus processos e gerar impacto mensurável no negócio. Como sua empresa está evoluindo nessa jornada?\n      </td>\n    </tr>\n    <tr>\n      <td style=\"font-size:14px;font-style:italic;color:#666;padding-bottom:10px\">\n        Sugestão de imagem/vídeo: Gráfico ou dashboard profissional mostrando ganhos de eficiência e automação de processos.\n      </td>\n    </tr>\n    <tr>\n      <td style=\"padding-bottom:10px\">\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#Innovation</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#Automation</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#WorkflowSolutions</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#DigitalTransformation</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#Leadership</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#workflowsdiy</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px\">#n8n</span>\n      </td>\n    </tr>\n    <tr>\n      <td style=\"font-size:14px;font-weight:bold;color:#333\">\n        Comente sua experiência ou visite nosso site para saber mais.\n      </td>\n    </tr>\n  </table>\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f9f9f9;margin-bottom:20px;padding:20px;border-radius:8px\">\n    <tr>\n      <td style=\"font-size:20px;font-weight:bold;color:#333;padding-bottom:10px\">Instagram</td>\n    </tr>\n    <tr>\n      <td style=\"font-size:16px;color:#333;padding-bottom:10px\">\n        Automatize tarefas, conecte sistemas e ganhe tempo para inovar 🚀🤖 Com workflows inteligentes em n8n, sua operação fica mais rápida e eficiente. Menos trabalho manual, mais resultados! ✨<br><br>\n        Visite: https://workflows.diy\n      </td>\n    </tr>\n    <tr>\n      <td style=\"font-size:14px;font-style:italic;color:#666;padding-bottom:10px\">\n        Sugestão de imagem/vídeo: Vídeo curto ou arte colorida mostrando fluxos conectados com ícones de apps e automação.\n      </td>\n    </tr>\n    <tr>\n      <td style=\"padding-bottom:10px\">\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#AutomationLife</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#TechInnovation</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#WorkflowTips</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#Programming</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#Engineering</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#workflowsdiy</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px\">#n8n</span>\n      </td>\n    </tr>\n    <tr>\n      <td style=\"font-size:14px;font-weight:bold;color:#333\">\n        Salve este post, marque sua equipe e confira o link na bio.\n      </td>\n    </tr>\n  </table>\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f9f9f9;margin-bottom:20px;padding:20px;border-radius:8px\">\n    <tr>\n      <td style=\"font-size:20px;font-weight:bold;color:#333;padding-bottom:10px\">Facebook</td>\n    </tr>\n    <tr>\n      <td style=\"font-size:16px;color:#333;padding-bottom:10px\">\n        Pequenas mudanças podem gerar grandes resultados quando falamos de automação. Com workflows bem definidos em n8n, negócios estão economizando tempo e crescendo com mais controle. Quer ver como isso funciona na prática?\n      </td>\n    </tr>\n    <tr>\n      <td style=\"font-size:14px;font-style:italic;color:#666;padding-bottom:10px\">\n        Sugestão de imagem/vídeo: Foto ou ilustração mostrando uma equipe celebrando ganhos de produtividade com tecnologia.\n      </td>\n    </tr>\n    <tr>\n      <td style=\"padding-bottom:10px\">\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#SmallBusinessAutomation</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#Entrepreneurship</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#Leadership</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#WorkflowInnovation</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#workflowsdiy</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px\">#n8n</span>\n      </td>\n    </tr>\n    <tr>\n      <td style=\"font-size:14px;font-weight:bold;color:#333\">\n        Curta, compartilhe e deixe seu comentário.\n      </td>\n    </tr>\n  </table>\n\n</td>\n\nDados JSON:\n{{ $json.output.toJsonString() }}\n\nVocê é um gerador de emails HTML.\nRetorne APENAS HTML válido.\nNÃO inclua texto explicativo.\nNÃO inclua JSON.\nNÃO inclua markdown.\nComece diretamente com <table> e termine com </table>.","options":{}},"id":"33876c4f-0f39-4dcf-8ec0-d5cfe3673e7b","name":"Prepare Content Review Email","type":"@n8n/n8n-nodes-langchain.agent","position":[1808,320],"typeVersion":1.7},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Parse the social media post results and generate a modern single line HTML table showing platform statuses. For each entry:\n\n-Extract platform name from the JSON key\n-Identify status (Success/Error) based on statusCode or error presence\n-Capture error message if present\n-Format as responsive HTML table with professional styling\n-Ensure email client compatibility with inline CSS\n-Include error handling for invalid JSON formats\n-Remove all line breaks and \\n from response.\n-Avoid any preamble or further explanation and remove all ``` and ```html from response.\n\n## Implementation Example:\nThis solution uses the parsed results from your workflow to generate:\n<table style=\"border-collapse: collapse; width: 100%; font-family: Arial, sans-serif; margin: 20px 0; background-color: #f9f9f9; border: 1px solid #ddd;\">\n    <thead>\n        <tr style=\"background-color: #007bff; color: #fff;\">\n            <th style=\"border: 1px solid #ddd; padding: 12px; text-align: left;\">Platform</th>\n            <th style=\"border: 1px solid #ddd; padding: 12px; text-align: left;\">Status</th>\n            <th style=\"border: 1px solid #ddd; padding: 12px; text-align: left;\">Details</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr style=\"background-color: #ffffff;\">\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">Instagram</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px; color: #dc3545;\">✗ Error</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">Unsupported post request. Object with ID '[your-unique-id]' does not exist, cannot be loaded due to missing permissions.</td>\n        </tr>\n        <tr style=\"background-color: #f8f9fa;\">\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">X (Twitter)</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px; color: #dc3545;\">✗ Error</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">Unable to sign without access token</td>\n        </tr>\n        <tr style=\"background-color: #ffffff;\">\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">Facebook</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px; color: #dc3545;\">✗ Error</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">Unsupported post request. Object with ID '[your-unique-id]' does not exist, cannot be loaded due to missing permissions.</td>\n        </tr>\n        <tr style=\"background-color: #f8f9fa;\">\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">LinkedIn</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px; color: #dc3545;\">✗ Error</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">Unable to sign without access token</td>\n        </tr>\n    </tbody>\n</table>\n\n\nThis is the social media post results: \n{{ $json.data.toJsonString() }}\n","options":{}},"id":"797a986b-091d-4ce5-9ea5-500e76261df6","name":"Prepare Results Email","type":"@n8n/n8n-nodes-langchain.agent","position":[368,1440],"typeVersion":1.7},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Parse the social media post results and generate a brief summary of the results.\n\nThis is the social media post results: \n{{ $json.data.toJsonString() }}\n\n## Example Response:\nThe social media post results indicate multiple errors when attempting to access or post content on various platforms. \n\n1. Instagram: The response shows a 400 status code with an error message indicating that the specific post request is unsupported due to missing permissions or an invalid object ID. \n\n2. X Post: Success\n\n3. Facebook: Success \n\n4. LinkedIn: Also returned an 'Unable to sign without access token' error. \n\nOverall, access token issues and unsupported requests are frequent problems across these social media platforms.\n","options":{}},"id":"c808e955-613b-48e7-8776-7beb10c33d0e","name":"Prepare Results Message","type":"@n8n/n8n-nodes-langchain.agent","position":[368,1728],"typeVersion":1.7},{"parameters":{"formFields":{"values":[{"fieldLabel":"Upload Image (optional)","fieldType":"file","multipleFiles":false,"acceptFileTypes":".jpg, .png, .jpeg"},{"fieldLabel":"Generate Custom Image using AI Image Generator","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Yes"},{"option":"No"}]},"requiredField":true}]},"options":{"formTitle":"Generate Post Image","buttonLabel":"Submit"}},"id":"9df8dbe7-e8b1-4578-8ceb-ee4f255c22c0","name":"Image Choice","type":"n8n-nodes-base.form","position":[-256,944],"webhookId":"0dc811ef-b2e0-4213-a0c9-e9b5fb9fcbf1","typeVersion":1,"disabled":true},{"parameters":{"sendTo":"={{ $env.EMAIL_ADDRESS_JOE }} ","subject":"🔥RESULTS🔥 Social Media Factory","message":"={{ $json.output }}","options":{"appendAttribution":false}},"id":"650829f2-b5f7-4527-8499-3cc360d51e28","name":"Gmail Results","type":"n8n-nodes-base.gmail","position":[720,1440],"webhookId":"0a81b95a-cd82-465d-8450-cf38518a4cbb","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"uB1L6uinFMhm57Rd","name":"Gmail account"}}},{"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"96d4b4ef-f333-44a7-b4de-2882aec933de","name":"Telegram Results","type":"n8n-nodes-base.telegram","position":[720,1728],"webhookId":"bb40ede7-03cf-493d-b051-196b96725925","typeVersion":1.2,"credentials":{"telegramApi":{"id":"ca1vX4usbi6NVpkV","name":"Telegram account"}}},{"parameters":{"content":"","height":620,"width":940,"color":4},"id":"eb82f7bb-d69e-482f-976f-b99b00efbab9","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[48,1408],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e32d270f-f258-4522-94e1-2cb7ee4e8d2a","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.data.approved }}","rightValue":""}]},"options":{}},"id":"9e69ef5a-ea0d-4a6d-af82-733e075496e9","name":"Is Content Approved?","type":"n8n-nodes-base.if","position":[128,1040],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"f150aa79-2d20-4869-b60a-350d49a215a5","name":"data","type":"object","value":"={\n  \"approved\": true\n}"}]},"options":{}},"id":"f614899b-6b45-4493-980a-ab058df33e5e","name":"Set Default True 2","type":"n8n-nodes-base.set","position":[1344,1088],"typeVersion":3.4},{"parameters":{"content":"## Alternative User Uploaded Image\n(optional)","height":580,"width":300},"id":"6040ee51-9bb7-4858-b069-19c92275ce22","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","position":[-336,800],"typeVersion":1},{"parameters":{"content":"## Implement Additional Approval Here\n(optional)","height":340,"width":460},"id":"388c5e25-11f9-41fa-84dd-30d1e0f7245c","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","position":[1248,928],"typeVersion":1},{"parameters":{"options":{}},"id":"e721b52c-7877-4caf-ae26-ae9b3671ee6f","name":"SerpAPI","type":"@n8n/n8n-nodes-langchain.toolSerpApi","position":[832,528],"typeVersion":1,"credentials":{"serpApi":{"id":"GfLBw3Xcu0NWEcfe","name":"SerpAPI account"}}},{"parameters":{"content":"### 💡Notes\n\nAdjust the Social Media Content Factory prompts to suit your personal or business requirements.\n\nUpdate Credentials for:\n- OpenAI API Key\nhttps://auth.openai.com/log-in\n\n- Google Studio API\nhttps://aistudio.google.com/app/apikey\n\n- SERP API Key\nhttps://serpapi.com/\n\n- Gmail OAuth\nhttps://docs.n8n.io/integrations/builtin/credentials/google/\n\n- Telegram Bot (Optional)\nhttps://docs.n8n.io/integrations/builtin/credentials/telegram/\n\n- imgbb\nhttps://imgbb.com/","height":500,"width":480},"id":"81b4484a-caa5-47cf-86f3-620bc9e99cf0","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","position":[1152,160],"typeVersion":1},{"parameters":{"content":"💡Notes\n\nUpdate all Social Media Platform Credentials as required.\n\nAdjust parameters and content for each platform to suit your needs.","height":180,"width":300},"id":"874ce875-ccfa-4b2e-a7c0-c78e7e131b60","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","position":[2304,928],"typeVersion":1},{"parameters":{"jsCode":"$input.first().binary.data = $input.first().binary.Upload_Image__optional_\ndelete $input.first().binary.Upload_Image__optional_\nreturn $input.first()"},"id":"0bc20e4c-0444-4a3b-9af9-7daba1867851","name":"Rename Binary File","type":"n8n-nodes-base.code","position":[-256,1184],"typeVersion":2,"alwaysOutputData":true},{"parameters":{"path":"93816855-3996-4d2a-ad68-e72b187330cf"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":2,"position":[1072,608],"id":"779b6bd4-c891-4275-9023-d0751d39d5f8","name":"MCP Server Trigger","webhookId":"93816855-3996-4d2a-ad68-e72b187330cf"}],"connections":{"Merge":{"main":[[{"node":"Set Default True 2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Instagram Image","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Facebook Post","type":"main","index":0},{"node":"LinkedIn Post","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Save Image to imgbb.com3","type":"main","index":0},{"node":"Merge","type":"main","index":1},{"node":"Merge2","type":"main","index":1}]]},"SerpAPI":{"ai_tool":[[{"node":"Social Media Content Factory","type":"ai_tool","index":0},{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Aggregate":{"main":[[{"node":"Prepare Results Email","type":"main","index":0},{"node":"Prepare Results Message","type":"main","index":0}]]},"gpt-4o LLM":{"ai_languageModel":[[{"node":"Social Media Content Factory","type":"ai_languageModel","index":0}]]},"gpt-4o-mini":{"ai_languageModel":[[]]},"Image Choice":{"main":[[{"node":"Rename Binary File","type":"main","index":0}]]},"Is Approved?":{"main":[[{"node":"Merge1","type":"main","index":1},{"node":"Merge2","type":"main","index":0}]]},"gpt-4o-mini1":{"ai_languageModel":[[{"node":"Prepare Results Email","type":"ai_languageModel","index":0}]]},"gpt-4o-mini2":{"ai_languageModel":[[{"node":"Prepare Results Message","type":"ai_languageModel","index":0}]]},"Facebook Post":{"main":[[{"node":"Facebook Result","type":"main","index":0}]]},"LinkedIn Post":{"main":[[{"node":"LinkedIn Result","type":"main","index":0}]]},"Merge Results":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Facebook Result":{"main":[[{"node":"Merge Results","type":"main","index":2}]]},"Instagram Image":{"main":[[{"node":"Instragram Post","type":"main","index":0}]]},"Instragram Post":{"main":[[{"node":"Instagram Result","type":"main","index":0}]]},"LinkedIn Result":{"main":[[{"node":"Merge Results","type":"main","index":3}]]},"Instagram Result":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Set Default True 2":{"main":[[{"node":"Is Approved?","type":"main","index":0}]]},"Is Content Approved?":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Social Media Content":{"ai_outputParser":[[{"node":"Social Media Content Factory","type":"ai_outputParser","index":0}]]},"Prepare Results Email":{"main":[[{"node":"Gmail Results","type":"main","index":0}]]},"Gmail User for Approval":{"main":[[{"node":"Is Content Approved?","type":"main","index":0}]]},"Prepare Results Message":{"main":[[{"node":"Telegram Results","type":"main","index":0}]]},"Save Image to imgbb.com3":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"Submit Social Post Details":{"main":[[{"node":"Social Media Content Factory","type":"main","index":0}]]},"Prepare Content Review Email":{"main":[[{"node":"Gmail User for Approval","type":"main","index":0}]]},"Social Media Content Factory":{"main":[[{"node":"Prepare Content Review Email","type":"main","index":0}]]},"gpt-4o":{"ai_languageModel":[[{"node":"Prepare Content Review Email","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9a6640b8-345c-4d18-8333-0f513a0cc28a","activeVersionId":"9a6640b8-345c-4d18-8333-0f513a0cc28a","triggerCount":2,"shared":[{"updatedAt":"2026-01-02T12:59:30.692Z","createdAt":"2026-01-02T12:59:30.692Z","role":"workflow:owner","workflowId":"5zZtPkxLRRLFeMOl","projectId":"ej8gVdo1FjD7Hco2"}],"activeVersion":{"updatedAt":"2026-01-08T22:56:02.321Z","createdAt":"2026-01-08T22:56:02.321Z","versionId":"9a6640b8-345c-4d18-8333-0f513a0cc28a","workflowId":"5zZtPkxLRRLFeMOl","nodes":[{"parameters":{"content":"# 🧑‍🦱 User Input for Social Media Posts \n💡 Unpin default data to get started","height":344,"width":360,"color":4},"id":"81dd732b-a157-4242-95e0-319d68339637","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[64,160],"typeVersion":1},{"parameters":{"content":"# 🛠️ Social Media Content Factory\n- LinkedIn\n- Instagram\n- Facebook\n- X\n- TikTok\n- Threads\n- YouTube Shorts\n","height":600,"width":640,"color":6},"id":"1f2de57c-41e1-4f22-9076-f7add9ac1945","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[464,128],"typeVersion":1},{"parameters":{"content":"# 👍 Approve Content Before Proceeding","height":360,"width":400,"color":4},"id":"f6e4f305-6237-4996-9ff8-a2439b436f60","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[2208,368],"typeVersion":1},{"parameters":{"content":"# ✉️ Prepare & Format Approval Email","height":560,"width":500,"color":5},"id":"567b773c-abf8-4c65-ba87-2e557370e881","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1664,160],"typeVersion":1},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"name\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"description\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"platform_posts\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"LinkedIn\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\"image_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"post\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"call_to_action\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"Instagram\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\"image_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"caption\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"emojis\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"call_to_action\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"Facebook\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\"post\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"call_to_action\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"image_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"X-Twitter\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\"video_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"image_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"post\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"character_limit\": {\n\t\t\t\t\t\t\t\"type\": \"integer\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"TikTok\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\"video_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"caption\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"call_to_action\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"Threads\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\"image_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"text_post\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"call_to_action\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"YouTube_Shorts\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\"video_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"title\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"description\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"call_to_action\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"additional_notes\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"},"id":"cf810a35-457f-4634-bd33-f0dc119d0ef2","name":"Social Media Content","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[928,528],"typeVersion":1.2},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{"temperature":0.4}},"id":"eda8bfaa-be2e-4cc7-b414-be9e7769a939","name":"Google Gemini LLM","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[688,528],"typeVersion":1,"disabled":true},{"parameters":{"model":{"__rl":true,"value":"deepseek-chat","mode":"id"},"options":{"responseFormat":"text"}},"id":"c816dddf-8116-4cb2-a2f3-50fd7f241534","name":"gpt-4o-mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1680,560],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"U360MhzRhu1kwzRA","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"id","value":"deepseek-chat"},"options":{"responseFormat":"text"}},"id":"65ce77bf-9113-44c1-a52d-7d6b34d201de","name":"gpt-4o","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1808,528],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"U360MhzRhu1kwzRA","name":"OpenAi account"}},"disabled":true},{"parameters":{"model":{"__rl":true,"mode":"id","value":"deepseek-chat"},"options":{"responseFormat":"text"}},"id":"fe9ff018-9ee9-45ae-b2e6-14e522cce325","name":"gpt-4o LLM","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[544,528],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"U360MhzRhu1kwzRA","name":"OpenAi account"}}},{"parameters":{"url":"=https://image.pollinations.ai/prompt/{{$('Social Media Content Factory').item.json.output.description.replaceAll(' ','-').replaceAll(',','').replaceAll('.','') }}","options":{}},"id":"e4787c44-c78c-44d4-9c3f-4391e149c8cb","name":"pollinations.ai","type":"n8n-nodes-base.httpRequest","position":[1344,1840],"typeVersion":4.2,"disabled":true},{"parameters":{"content":"## Create Post Image\nhttps://pollinations.ai/\nhttps://image.pollinations.ai/prompt/[your image description]\n\n(alternative)","height":340,"width":300},"id":"9c921c65-17d2-4b61-9c71-4dee2e1ffe31","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1248,1680],"typeVersion":1},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"id":"fbcb9f97-a3f9-4518-8f85-054078911064","name":"Merge","type":"n8n-nodes-base.merge","position":[1072,1088],"typeVersion":3},{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","sendQuery":true,"queryParameters":{"parameters":[{"name":"expiration","value":"0"},{"name":"key","value":"={{ $env.IMGBB_API_KEY}} "}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{"redirect":{"redirect":{}}}},"id":"feb71091-ef18-477a-9864-64c8d4f2f5f3","name":"Save Image to imgbb.com3","type":"n8n-nodes-base.httpRequest","position":[720,928],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v20.0/[your-unique-id]/media","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"image_url","value":"={{ $json.data.medium.url }}"},{"name":"caption","value":"={{ $('Social Media Content Factory').item.json.output.platform_posts.Instagram.caption }}"}]},"options":{}},"id":"a32de0c5-2381-4d6d-9235-fc87ba2eee0d","name":"Instagram Image","type":"n8n-nodes-base.httpRequest","position":[2064,1008],"typeVersion":4.2,"credentials":{"facebookGraphApi":{"id":"6VQJJHoXUHjAkTqY","name":"Facebook Graph account"}},"onError":"continueRegularOutput"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"[your-unique-id]","edge":"media_publish","options":{"queryParameters":{"parameter":[{"name":"creation_id","value":"={{ $json.id }}"},{"name":"caption","value":"={{ $('Social Media Content Factory').item.json.output.platform_posts.Instagram.caption }}"}]}}},"id":"87489c1b-63de-4cf8-aa0e-29d5c9b4ef9b","name":"Instragram Post","type":"n8n-nodes-base.facebookGraphApi","position":[2064,1232],"typeVersion":1,"alwaysOutputData":true,"credentials":{"facebookGraphApi":{"id":"6VQJJHoXUHjAkTqY","name":"Facebook Graph account"}},"onError":"continueRegularOutput"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"[your-unique-id]","edge":"photos","sendBinaryData":true,"binaryPropertyName":"data","options":{"queryParameters":{"parameter":[{"name":"message","value":"={{ $('Social Media Content Factory').item.json.output.platform_posts.Facebook.post }}\n\n{{ $('Social Media Content Factory').item.json.output.platform_posts.Facebook.call_to_action }}\n"},{"name":"link","value":"={{ $('Social Media Content Factory').item.json.output.platform_posts.Facebook.call_to_action }}"}]}}},"id":"eceea44b-7153-43e9-880b-f739546a4242","name":"Facebook Post","type":"n8n-nodes-base.facebookGraphApi","position":[2064,1664],"typeVersion":1,"alwaysOutputData":true,"credentials":{"facebookGraphApi":{"id":"6VQJJHoXUHjAkTqY","name":"Facebook Graph account"}},"onError":"continueRegularOutput"},{"parameters":{"postAs":"organization","organization":"12345678","text":"={{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.post }}\n{{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.call_to_action }}\n{{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.hashtags }}\n{{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.call_to_action }}","shareMediaCategory":"IMAGE","binaryPropertyName":"=data","additionalFields":{}},"id":"f464056b-c917-4b64-8b30-718d0bb0fcb5","name":"LinkedIn Post","type":"n8n-nodes-base.linkedIn","position":[2064,1840],"typeVersion":1,"alwaysOutputData":true,"credentials":{"linkedInOAuth2Api":{"id":"YDfszMLqtD4NXmOV","name":"LinkedIn account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"image","prompt":"={{ $('Social Media Content Factory').item.json.output.platform_posts.Instagram.caption }}","options":{}},"id":"ed7f6f18-ce4f-4ed7-99f2-b27ca32bc6c4","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","position":[400,1040],"typeVersion":1.8,"alwaysOutputData":true,"credentials":{"openAiApi":{"id":"U360MhzRhu1kwzRA","name":"OpenAi account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"52e40287-3b77-4905-91a6-9cd43494ca25","name":"Merge1","type":"n8n-nodes-base.merge","position":[1808,1008],"typeVersion":3},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"id":"30fd20aa-55df-4c61-8f65-5117f119070f","name":"Merge2","type":"n8n-nodes-base.merge","position":[1808,1744],"typeVersion":3},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"bcb730a9-9340-465e-bc3a-d1bae1451b96","name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[128,1584],"typeVersion":1},{"parameters":{"model":{"__rl":true,"value":"deepseek-chat","mode":"id"},"options":{"responseFormat":"text"}},"id":"f6729e91-16fd-4c1f-8c8c-ade7f9ab4d3d","name":"gpt-4o-mini1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[352,1600],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"U360MhzRhu1kwzRA","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"deepseek-chat","mode":"id"},"options":{"responseFormat":"text"}},"id":"b99e7554-5eca-4b8f-979e-5b18dde5eeb5","name":"gpt-4o-mini2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[352,1888],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"U360MhzRhu1kwzRA","name":"OpenAi account"}}},{"parameters":{"operation":"sendAndWait","sendTo":"=marcelopiraz@gmail.com","subject":"=🔥FOR APPROVAL🔥{{ $('Social Media Content Factory').item.json.output.name }} - {{ $('Social Media Content Factory').item.json.output.description }}","message":"={{ $json.output }}","approvalOptions":{"values":{"approvalType":"double","approveLabel":"Aprovado","disapproveLabel":"Reprovado"}},"options":{"limitWaitTime":{"values":{"resumeAmount":45,"resumeUnit":"minutes"}}}},"id":"100f3ff7-4156-4264-bb08-250e66fbae14","name":"Gmail User for Approval","type":"n8n-nodes-base.gmail","position":[2368,528],"webhookId":"c46cf421-ddb6-45a8-b83b-80b381666f0e","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"uB1L6uinFMhm57Rd","name":"Gmail account"}}},{"parameters":{"content":"## Publish to Social Media","height":1100,"width":300,"color":6},"id":"c7ec6825-6b3f-48fa-b96d-10d5da332415","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1968,928],"typeVersion":1},{"parameters":{"content":"## Format Results","height":880,"width":300,"color":5},"id":"473daa8f-df75-4847-a416-691f94703e49","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2304,1152],"typeVersion":1},{"parameters":{"content":"# Step 4️⃣: Send Final Results of Social Media Factory","height":760,"width":1020,"color":7},"id":"1ce675bc-a718-47ff-be66-b592d521479a","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[0,1312],"typeVersion":1},{"parameters":{"content":"## Create Post Image","height":260,"width":260,"color":3},"id":"eaf08efb-5a06-48c1-8eb4-356459e53336","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[320,960],"typeVersion":1},{"parameters":{"operation":"sendAndWait","sendTo":"={{ $env.EMAIL_ADDRESS_JOE }} ","subject":"=🔥FOR APPROVAL🔥 New LinkedIn Post","message":"=<html>\n<body style=\"margin:0; padding:0; font-family: Arial, sans-serif; background-color: #f5f5f5;\">\n  <div style=\"max-width: 600px; margin: 0 auto; padding: 20px;\">\n\n    <h2 style=\"font-size:20px; color:#333; margin:0 0 15px 0;\">LinkedIn</h2>\n      \n    <!-- LinkedIn Card -->\n    <div style=\"background: #ffffff; border-radius: 8px; margin-bottom: 20px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n\n      <!-- Card Header Image -->\n      <div style=\"height: 200px; overflow: hidden; border-radius: 8px 8px 0 0;\">\n        <img src=\"{{ $json.data.medium.url }}\" alt=\"Featured Image\" style=\"width: 100%; height: 100%; object-fit: cover;\">\n      </div>\n\n      <!-- Card Content -->\n      <div style=\"padding: 25px;\">\n\n        <p style=\"font-size:16px; color:#555; line-height: 1.6; margin-bottom: 15px;\">\n          {{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.post }}\n        </p>\n        \n        <div style=\"margin: 15px 0;\">\n          <span style=\"display: inline-block; background: #f0f0f0; padding: 4px 8px; margin: 2px; border-radius: 4px; font-size:12px; color:#333;\">\n            {{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.hashtags }}\n          </span>\n        </div>\n\n        <p style=\"font-size:14px; color:#1a0dab; font-weight: 600; margin:15px 0 0 0;\">\n          {{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.call_to_action }}\n        </p>\n      </div>\n    </div>\n  </div>\n</body>\n</html>\n","approvalOptions":{"values":{"approvalType":"double"}},"options":{"limitWaitTime":{"values":{"resumeAmount":45,"resumeUnit":"minutes"}}}},"id":"588e7342-6ce4-497c-9e3d-557302226f44","name":"Approve Final Post Content","type":"n8n-nodes-base.gmail","position":[1344,1440],"webhookId":"c46cf421-ddb6-45a8-b83b-80b381666f0e","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"uB1L6uinFMhm57Rd","name":"Gmail account"}},"disabled":true},{"parameters":{"content":"## Final Approval before Publishing to Social Feeds\n(optional)","height":340,"width":300},"id":"7d9fc5d3-a10b-4989-8b3c-b2736d6edcd6","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[1248,1312],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"efe337a1-63e0-4513-873d-421bf41e4868","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.data.approved }}","rightValue":""}]},"options":{}},"id":"d0f8e00c-e0fe-4abd-96fa-ec403ea306cb","name":"Is Approved?","type":"n8n-nodes-base.if","position":[1520,1088],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"5c6edc76-1e3b-45b0-8baa-33a14c678150","name":"Instagram Post Result","type":"string","value":"={{ $json }}"}]},"options":{}},"id":"e2f6d932-e9ec-4a65-908f-5e2e23625b09","name":"Instagram Result","type":"n8n-nodes-base.set","position":[2400,1232],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"5c6edc76-1e3b-45b0-8baa-33a14c678150","name":"Facebook Post Result","type":"string","value":"={{ $json }}"}]},"options":{}},"id":"91e1519c-0e09-411e-8484-8c8f7818ebd1","name":"Facebook Result","type":"n8n-nodes-base.set","position":[2400,1664],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"5c6edc76-1e3b-45b0-8baa-33a14c678150","name":"LinkedIn Post Result","type":"string","value":"={{ $json }}"}]},"options":{}},"id":"0cb3cb0d-9f5b-438b-abc5-077966ec2fb1","name":"LinkedIn Result","type":"n8n-nodes-base.set","position":[2400,1840],"typeVersion":3.4},{"parameters":{"formTitle":"Autopost","formDescription":"=Bem-vindo ao Assistente com IA da Autopost!\n\nEsta ferramenta foi projetada para otimizar e aprimorar seu processo de criação de conteúdo para redes sociais.\n\nBasta fornecer as principais informações, como um tópico ou título e uma imagem opcional, e nosso agente inteligente gerará descrições de postagens envolventes e específicas para cada plataforma, personalizadas para o seu público.\n\nSeja você um profissional de marketing, dono de empresa ou influenciador, este assistente economiza seu tempo e, ao mesmo tempo, oferece conteúdo de qualidade profissional otimizado para o máximo impacto.\n\n","formFields":{"values":[{"fieldLabel":"Topico","placeholder":"Forneça um título conciso e claro ou o tópico principal da sua publicação (por exemplo, \"Lançamento de novo produto\", \"Novidades da empresa\"). Isso ajuda a IA a captar com precisão o foco do seu conteúdo.","requiredField":true},{"fieldLabel":"Palavras-chave ou hashtags (opcional)","placeholder":"Inclua quaisquer palavras-chave ou hashtags específicas que você gostaria que a IA incorporasse na publicação. Isso garante que o conteúdo esteja alinhado com a sua marca e os objetivos da campanha.","requiredField":"={{ false }}"},{"fieldLabel":"Link  (opcional)","placeholder":"=Forneça a URL de qualquer produto, serviço, formulário, página de suporte ou outro recurso. Este link será incluído na postagem gerada para direcionar seu público ao conteúdo relevante."}]},"responseMode":"lastNode","options":{"buttonLabel":"Automatically Generate Social Media Content"}},"id":"7b1aca4a-11e0-4aeb-9847-9948c42ef21c","name":"Submit Social Post Details","type":"n8n-nodes-base.formTrigger","position":[192,320],"webhookId":"3e762442-715e-47e1-a65e-ae92085857ae","typeVersion":2.2},{"parameters":{"content":"# Step 1️⃣: Create Social Media Written Content\nNote:  \nYou could use the output of step 1 to create your written content and manually post if required.  \nYou so not have to implement step 2.","height":760,"width":2640,"color":7},"id":"c570e285-4219-4834-a618-94c2fb4e6038","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[-112,-16],"typeVersion":1},{"parameters":{"content":"# Step 2️⃣: Create Image or Upload Image for Social Post","height":460,"width":1020,"color":7},"id":"ba14e534-8244-4bee-a90f-aa361c378657","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[0,800],"typeVersion":1},{"parameters":{"content":"# Step 3️⃣: Publish Final Social Media Posts","height":1260,"width":1680,"color":7},"id":"9fdd778a-0341-48bf-b78d-94f1b0d0af65","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[1200,800],"typeVersion":1},{"parameters":{"numberInputs":4},"id":"3358eb68-ae25-476e-ad9d-107387b6c6f8","name":"Merge Results","type":"n8n-nodes-base.merge","position":[2704,1840],"typeVersion":3,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=Você é uma IA de criação de conteúdo para a AutoPost, uma criadora líder de soluções de automação de fluxo de trabalho n8n e fluxos de trabalho de Agentes de IA.\n\nSeu objetivo é elaborar conteúdo envolvente e específico para cada plataforma para LinkedIn, Instagram e Facebook. Cada postagem deve se alinhar com as preferências de público, tom e estilo da plataforma, refletindo a experiência da autopost. O conteúdo deve fornecer insights orientados a valor, tutoriais, análises e discussões que ressoem com profissionais de tecnologia, entusiastas de automação, empresas e usuários de n8n.\n\nObjetivos Principais:\nOtimização de Plataforma: Adapte o formato do conteúdo, o tom e as hashtags para se adequar ao algoritmo e aos padrões de engajamento do público de cada plataforma.\n\nSEO e Hashtags: Use uma mistura de hashtags gerais de automação e hashtags de tendências específicas da plataforma para maximizar o alcance.\n\nFoco no Engajamento: Crie conteúdo que desperte interação por meio de tutoriais, comparações, análises ou discussões que estimulem a reflexão.\n\nConsistência: Mantenha um tom profissional, mas acessível, em todas as plataformas, adaptando-se às necessidades do público.\n\nEstratégia Baseada em Dados: Analise tendências e dados de desempenho para refinar a estratégia de conteúdo e o uso de hashtags.\n\nHashtags Gerais:\n#workflowsdiy #n8n #automation #AIWorkflows #WorkflowAutomation #TechSolutions\n\nDiretrizes Específicas da Plataforma:\n1. LinkedIn\nEstilo: Profissional e perspicaz.\n\nTom: Orientado a negócios; foco em casos de uso de automação, insights do setor e impacto na comunidade.\n\nTamanho do Conteúdo: 6-8 frases; conciso, mas detalhado.\n\nHashtags: #Innovation #Automation #WorkflowSolutions #DigitalTransformation #Leadership\n\nChamada para Ação (CTA): Incentive comentários ou visitas ao site da autopost para mais insights.\n\n2. Instagram\nEstilo: Narrativa visual com legendas criativas.\n\nTom: Inspirador e envolvente; use emojis para gerar identificação.\n\nTamanho do Conteúdo: 2-3 frases combinadas com visuais chamativos (ex: infográficos ou demonstrações de fluxo de trabalho).\n\nVisuais: Mostre marcos (ex: lançamento de novos fluxos), tutoriais ou destaques de produtos.\n\nCTA: Use frases como \"Arraste para saber mais\", \"Marque sua equipe\" ou \"Confira o link abaixo!\"\n\nPosicionamento do Link: Adicione o link fornecido antes das hashtags; se nenhum link for fornecido, use \"Visite nosso site: https://workflows.diy.\"\n\nHashtags: #AutomationLife #TechInnovation #WorkflowTips #Programming #Engineering\n\n3. Facebook\nEstilo: Amigável e focado na comunidade.\n\nTom: Relacionável; destaque histórias de sucesso de usuários ou conquistas da empresa em automação.\n\nTamanho do Conteúdo: 2-3 frases; conversacional, mas profissional.\n\nHashtags: #SmallBusinessAutomation #Entrepreneurship #Leadership #WorkflowInnovation\n\nCTA: Incentive curtidas, compartilhamentos e comentários (ex: “Qual é a sua dica de automação favorita?”).\n\n\nTamanho do Conteúdo:\n\n\nCTA: Incentive inscrições, curtidas e comentários (ex: “Inscreva-se para mais dicas de fluxo de trabalho!”).\n\nFluxo de Trabalho de Criação de Conteúdo:\nPara cada postagem:\n\nUse os seguintes campos de entrada:\n\nTópico/Sobre a Postagem: {{ $json.Topico }}\n\nPalavras-chave/Áreas de Foco: {{ $json.formMode }}\n\nLink (opcional): {{ $json['Link  (opcional)'] }}\n\nAdapte o tom/estilo com base nas diretrizes da plataforma acima.\n\nCertifique-se de que cada postagem reflita a missão da autopost de entregar insights de automação de alta qualidade enquanto maximiza o engajamento em todas as plataformas.\n\nSiga o esquema JSON fornecido para sua resposta.","hasOutputParser":true,"options":{"systemMessage":"=Use the provided tools to research the topic based on latest information.  Todays date is {{ $now }}"}},"id":"5ea76f21-1a41-46c2-aac1-cccaf96f5d48","name":"Social Media Content Factory","type":"@n8n/n8n-nodes-langchain.agent","position":[672,320],"retryOnFail":true,"typeVersion":1.7},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Você é uma IA de criação de conteúdo para a AutoPost, especializada em gerar conteúdo otimizado para redes sociais.\n\nSeu objetivo é criar conteúdo envolvente e específico para LinkedIn, Instagram e Facebook. Cada postagem deve se alinhar com as preferências de público, tom e estilo da plataforma.\n\n## INFORMAÇÕES DA POSTAGEM:\n- Tópico:{{ $('Submit Social Post Details').item.json.Topico }}\n- Palavras-chave: {{ $('Submit Social Post Details').item.json['Palavras-chave ou hashtags (opcional)'] }}\n- Link:{{ $('Submit Social Post Details').item.json['Link  (opcional)'] }}\n\n## DIRETRIZES POR PLATAFORMA:\n\n### LinkedIn\n- **Estilo**: Profissional e perspicaz\n- **Tom**: Orientado a negócios; foco em cases, insights e impacto\n- **Tamanho**: 3-4 frases concisas mas detalhadas\n- **Hashtags Base**: #Innovation #Automation #WorkflowSolutions #DigitalTransformation #Leadership #workflowsdiy #n8n\n- **CTA**: Incentive comentários ou visitas ao site\n\n### Instagram  \n- **Estilo**: Visual e criativo com emojis\n- **Tom**: Inspirador e envolvente\n- **Tamanho**: 2-3 frases + emojis relevantes\n- **Hashtags Base**: #AutomationLife #TechInnovation #WorkflowTips #Programming #Engineering #workflowsdiy #n8n\n- **CTA**: \"Salve este post\", \"Marque sua equipe\", \"Confira o link na bio\"\n- **Link**: Se fornecido, adicione antes das hashtags, senão use \"Visite: https://workflows.diy\"\n\n### Facebook\n- **Estilo**: Amigável e conversacional\n- **Tom**: Relacionável; destaque histórias de sucesso\n- **Tamanho**: 2-3 frases\n- **Hashtags Base**: #SmallBusinessAutomation #Entrepreneurship #Leadership #WorkflowInnovation #workflowsdiy #n8n\n- **CTA**: Incentive curtidas, compartilhamentos e comentários\n\n## REGRAS IMPORTANTES:\n1. Use o tópico fornecido como base principal\n2. Incorpore as palavras-chave/hashtags fornecidas\n3. Adicione o link fornecido quando disponível\n4. Mantenha consistência profissional mas acessível\n5. Gere sugestões específicas de imagens para cada plataforma\n6. SEMPRE forneça respostas no formato JSON estruturado\n\nGere conteúdo de alta qualidade que maximize engajamento em cada plataforma.Você é um gerador de emails HTML. Sua ÚNICA tarefa é retornar HTML puro, sem nenhum texto adicional, explicação, ou blocos de código markdown.\n\nIMPORTANTE: \n- NÃO use ```html ou ``` \n- NÃO adicione explicações\n- APENAS retorne o HTML direto\n\nGere um email HTML formatado com os dados JSON abaixo. Use tabelas com CSS inline.\n\nPara cada plataforma no JSON, crie um card com:\n- Título da plataforma (negrito, 20px)\n- Conteúdo do post (16px)\n- Sugestão de imagem/vídeo (itálico, 14px, cor #666)\n- Hashtags (em spans com background #f0f0f0, padding 4px 8px, border-radius 4px)\n- Call to action (negrito, 14px)\n\nEstrutura do HTML:\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f9f9f9;margin-bottom:20px;padding:20px;border-radius:8px\">\n    <tr>\n      <td style=\"font-size:20px;font-weight:bold;color:#333;padding-bottom:10px\">LinkedIn</td>\n    </tr>\n    <tr>\n      <td style=\"font-size:16px;color:#333;padding-bottom:10px\">\n        Automatizar workflows não é mais um diferencial — é uma necessidade estratégica. Com soluções baseadas em n8n, equipes reduzem retrabalho, ganham escala e aceleram resultados reais. Descubra como a automação inteligente pode transformar seus processos e gerar impacto mensurável no negócio. Como sua empresa está evoluindo nessa jornada?\n      </td>\n    </tr>\n    <tr>\n      <td style=\"font-size:14px;font-style:italic;color:#666;padding-bottom:10px\">\n        Sugestão de imagem/vídeo: Gráfico ou dashboard profissional mostrando ganhos de eficiência e automação de processos.\n      </td>\n    </tr>\n    <tr>\n      <td style=\"padding-bottom:10px\">\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#Innovation</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#Automation</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#WorkflowSolutions</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#DigitalTransformation</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#Leadership</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#workflowsdiy</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px\">#n8n</span>\n      </td>\n    </tr>\n    <tr>\n      <td style=\"font-size:14px;font-weight:bold;color:#333\">\n        Comente sua experiência ou visite nosso site para saber mais.\n      </td>\n    </tr>\n  </table>\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f9f9f9;margin-bottom:20px;padding:20px;border-radius:8px\">\n    <tr>\n      <td style=\"font-size:20px;font-weight:bold;color:#333;padding-bottom:10px\">Instagram</td>\n    </tr>\n    <tr>\n      <td style=\"font-size:16px;color:#333;padding-bottom:10px\">\n        Automatize tarefas, conecte sistemas e ganhe tempo para inovar 🚀🤖 Com workflows inteligentes em n8n, sua operação fica mais rápida e eficiente. Menos trabalho manual, mais resultados! ✨<br><br>\n        Visite: https://workflows.diy\n      </td>\n    </tr>\n    <tr>\n      <td style=\"font-size:14px;font-style:italic;color:#666;padding-bottom:10px\">\n        Sugestão de imagem/vídeo: Vídeo curto ou arte colorida mostrando fluxos conectados com ícones de apps e automação.\n      </td>\n    </tr>\n    <tr>\n      <td style=\"padding-bottom:10px\">\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#AutomationLife</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#TechInnovation</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#WorkflowTips</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#Programming</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#Engineering</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#workflowsdiy</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px\">#n8n</span>\n      </td>\n    </tr>\n    <tr>\n      <td style=\"font-size:14px;font-weight:bold;color:#333\">\n        Salve este post, marque sua equipe e confira o link na bio.\n      </td>\n    </tr>\n  </table>\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f9f9f9;margin-bottom:20px;padding:20px;border-radius:8px\">\n    <tr>\n      <td style=\"font-size:20px;font-weight:bold;color:#333;padding-bottom:10px\">Facebook</td>\n    </tr>\n    <tr>\n      <td style=\"font-size:16px;color:#333;padding-bottom:10px\">\n        Pequenas mudanças podem gerar grandes resultados quando falamos de automação. Com workflows bem definidos em n8n, negócios estão economizando tempo e crescendo com mais controle. Quer ver como isso funciona na prática?\n      </td>\n    </tr>\n    <tr>\n      <td style=\"font-size:14px;font-style:italic;color:#666;padding-bottom:10px\">\n        Sugestão de imagem/vídeo: Foto ou ilustração mostrando uma equipe celebrando ganhos de produtividade com tecnologia.\n      </td>\n    </tr>\n    <tr>\n      <td style=\"padding-bottom:10px\">\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#SmallBusinessAutomation</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#Entrepreneurship</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#Leadership</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#WorkflowInnovation</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px;margin-right:4px\">#workflowsdiy</span>\n        <span style=\"background:#f0f0f0;padding:4px 8px;border-radius:4px\">#n8n</span>\n      </td>\n    </tr>\n    <tr>\n      <td style=\"font-size:14px;font-weight:bold;color:#333\">\n        Curta, compartilhe e deixe seu comentário.\n      </td>\n    </tr>\n  </table>\n\n</td>\n\nDados JSON:\n{{ $json.output.toJsonString() }}\n\nVocê é um gerador de emails HTML.\nRetorne APENAS HTML válido.\nNÃO inclua texto explicativo.\nNÃO inclua JSON.\nNÃO inclua markdown.\nComece diretamente com <table> e termine com </table>.","options":{}},"id":"33876c4f-0f39-4dcf-8ec0-d5cfe3673e7b","name":"Prepare Content Review Email","type":"@n8n/n8n-nodes-langchain.agent","position":[1808,320],"typeVersion":1.7},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Parse the social media post results and generate a modern single line HTML table showing platform statuses. For each entry:\n\n-Extract platform name from the JSON key\n-Identify status (Success/Error) based on statusCode or error presence\n-Capture error message if present\n-Format as responsive HTML table with professional styling\n-Ensure email client compatibility with inline CSS\n-Include error handling for invalid JSON formats\n-Remove all line breaks and \\n from response.\n-Avoid any preamble or further explanation and remove all ``` and ```html from response.\n\n## Implementation Example:\nThis solution uses the parsed results from your workflow to generate:\n<table style=\"border-collapse: collapse; width: 100%; font-family: Arial, sans-serif; margin: 20px 0; background-color: #f9f9f9; border: 1px solid #ddd;\">\n    <thead>\n        <tr style=\"background-color: #007bff; color: #fff;\">\n            <th style=\"border: 1px solid #ddd; padding: 12px; text-align: left;\">Platform</th>\n            <th style=\"border: 1px solid #ddd; padding: 12px; text-align: left;\">Status</th>\n            <th style=\"border: 1px solid #ddd; padding: 12px; text-align: left;\">Details</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr style=\"background-color: #ffffff;\">\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">Instagram</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px; color: #dc3545;\">✗ Error</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">Unsupported post request. Object with ID '[your-unique-id]' does not exist, cannot be loaded due to missing permissions.</td>\n        </tr>\n        <tr style=\"background-color: #f8f9fa;\">\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">X (Twitter)</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px; color: #dc3545;\">✗ Error</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">Unable to sign without access token</td>\n        </tr>\n        <tr style=\"background-color: #ffffff;\">\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">Facebook</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px; color: #dc3545;\">✗ Error</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">Unsupported post request. Object with ID '[your-unique-id]' does not exist, cannot be loaded due to missing permissions.</td>\n        </tr>\n        <tr style=\"background-color: #f8f9fa;\">\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">LinkedIn</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px; color: #dc3545;\">✗ Error</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">Unable to sign without access token</td>\n        </tr>\n    </tbody>\n</table>\n\n\nThis is the social media post results: \n{{ $json.data.toJsonString() }}\n","options":{}},"id":"797a986b-091d-4ce5-9ea5-500e76261df6","name":"Prepare Results Email","type":"@n8n/n8n-nodes-langchain.agent","position":[368,1440],"typeVersion":1.7},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Parse the social media post results and generate a brief summary of the results.\n\nThis is the social media post results: \n{{ $json.data.toJsonString() }}\n\n## Example Response:\nThe social media post results indicate multiple errors when attempting to access or post content on various platforms. \n\n1. Instagram: The response shows a 400 status code with an error message indicating that the specific post request is unsupported due to missing permissions or an invalid object ID. \n\n2. X Post: Success\n\n3. Facebook: Success \n\n4. LinkedIn: Also returned an 'Unable to sign without access token' error. \n\nOverall, access token issues and unsupported requests are frequent problems across these social media platforms.\n","options":{}},"id":"c808e955-613b-48e7-8776-7beb10c33d0e","name":"Prepare Results Message","type":"@n8n/n8n-nodes-langchain.agent","position":[368,1728],"typeVersion":1.7},{"parameters":{"formFields":{"values":[{"fieldLabel":"Upload Image (optional)","fieldType":"file","multipleFiles":false,"acceptFileTypes":".jpg, .png, .jpeg"},{"fieldLabel":"Generate Custom Image using AI Image Generator","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Yes"},{"option":"No"}]},"requiredField":true}]},"options":{"formTitle":"Generate Post Image","buttonLabel":"Submit"}},"id":"9df8dbe7-e8b1-4578-8ceb-ee4f255c22c0","name":"Image Choice","type":"n8n-nodes-base.form","position":[-256,944],"webhookId":"0dc811ef-b2e0-4213-a0c9-e9b5fb9fcbf1","typeVersion":1,"disabled":true},{"parameters":{"sendTo":"={{ $env.EMAIL_ADDRESS_JOE }} ","subject":"🔥RESULTS🔥 Social Media Factory","message":"={{ $json.output }}","options":{"appendAttribution":false}},"id":"650829f2-b5f7-4527-8499-3cc360d51e28","name":"Gmail Results","type":"n8n-nodes-base.gmail","position":[720,1440],"webhookId":"0a81b95a-cd82-465d-8450-cf38518a4cbb","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"uB1L6uinFMhm57Rd","name":"Gmail account"}}},{"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"96d4b4ef-f333-44a7-b4de-2882aec933de","name":"Telegram Results","type":"n8n-nodes-base.telegram","position":[720,1728],"webhookId":"bb40ede7-03cf-493d-b051-196b96725925","typeVersion":1.2,"credentials":{"telegramApi":{"id":"ca1vX4usbi6NVpkV","name":"Telegram account"}}},{"parameters":{"content":"","height":620,"width":940,"color":4},"id":"eb82f7bb-d69e-482f-976f-b99b00efbab9","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[48,1408],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e32d270f-f258-4522-94e1-2cb7ee4e8d2a","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.data.approved }}","rightValue":""}]},"options":{}},"id":"9e69ef5a-ea0d-4a6d-af82-733e075496e9","name":"Is Content Approved?","type":"n8n-nodes-base.if","position":[128,1040],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"f150aa79-2d20-4869-b60a-350d49a215a5","name":"data","type":"object","value":"={\n  \"approved\": true\n}"}]},"options":{}},"id":"f614899b-6b45-4493-980a-ab058df33e5e","name":"Set Default True 2","type":"n8n-nodes-base.set","position":[1344,1088],"typeVersion":3.4},{"parameters":{"content":"## Alternative User Uploaded Image\n(optional)","height":580,"width":300},"id":"6040ee51-9bb7-4858-b069-19c92275ce22","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","position":[-336,800],"typeVersion":1},{"parameters":{"content":"## Implement Additional Approval Here\n(optional)","height":340,"width":460},"id":"388c5e25-11f9-41fa-84dd-30d1e0f7245c","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","position":[1248,928],"typeVersion":1},{"parameters":{"options":{}},"id":"e721b52c-7877-4caf-ae26-ae9b3671ee6f","name":"SerpAPI","type":"@n8n/n8n-nodes-langchain.toolSerpApi","position":[832,528],"typeVersion":1,"credentials":{"serpApi":{"id":"GfLBw3Xcu0NWEcfe","name":"SerpAPI account"}}},{"parameters":{"content":"### 💡Notes\n\nAdjust the Social Media Content Factory prompts to suit your personal or business requirements.\n\nUpdate Credentials for:\n- OpenAI API Key\nhttps://auth.openai.com/log-in\n\n- Google Studio API\nhttps://aistudio.google.com/app/apikey\n\n- SERP API Key\nhttps://serpapi.com/\n\n- Gmail OAuth\nhttps://docs.n8n.io/integrations/builtin/credentials/google/\n\n- Telegram Bot (Optional)\nhttps://docs.n8n.io/integrations/builtin/credentials/telegram/\n\n- imgbb\nhttps://imgbb.com/","height":500,"width":480},"id":"81b4484a-caa5-47cf-86f3-620bc9e99cf0","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","position":[1152,160],"typeVersion":1},{"parameters":{"content":"💡Notes\n\nUpdate all Social Media Platform Credentials as required.\n\nAdjust parameters and content for each platform to suit your needs.","height":180,"width":300},"id":"874ce875-ccfa-4b2e-a7c0-c78e7e131b60","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","position":[2304,928],"typeVersion":1},{"parameters":{"jsCode":"$input.first().binary.data = $input.first().binary.Upload_Image__optional_\ndelete $input.first().binary.Upload_Image__optional_\nreturn $input.first()"},"id":"0bc20e4c-0444-4a3b-9af9-7daba1867851","name":"Rename Binary File","type":"n8n-nodes-base.code","position":[-256,1184],"typeVersion":2,"alwaysOutputData":true},{"parameters":{"path":"93816855-3996-4d2a-ad68-e72b187330cf"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":2,"position":[1072,608],"id":"779b6bd4-c891-4275-9023-d0751d39d5f8","name":"MCP Server Trigger","webhookId":"93816855-3996-4d2a-ad68-e72b187330cf"}],"connections":{"Merge":{"main":[[{"node":"Set Default True 2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Instagram Image","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Facebook Post","type":"main","index":0},{"node":"LinkedIn Post","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Save Image to imgbb.com3","type":"main","index":0},{"node":"Merge","type":"main","index":1},{"node":"Merge2","type":"main","index":1}]]},"SerpAPI":{"ai_tool":[[{"node":"Social Media Content Factory","type":"ai_tool","index":0},{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Aggregate":{"main":[[{"node":"Prepare Results Email","type":"main","index":0},{"node":"Prepare Results Message","type":"main","index":0}]]},"gpt-4o LLM":{"ai_languageModel":[[{"node":"Social Media Content Factory","type":"ai_languageModel","index":0}]]},"gpt-4o-mini":{"ai_languageModel":[[]]},"Image Choice":{"main":[[{"node":"Rename Binary File","type":"main","index":0}]]},"Is Approved?":{"main":[[{"node":"Merge1","type":"main","index":1},{"node":"Merge2","type":"main","index":0}]]},"gpt-4o-mini1":{"ai_languageModel":[[{"node":"Prepare Results Email","type":"ai_languageModel","index":0}]]},"gpt-4o-mini2":{"ai_languageModel":[[{"node":"Prepare Results Message","type":"ai_languageModel","index":0}]]},"Facebook Post":{"main":[[{"node":"Facebook Result","type":"main","index":0}]]},"LinkedIn Post":{"main":[[{"node":"LinkedIn Result","type":"main","index":0}]]},"Merge Results":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Facebook Result":{"main":[[{"node":"Merge Results","type":"main","index":2}]]},"Instagram Image":{"main":[[{"node":"Instragram Post","type":"main","index":0}]]},"Instragram Post":{"main":[[{"node":"Instagram Result","type":"main","index":0}]]},"LinkedIn Result":{"main":[[{"node":"Merge Results","type":"main","index":3}]]},"Instagram Result":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Set Default True 2":{"main":[[{"node":"Is Approved?","type":"main","index":0}]]},"Is Content Approved?":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Social Media Content":{"ai_outputParser":[[{"node":"Social Media Content Factory","type":"ai_outputParser","index":0}]]},"Prepare Results Email":{"main":[[{"node":"Gmail Results","type":"main","index":0}]]},"Gmail User for Approval":{"main":[[{"node":"Is Content Approved?","type":"main","index":0}]]},"Prepare Results Message":{"main":[[{"node":"Telegram Results","type":"main","index":0}]]},"Save Image to imgbb.com3":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"Submit Social Post Details":{"main":[[{"node":"Social Media Content Factory","type":"main","index":0}]]},"Prepare Content Review Email":{"main":[[{"node":"Gmail User for Approval","type":"main","index":0}]]},"Social Media Content Factory":{"main":[[{"node":"Prepare Content Review Email","type":"main","index":0}]]},"gpt-4o":{"ai_languageModel":[[{"node":"Prepare Content Review Email","type":"ai_languageModel","index":0}]]}},"authors":"Abrantes Sousa","name":null,"description":null},"tags":[]}