chat-bot-autenticado-.
{"updatedAt":"2025-12-06T10:06:24.000Z","createdAt":"2025-12-05T21:12:51.959Z","id":"W8cYh0cnxnmgizyg","name":"Chat Bot Autenticado","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"waha","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,64],"id":"a54a08d3-175f-44bf-bc6d-6f1a60fefdd3","name":"Webhook","webhookId":"f92b5fd8-b7c2-4c55-bb27-893b77d0be01"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.payload.body }}","rightValue":"0","operator":{"type":"string","operation":"equals"},"id":"cd54b7ca-4aef-4d6e-b104-b6575a7eed22"}],"combinator":"and"},"renameOutput":true,"outputKey":"0"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e1bde25d-9dcb-4ce0-bc26-969294fa60e7","leftValue":"={{ $json.body.payload.body }}","rightValue":"1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1ee3d0ef-2258-4c70-950d-300e19713c79","leftValue":"={{ $json.body.payload.body }}","rightValue":"2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6c5b9ce5-4094-4021-9369-f69bb927a6f4","leftValue":"={{ $json.body.payload.body }}","rightValue":"3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"3"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[224,32],"id":"acd5269e-42b8-425a-b5da-a38500f1e51e","name":"Switch"},{"parameters":{"url":"https://webhook.site/b33d7d3e-387c-42e8-9704-fcc96f112861","sendHeaders":true,"headerParameters":{"parameters":[{"name":"session","value":"default"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"default"},{"name":"number","value":"={{ $('Webhook').item.json.body.payload._data.Info.Sender }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,-224],"id":"91059d7f-2acd-4652-ba7e-a792c9318030","name":"HTTP Request"},{"parameters":{"url":"https://webhook.site/b33d7d3e-387c-42e8-9704-fcc96f112861","sendHeaders":true,"headerParameters":{"parameters":[{"name":"session","value":"default"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"default"},{"name":"number","value":"={{ $('Webhook').item.json.body.payload._data.Info.Sender }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,-32],"id":"1edd1628-a25d-4ed5-9c0c-67dcd10dfc79","name":"HTTP Request1"},{"parameters":{"url":"https://webhook.site/b33d7d3e-387c-42e8-9704-fcc96f112861","sendHeaders":true,"headerParameters":{"parameters":[{"name":"session","value":"default"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"default"},{"name":"number","value":"={{ $('Webhook').item.json.body.payload._data.Info.Sender }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,160],"id":"1ccad9a5-a5c5-42ad-9cee-7b8e2cd93d78","name":"HTTP Request2"},{"parameters":{"url":"https://webhook.site/b33d7d3e-387c-42e8-9704-fcc96f112861","sendHeaders":true,"headerParameters":{"parameters":[{"name":"session","value":"default"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"default"},{"name":"number","value":"={{ $('Webhook').item.json.body.payload._data.Info.Sender }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,352],"id":"b42e0e2f-4e1c-4f51-813b-70381c38178b","name":"HTTP Request3"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}],[{"node":"HTTP Request3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bfc03c7e-be54-4371-8776-d319f1e0ea74","triggerCount":1,"shared":[{"updatedAt":"2025-12-05T21:12:51.972Z","createdAt":"2025-12-05T21:12:51.972Z","role":"workflow:owner","workflowId":"W8cYh0cnxnmgizyg","projectId":"Nuw5ZyCLPapRYjKJ"}],"tags":[]}