chatbot-http-dio---marcelo.json
{"updatedAt":"2025-12-13T17:34:20.859Z","createdAt":"2025-12-10T22:25:20.445Z","id":"ut4kSsnaOsObBJci","name":"ChatBot Http Dio - Marcelo","active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook Autenticado').item.json.body.payload.body }}","rightValue":"0","operator":{"type":"string","operation":"equals"},"id":"7d7727c6-a03b-49bf-a6dd-395ac9845957"}],"combinator":"and"},"renameOutput":true,"outputKey":"0"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ac08cfa-ecaf-4fa3-b1e6-6bb9d9b7180b","leftValue":"={{ $('Webhook Autenticado').item.json.body.payload.body }}","rightValue":"1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1a165885-0773-42ec-a50d-ac20f6e070dd","leftValue":"={{ $('Webhook Autenticado').item.json.body.payload.body }}","rightValue":"2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7506455c-127f-469d-a744-4d02df6a0c0d","leftValue":"={{ $('Webhook Autenticado').item.json.body.payload.body }}","rightValue":"3","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"3"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-192,0],"id":"76119961-cf21-47d2-addd-c13ecc7acff8","name":"Switch"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"8d2ae582abf636695182ca5020b94cc681407c51e297c5ab6b428ca4b34d9231818934af4d3aac3ec6f12fa583ac591b21621dc430c16d2fc3b0f1d02d9fdab9"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $json.body.session }}"},{"name":"chatId","value":"={{ $('Merge').item.json.body.payload._data.Info.SenderAlt }}"},{"name":"text","value":"=Escolha uma das opções:\n\n1. Financeiro\n2. Suporte\n3. Falar com um atendente"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[32,-336],"id":"20744d1b-e7ac-4af0-8666-3541a46d42e9","name":"Menu Incial"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"8d2ae582abf636695182ca5020b94cc681407c51e297c5ab6b428ca4b34d9231818934af4d3aac3ec6f12fa583ac591b21621dc430c16d2fc3b0f1d02d9fdab9"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $json.body.session }}"},{"name":"chatId","value":"={{ $('Merge').item.json.body.payload._data.Info.SenderAlt }}"},{"name":"text","value":"=Escolha uma das opções:\n\n1. Segunda Via Boleto\n2. Upgrade / Downgrade\n3. Cancelamento\n\n_Digite 0 para voltar ao Menu Inicial_"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[32,-144],"id":"820b4028-9196-4d08-a5f2-769331e02ff1","name":"Financeiro"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"8d2ae582abf636695182ca5020b94cc681407c51e297c5ab6b428ca4b34d9231818934af4d3aac3ec6f12fa583ac591b21621dc430c16d2fc3b0f1d02d9fdab9"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $json.body.session }}"},{"name":"chatId","value":"={{ $('Merge').item.json.body.payload._data.Info.SenderAlt }}"},{"name":"text","value":"=Escolha uma das opções:\n\n1. N8N\n2. Waha\n3. Mautic\n\n_Digite 0 para voltar ao Menu Inicial_"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[32,48],"id":"e5da6901-b326-40d7-bdd4-6941d60fd311","name":"Suporte"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-key","value":"8d2ae582abf636695182ca5020b94cc681407c51e297c5ab6b428ca4b34d9231818934af4d3aac3ec6f12fa583ac591b21621dc430c16d2fc3b0f1d02d9fdab9"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $json.body.session }}"},{"name":"chatId","value":"={{ $('Merge').item.json.body.payload._data.Info.SenderAlt }}"},{"name":"text","value":"=Olá! Seja bem-vindo ao nosso sistema de atendimento!\n\nEscolha uma das opções a seguir:\n\n1. Financeiro\n2. Suporte\n3. Falar com um atendente"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[32,432],"id":"1f28c4bb-dfc6-49f7-aa6f-a67b107a4d6d","name":"FallBack"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"8d2ae582abf636695182ca5020b94cc681407c51e297c5ab6b428ca4b34d9231818934af4d3aac3ec6f12fa583ac591b21621dc430c16d2fc3b0f1d02d9fdab9"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $json.body.session }}"},{"name":"chatId","value":"={{ $('Merge').item.json.body.payload._data.Info.SenderAlt }}"},{"name":"text","value":"=Aguarde enquanto transferimos o atendimento para um de nossos especialistas."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[32,240],"id":"f5cd4068-245e-4804-982e-284278b6a10a","name":"Atendente"},{"parameters":{"httpMethod":"POST","path":"webhook","authentication":"headerAuth","responseMode":"=onReceived","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1088,48],"id":"6c60743f-623f-49ac-b692-85799724605a","name":"Webhook Autenticado","webhookId":"df0541d3-6e6d-4532-8541-6177bcdcc38d","credentials":{"httpHeaderAuth":{"id":"U9nccr8OkAYBXKGN","name":"Header Auth account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c9b4d4c4-3f3f-4843-ab7b-9bdc934b40df","leftValue":"={{ $json.body.payload._data.Info.SenderAlt }}","rightValue":"=:\\d+@","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-864,48],"id":"523f4c2a-6f6e-4d2a-a743-dfffaf33f753","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"0c282353-e3ce-4cd9-a2fb-8eed5e11a1d4","name":"body.payload._data.Info.SenderAlt","value":"={{ $json.body.payload._data.Info.SenderAlt.replace(/:\\d+(?=@)/, '') }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,-16],"id":"e09bf399-7eca-421c-8033-48a717476603","name":"Edit Fields","alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-416,48],"id":"b95e50f9-18fb-4f82-a4f2-dd26352da5ef","name":"Merge"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"6b1dca97-fd87-4a11-adbc-9bfe33454d45"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[144,144],"id":"d30a6dfe-dd31-4d00-a2d1-5471d73b1ab3","name":"Switch1"}],"connections":{"Switch":{"main":[[{"node":"Menu Incial","type":"main","index":0}],[{"node":"Financeiro","type":"main","index":0}],[{"node":"Suporte","type":"main","index":0}],[{"node":"Atendente","type":"main","index":0}],[{"node":"FallBack","type":"main","index":0}]]},"Webhook Autenticado":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f97e06ad-9c20-4b72-80db-51f19f5572f6","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-12-10T22:25:20.481Z","createdAt":"2025-12-10T22:25:20.481Z","role":"workflow:owner","workflowId":"ut4kSsnaOsObBJci","projectId":"ej8gVdo1FjD7Hco2"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-10T22:09:28.051Z","createdAt":"2025-12-10T22:09:28.051Z","id":"5wObKZejYNCxd0Ik","name":"chatBot-http"},{"updatedAt":"2025-12-10T22:09:28.114Z","createdAt":"2025-12-10T22:09:28.114Z","id":"NEU7BfJfAxfBPRoF","name":"api-rest"},{"updatedAt":"2025-12-10T22:09:28.094Z","createdAt":"2025-12-10T22:09:28.094Z","id":"t5qdvwlVZALrYTtH","name":"http-rest"}]}