chatbot-http-dio---marcelo-.
{"updatedAt":"2025-12-06T02:11:13.000Z","createdAt":"2025-12-06T02:02:18.742Z","id":"ZxVdXVWB8AmdtqB9","name":"ChatBot Http Dio - Marcelo","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.payload.body }}","rightValue":"0","operator":{"type":"string","operation":"equals"},"id":"7d7727c6-a03b-49bf-a6dd-395ac9845957"}],"combinator":"and"},"renameOutput":true,"outputKey":"0"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ac08cfa-ecaf-4fa3-b1e6-6bb9d9b7180b","leftValue":"={{ $json.body.payload.body }}","rightValue":"1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1a165885-0773-42ec-a50d-ac20f6e070dd","leftValue":"={{ $json.body.payload.body }}","rightValue":"2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7506455c-127f-469d-a744-4d02df6a0c0d","leftValue":"={{ $json.body.payload.body }}","rightValue":"3","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"3"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[176,-224],"id":"331e39c4-a5c9-4afe-b0a6-55675e5a1193","name":"Switch"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","authentication":"predefinedCredentialType","nodeCredentialType":"wahaApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $json.body.session }}"},{"name":"chatId","value":"={{ $('Merge').item.json.body.payload._data.Info.SenderAlt }}"},{"name":"text","value":"=Escolha uma das opções:\n\n1. Financeiro\n2. Suporte\n3. Falar com um atendente"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[400,-560],"id":"8ae1aff1-dc19-43ab-8215-6b0d280a2ac7","name":"Menu Incial","credentials":{"wahaApi":{"id":"0bJ1WPNf4lCjJVTD","name":"WAHA account"}}},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","authentication":"predefinedCredentialType","nodeCredentialType":"wahaApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $json.body.session }}"},{"name":"chatId","value":"={{ $('Merge').item.json.body.payload._data.Info.SenderAlt }}"},{"name":"text","value":"=Escolha uma das opções:\n\n1. Segunda Via Boleto\n2. Upgrade / Downgrade\n3. Cancelamento\n\n_Digite 0 para voltar ao Menu Inicial_"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[400,-368],"id":"401ccd46-4275-43af-b959-c5b5bd5f433b","name":"Financeiro","credentials":{"wahaApi":{"id":"0bJ1WPNf4lCjJVTD","name":"WAHA account"}}},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","authentication":"predefinedCredentialType","nodeCredentialType":"wahaApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $json.body.session }}"},{"name":"chatId","value":"={{ $('Merge').item.json.body.payload._data.Info.SenderAlt }}"},{"name":"text","value":"=Escolha uma das opções:\n\n1. N8N\n2. Waha\n3. Mautic\n\n_Digite 0 para voltar ao Menu Inicial_"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[400,-176],"id":"dcc54450-fa17-492a-bc7c-9178127827bf","name":"Suporte","credentials":{"wahaApi":{"id":"0bJ1WPNf4lCjJVTD","name":"WAHA account"}}},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","authentication":"predefinedCredentialType","nodeCredentialType":"wahaApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $json.body.session }}"},{"name":"chatId","value":"={{ $('Merge').item.json.body.payload._data.Info.SenderAlt }}"},{"name":"text","value":"=Olá! Seja bem-vindo ao nosso sistema de atendimento!\n\nEscolha uma das opções a seguir:\n\n1. Financeiro\n2. Suporte\n3. Falar com um atendente"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[400,208],"id":"bfb2b81f-757d-4f0a-973b-152410a55044","name":"FallBack","credentials":{"wahaApi":{"id":"0bJ1WPNf4lCjJVTD","name":"WAHA account"}}},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","authentication":"predefinedCredentialType","nodeCredentialType":"wahaApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $json.body.session }}"},{"name":"chatId","value":"={{ $('Merge').item.json.body.payload._data.Info.SenderAlt }}"},{"name":"text","value":"=Aguarde enquanto transferimos o atendimento para um de nossos especialistas."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[400,16],"id":"807f2013-f2f2-487a-a99a-dcad91eaaa23","name":"Atendente","credentials":{"wahaApi":{"id":"0bJ1WPNf4lCjJVTD","name":"WAHA account"}}},{"parameters":{"httpMethod":"POST","path":"webhook","authentication":"headerAuth","responseMode":"=onReceived","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-720,-176],"id":"4ced33ae-b43a-468f-b28f-749db5f0e3aa","name":"Webhook Autenticado","webhookId":"df0541d3-6e6d-4532-8541-6177bcdcc38d","credentials":{"httpHeaderAuth":{"id":"pqWJa3h4y6dtqOUb","name":"Header Auth account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c9b4d4c4-3f3f-4843-ab7b-9bdc934b40df","leftValue":"={{ $json.body.payload._data.Info.SenderAlt }}","rightValue":"=:\\d+@","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-496,-176],"id":"3a8c4943-b2bc-4c61-849b-ec1fbec4cd24","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"0c282353-e3ce-4cd9-a2fb-8eed5e11a1d4","name":"body.payload._data.Info.SenderAlt","value":"={{ $json.body.payload._data.Info.SenderAlt.replace(/:\\d+(?=@)/, '') }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,-240],"id":"97d5cf1d-b6d0-4f77-9b75-155d25161ac1","name":"Edit Fields","alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-48,-176],"id":"495bbe3f-839a-41f8-8dac-3daab665caa1","name":"Merge"}],"connections":{"Switch":{"main":[[{"node":"Menu Incial","type":"main","index":0}],[{"node":"Financeiro","type":"main","index":0}],[{"node":"Suporte","type":"main","index":0}],[{"node":"Atendente","type":"main","index":0}],[{"node":"FallBack","type":"main","index":0}]]},"Webhook Autenticado":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a29bea66-8331-4748-8e6f-321bb6146338","triggerCount":1,"shared":[{"updatedAt":"2025-12-06T02:02:18.762Z","createdAt":"2025-12-06T02:02:18.762Z","role":"workflow:owner","workflowId":"ZxVdXVWB8AmdtqB9","projectId":"Nuw5ZyCLPapRYjKJ"}],"tags":[{"updatedAt":"2025-12-06T02:00:39.427Z","createdAt":"2025-12-06T02:00:39.427Z","id":"VXEF0sbYHdcOEWoi","name":"http-rest"},{"updatedAt":"2025-12-06T02:00:39.327Z","createdAt":"2025-12-06T02:00:39.327Z","id":"qfnhymBo2CPblqju","name":"chatBot-http"},{"updatedAt":"2025-12-06T02:00:39.368Z","createdAt":"2025-12-06T02:00:39.368Z","id":"s1bqkJNSBzf153jV","name":"api-rest"}]}