fffcb407e302eba458a9dd062ab18ff2636eaa59

{"updatedAt":"2026-01-09T12:02:07.984Z","createdAt":"2026-01-05T18:33:59.733Z","id":"fR8egQQ189CRIK2n","name":"Backup n8n workflows","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"ad1f57bb-b7df-4e50-aa57-b60fcbb70bae","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[80,1296]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"9e50fac4-95ae-43ad-90fd-58991085ddde","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[288,1296]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"ed7a139e-9831-40b7-8e37-6bb0fb66aa61","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[480,1296]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/Marcelopiras","mode":"url"},"repository":{"__rl":true,"value":"workflows-N8N","mode":"list","cachedResultName":"workflows-N8N","cachedResultUrl":"https://github.com/Marcelopiras/workflows-N8N"}},"id":"5d3a2f0c-2062-44ab-a6ac-376f28d111a5","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[736,1296],"alwaysOutputData":true,"webhookId":"475a1687-c156-4a13-8ce9-0ee40de9d207","credentials":{"githubApi":{"id":"AZWFc6zphYtXTO7n","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"7920e0d0-f3f7-4936-a41d-963b7044dc2d","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[144,1696]},{"parameters":{"filters":{},"requestOptions":{}},"id":"f792cdb7-1a27-47b8-9e27-6f6cbef740e8","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[912,1296],"credentials":{"n8nApi":{"id":"20VS7mqxLbZvX3jr","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.currentFileName.replace(/\\.json$/,'') }}","keepSource":true,"mimeType":"Use Raw Data"}},"id":"842b84cf-35e2-43bd-bd14-3e55a6311313","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1392,1296]},{"parameters":{"batchSize":1,"options":{"reset":false}},"id":"a2e404c3-22bb-40b8-9c8a-7dd51ece67f1","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1712,1296],"alwaysOutputData":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.fileExists === true }}","value2":"=true"}]}},"id":"483a7b0e-2cfa-4517-a02a-deb695031e4a","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[2144,1264],"alwaysOutputData":false},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/Marcelopiras","mode":"url"},"repository":{"__rl":true,"value":"workflows-N8N","mode":"list","cachedResultName":"workflows-N8N","cachedResultUrl":"https://github.com/Marcelopiras/workflows-N8N"},"filePath":"={{ $json.currentFileName }}","binaryData":true,"commitMessage":"=backup - {{ $json.currentFileName }} {{ $node['Set commit date'].json.commitDate }}"},"id":"f2c07228-3052-4ac3-94c3-f8d3abc163d0","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2400,1024],"webhookId":"a99c41fb-8697-4794-b239-82f4a6842494","credentials":{"githubApi":{"id":"AZWFc6zphYtXTO7n","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/Marcelopiras","mode":"url"},"repository":{"__rl":true,"value":"workflows-N8N","mode":"list","cachedResultName":"workflows-N8N","cachedResultUrl":"https://github.com/Marcelopiras/workflows-N8N"},"filePath":"={{ $json.currentFileName }}","binaryData":true,"commitMessage":"=backup - {{ $json.currentFileName }} {{ $node['Set commit date'].json.commitDate }}"},"id":"26005501-b3cd-4dec-a1ec-9db818870849","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2400,1424],"webhookId":"4b0c970a-2b6d-4754-b8df-a24e2f0e0903","alwaysOutputData":true,"credentials":{"githubApi":{"id":"AZWFc6zphYtXTO7n","name":"GitHub account"}}},{"parameters":{"content":"## Trigger\nYou can change it to [\"Schedule\" trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) to make backups on regular basis.","height":339.51767272727324,"width":182.4715262478496},"id":"bea46ad6-172c-401c-880c-8e8b2a8a7aa5","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,1136]},{"parameters":{"content":"## Set and format date/time\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.","height":339.42690909090965,"width":585.4045090909088},"id":"c85eafc1-fcf8-4868-836c-3db52e850cb4","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[48,1136]},{"parameters":{"content":"## Make a list of existing files\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \"IF\" node (later in workflow) to check whether the backup files should be created or updated.","height":339.42690909090965,"width":389.89265454545443},"id":"fbc72ab3-ae32-4177-b8fc-8c4ae9fb6d07","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[640,1136]},{"parameters":{"content":"## Retrieve workflows\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**","height":339.42690909090965,"width":384.14708363636373},"id":"fe497932-c2dc-471a-8b16-92d7d3811c0f","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,1136]},{"parameters":{"content":"## Upload backup\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.","height":731.633426614796,"width":703.8733020263451},"id":"f9f94189-72c9-4dec-a12a-6f8cb9e9942f","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1424,944]},{"parameters":{"content":"## ⚠️ Note\n\n1. Complete video guide for this workflow is available [on my YouTube](https://www.youtube.com/watch?v=dNuVuoPD0Jo). \n2. Remember to add your credentials and configure GitHub nodes (covered in the video guide).\n3. If you like this workflow, please subscribe to [my YouTube channel](https://www.youtube.com/@workfloows) and/or [my newsletter](https://workfloows.com/).\n\n**Thank you for your support!**","height":234.82946582693546,"width":508.8662091091177},"id":"ca560303-f23b-4b81-9e56-54793753a5f9","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,880]},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-112,1296],"id":"ce1ed587-1f3e-45b2-a915-09f43e79a872","name":"Schedule Trigger"},{"parameters":{"jsCode":"const rawName = $json.name;\n\nif (!rawName) {\n  throw new Error('Workflow sem nome (campo name não encontrado)');\n}\n\n// 2️⃣ Normaliza nome → slug\nconst currentFileName =\n  rawName\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-zA-Z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .toLowerCase() + '.json';\n\n// 3️⃣ Lista de arquivos do repositório\nconst repoItems = $items(\"List files from repository [GITHUB]\");\n\nlet fileExists = false;\n\nfor (const item of repoItems) {\n  if (item.json.name === currentFileName) {\n    fileExists = true;\n    break;\n  }\n}\n\nreturn {\n  json: {\n    currentFileName,\n    fileExists\n  }\n};\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,1296],"id":"ec2664bc-5825-4e36-bd09-4f9a778daab2","name":"Code in JavaScript","alwaysOutputData":true}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-12-06T06:59:10.618-03:00","Readable date":"December 6th 2025, 6:59:10 am","Readable time":"6:59:10 am","Day of week":"Saturday","Year":"2025","Month":"December","Day of month":"06","Hour":"06","Minute":"59","Second":"10","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"fdd703f9-bcd2-4c4f-a963-689d1eb92ad8","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-05T18:33:59.758Z","createdAt":"2026-01-05T18:33:59.758Z","role":"workflow:owner","workflowId":"fR8egQQ189CRIK2n","projectId":"ej8gVdo1FjD7Hco2"}],"activeVersion":null,"tags":[]}