my-workflow-3-backup-n8n-workflows.json.
{"updatedAt":"2026-01-08T20:29:07.000Z","createdAt":"2026-01-08T20:01:57.520Z","id":"Am7SIbySEoeeIlCq","name":"My workflow 3","active":false,"isArchived":true,"nodes":[{"parameters":{"options":{}},"id":"c0443346-e260-4040-bca5-fd75f568bf13","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1600,112]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"42ed9ccc-7c61-4732-8f10-edad49662752","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1392,112]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"8647184a-5c42-41c3-8f02-d3f03139c44e","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1200,112]},{"parameters":{"filters":{},"requestOptions":{}},"id":"6c6abb6a-5d03-4354-8c37-90d3fd2d3b9a","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-992,112],"credentials":{"n8nApi":{"id":"20VS7mqxLbZvX3jr","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.id }}.json"}},"id":"f351c3fb-a2be-41dd-a079-8e3f8553fd44","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-800,112]},{"parameters":{"batchSize":1,"options":{}},"id":"338733ad-4add-45aa-82e7-0ec8b9d146ab","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-608,112]},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"https://github.com/Marcelopiras","mode":"url"},"repository":{"__rl":true,"value":"workflows-N8N","mode":"list","cachedResultName":"workflows-N8N","cachedResultUrl":"https://github.com/Marcelopiras/workflows-N8N"},"filePath":"={{ $binary.data.fileName }}","additionalParameters":{}},"id":"fd7509d9-4427-48dd-b222-5dd0331bbc93","name":"Try to get file from GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[-400,112],"webhookId":"056ed2de-5f23-463a-98fb-2e740d1a20db","credentials":{"githubApi":{"id":"AZWFc6zphYtXTO7n","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.error }}","operation":"isEmpty"}]}},"id":"ec29a869-5ef2-4361-a322-3ba61b51b027","name":"Check if file exists","type":"n8n-nodes-base.if","typeVersion":1,"position":[-208,112]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/Marcelopiras","mode":"url"},"repository":{"__rl":true,"value":"workflows-N8N","mode":"list","cachedResultName":"workflows-N8N","cachedResultUrl":"https://github.com/Marcelopiras/workflows-N8N"},"filePath":"={{ $node['Split to single items'].json.binary.data.fileName }}","binaryData":true,"commitMessage":"=backup - {{ $node['Split to single items'].json.binary.data.fileName }} {{ $node['Set commit date'].json.commitDate }}"},"id":"5ef1d2ae-e812-4ad6-9da0-f8a561884846","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,0],"webhookId":"b4673aaa-28cd-425e-8295-18dca294830f","credentials":{"githubApi":{"id":"AZWFc6zphYtXTO7n","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/Marcelopiras","mode":"url"},"repository":{"__rl":true,"value":"workflows-N8N","mode":"list","cachedResultName":"workflows-N8N","cachedResultUrl":"https://github.com/Marcelopiras/workflows-N8N"},"filePath":"={{ $node['Split to single items'].json.binary.data.fileName }}","binaryData":true,"commitMessage":"=backup - {{ $node['Split to single items'].json.binary.data.fileName }} {{ $node['Set commit date'].json.commitDate }}"},"id":"dba80687-68da-48c1-9bf8-9a69513761af","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,224],"alwaysOutputData":true,"webhookId":"a91f98a3-4eda-40df-9096-25adf9678d6d","credentials":{"githubApi":{"id":"AZWFc6zphYtXTO7n","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1792,112],"id":"aa6785fd-2f45-429d-92ee-374cce81931e","name":"Schedule Trigger"}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Try to get file from GitHub","type":"main","index":0}]]},"Try to get file from GitHub":{"main":[[{"node":"Check if file exists","type":"main","index":0}]]},"Check if file exists":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"df92156c-c2ab-42ca-80e2-69c77e945afc","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-08T20:01:57.536Z","createdAt":"2026-01-08T20:01:57.536Z","role":"workflow:owner","workflowId":"Am7SIbySEoeeIlCq","projectId":"ej8gVdo1FjD7Hco2"}],"activeVersion":null,"tags":[]}