my-workflow-2-backup-n8n-workflows.json.
{"updatedAt":"2026-01-08T18:58:28.000Z","createdAt":"2026-01-06T07:29:59.096Z","id":"WjFRuDBPNKJpGncJ","name":"My workflow 2","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"id":"1757491b-2535-44e7-89d3-5d4458148af1","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"options":{}},"id":"b2613396-2718-4761-b6bc-58e22b56ca25","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[192,0]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy_HH-mm","options":{}},"id":"bb2442d2-5cce-4ced-858e-f009d7124b64","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[400,0]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"0907bba2-7ef1-444b-9b0e-f85cda9fbe4c","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[592,0]},{"parameters":{"filters":{},"requestOptions":{}},"id":"bd12c0eb-5cfb-4596-a18b-0ef44ac1b59c","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[832,0],"credentials":{"n8nApi":{"id":"20VS7mqxLbZvX3jr","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/[^a-zA-Z0-9]/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"c2749c62-9b60-47a8-9140-8cb27c6d26c7","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1056,0]},{"parameters":{"batchSize":1,"options":{}},"id":"be0e7057-c654-44c4-80a1-a8c9d557e211","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1264,0]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/Marcelopiras","mode":"url"},"repository":{"__rl":true,"value":"workflows-N8N","mode":"list"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup {{ $binary.data.fileName }} {{ $node['Set commit date'].json.commitDate }}"},"id":"14c90d98-1bc1-4874-8585-4bf952d87b69","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1472,0],"webhookId":"e7d10e5b-3efa-4969-8f4e-7431e5b76be4","credentials":{"githubApi":{"id":"AZWFc6zphYtXTO7n","name":"GitHub account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0ccaa27b-97b2-4347-96fb-808da26b6fd4","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T07:29:59.109Z","createdAt":"2026-01-06T07:29:59.109Z","role":"workflow:owner","workflowId":"WjFRuDBPNKJpGncJ","projectId":"ej8gVdo1FjD7Hco2"}],"activeVersion":null,"tags":[]}