workflows
[{"updatedAt":"2026-01-13T09:29:24.644Z","createdAt":"2026-01-13T00:36:17.261Z","id":"Xm1iTspw7Wr7E64B1KwSq","name":"My workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"ea896d71-f515-4265-bc5e-d4b67ff8aeb9","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1600,112]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"6784205b-4117-4e2b-951b-a472f65adba1","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1392,112]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"405a13da-5c68-449a-8ac4-b6e58b02afa7","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1200,112]},{"parameters":{"filters":{},"requestOptions":{}},"id":"6ebffced-c01e-4f59-99bb-daf233bf4fd7","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-992,112],"alwaysOutputData":false,"retryOnFail":false,"credentials":{"n8nApi":{"id":"nbj13qt7UjSUl9gc","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.id }}.json"}},"id":"286dd576-132b-4e3a-af8a-016b64689fac","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-800,112]},{"parameters":{"batchSize":1,"options":{}},"id":"29df9040-df7a-43db-b2f7-f20657c2c6e4","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-608,112]},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"https://github.com/Marcelopiras","mode":"url"},"repository":{"__rl":true,"value":"workflows-N8N","mode":"list","cachedResultName":"workflows-N8N","cachedResultUrl":"https://github.com/Marcelopiras/workflows-N8N"},"filePath":"={{ $binary.data.fileName }}","additionalParameters":{}},"id":"5e684857-98f1-448a-b86c-e46cbb1185ae","name":"Try to get file from GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[-384,96],"webhookId":"79b1f385-908b-4ac3-bef9-ade41cf389d5","credentials":{"githubApi":{"id":"Ouf9iOh25e2XO7KD","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.error }}","operation":"isEmpty"}]}},"id":"c48724f0-cc09-4e2d-8a4c-7a652488d693","name":"Check if file exists","type":"n8n-nodes-base.if","typeVersion":1,"position":[-192,96]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/Marcelopiras","mode":"url"},"repository":{"__rl":true,"value":"workflows-N8N","mode":"list","cachedResultName":"workflows-N8N","cachedResultUrl":"https://github.com/Marcelopiras/workflows-N8N"},"filePath":"={{ $node['Split to single items'].json.binary.data.fileName }}","binaryData":true,"commitMessage":"=backup - {{ $node['Split to single items'].json.binary.data.fileName }} {{ $node['Set commit date'].json.commitDate }}"},"id":"0a493615-266a-4e39-b225-6d6194d017c2","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[16,0],"webhookId":"b6de3bab-48c5-4aaf-816f-396df8e5a8a2","credentials":{"githubApi":{"id":"Ouf9iOh25e2XO7KD","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/Marcelopiras","mode":"url"},"repository":{"__rl":true,"value":"workflows-N8N","mode":"list","cachedResultName":"workflows-N8N","cachedResultUrl":"https://github.com/Marcelopiras/workflows-N8N"},"filePath":"={{ $node['Split to single items'].json.binary.data.fileName }}","binaryData":true,"commitMessage":"=backup - {{ $node['Split to single items'].json.binary.data.fileName }} {{ $node['Set commit date'].json.commitDate }}"},"id":"7903b9e9-9aa4-4bbf-9c66-97482dc05add","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,256],"alwaysOutputData":true,"webhookId":"61885ee1-da60-4f4d-aaf3-9e096c08c579","credentials":{"githubApi":{"id":"Ouf9iOh25e2XO7KD","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1792,112],"id":"2b42891e-a24c-4112-877d-2bf216b35032","name":"Schedule Trigger"}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Try to get file from GitHub","type":"main","index":0}]]},"Try to get file from GitHub":{"main":[[{"node":"Check if file exists","type":"main","index":0}]]},"Check if file exists":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cd87114d-6a43-4450-8646-43b261e4d5c4","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-13T00:36:17.309Z","createdAt":"2026-01-13T00:36:17.309Z","role":"workflow:owner","workflowId":"Xm1iTspw7Wr7E64B1KwSq","projectId":"t2gyPvz4vUVDpUPO","project":{"updatedAt":"2026-01-12T22:02:45.225Z","createdAt":"2026-01-12T22:01:39.860Z","id":"t2gyPvz4vUVDpUPO","name":"Marcelo de Sousa <marcelopiraz@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ae6cc48a-5a9c-414f-a146-ca21710f4e90"}}]},{"updatedAt":"2026-01-13T08:54:40.108Z","createdAt":"2026-01-13T08:54:40.108Z","id":"ORQkDuJESPAWdXOibCFLU","name":"ChatBot Http Dio - Marcelo","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.payload.body }}","rightValue":"0","operator":{"type":"string","operation":"equals"},"id":"7d7727c6-a03b-49bf-a6dd-395ac9845957"}],"combinator":"and"},"renameOutput":true,"outputKey":"0"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ac08cfa-ecaf-4fa3-b1e6-6bb9d9b7180b","leftValue":"={{ $json.body.payload.body }}","rightValue":"1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1a165885-0773-42ec-a50d-ac20f6e070dd","leftValue":"={{ $json.body.payload.body }}","rightValue":"2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7506455c-127f-469d-a744-4d02df6a0c0d","leftValue":"={{ $json.body.payload.body }}","rightValue":"3","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"3"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-4528,2624],"id":"62f0538f-4d69-4528-958d-a5cc4ef73d76","name":"Switch"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","authentication":"predefinedCredentialType","nodeCredentialType":"wahaApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $json.body.session }}"},{"name":"chatId","value":"={{ $('Merge').item.json.body.payload._data.Info.SenderAlt }}"},{"name":"text","value":"=Escolha uma das opções:\n\n1. Financeiro\n2. Suporte\n3. Falar com um atendente"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-4304,2288],"id":"dafdb7d5-b5ed-4f8c-a3f3-806cebac61a9","name":"Menu Incial"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","authentication":"predefinedCredentialType","nodeCredentialType":"wahaApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $json.body.session }}"},{"name":"chatId","value":"={{ $('Merge').item.json.body.payload._data.Info.SenderAlt }}"},{"name":"text","value":"=Escolha uma das opções:\n\n1. Segunda Via Boleto\n2. Upgrade / Downgrade\n3. Cancelamento\n\n_Digite 0 para voltar ao Menu Inicial_"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-4304,2480],"id":"773fcf82-4dd4-420d-97f2-b6b943c247d8","name":"Financeiro"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","authentication":"predefinedCredentialType","nodeCredentialType":"wahaApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $json.body.session }}"},{"name":"chatId","value":"={{ $('Merge').item.json.body.payload._data.Info.SenderAlt }}"},{"name":"text","value":"=Escolha uma das opções:\n\n1. N8N\n2. Waha\n3. Mautic\n\n_Digite 0 para voltar ao Menu Inicial_"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-4304,2672],"id":"480e8110-ddde-4bcd-a4d7-aa4440b88e6b","name":"Suporte"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","authentication":"predefinedCredentialType","nodeCredentialType":"wahaApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $json.body.session }}"},{"name":"chatId","value":"={{ $('Merge').item.json.body.payload._data.Info.SenderAlt }}"},{"name":"text","value":"=Olá! Seja bem-vindo ao nosso sistema de atendimento!\n\nEscolha uma das opções a seguir:\n\n1. Financeiro\n2. Suporte\n3. Falar com um atendente"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-4304,3056],"id":"ae48f2ab-8ee5-48b3-aaca-a9c58a2d76f2","name":"FallBack"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","authentication":"predefinedCredentialType","nodeCredentialType":"wahaApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $json.body.session }}"},{"name":"chatId","value":"={{ $('Merge').item.json.body.payload._data.Info.SenderAlt }}"},{"name":"text","value":"=Aguarde enquanto transferimos o atendimento para um de nossos especialistas."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-4304,2864],"id":"e7947284-2d7d-4239-a4f2-e99a29438695","name":"Atendente"},{"parameters":{"httpMethod":"POST","path":"webhook","authentication":"headerAuth","responseMode":"=onReceived","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-5424,2672],"id":"42f8b7e1-0d91-4b01-8631-6d2527526604","name":"Webhook Autenticado","webhookId":"df0541d3-6e6d-4532-8541-6177bcdcc38d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c9b4d4c4-3f3f-4843-ab7b-9bdc934b40df","leftValue":"={{ $json.body.payload._data.Info.SenderAlt }}","rightValue":"=:\\d+@","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5200,2672],"id":"5d87f0ac-f646-45ff-94e4-08c42b1ddf88","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"0c282353-e3ce-4cd9-a2fb-8eed5e11a1d4","name":"body.payload._data.Info.SenderAlt","value":"={{ $json.body.payload._data.Info.SenderAlt.replace(/:\\d+(?=@)/, '') }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4976,2608],"id":"8cec7ed3-6f7e-4cbc-a90f-f05687780c19","name":"Edit Fields","alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-4752,2672],"id":"93e59274-ed89-424a-9c30-3b52bd1dacfc","name":"Merge"}],"connections":{"Switch":{"main":[[{"node":"Menu Incial","type":"main","index":0}],[{"node":"Financeiro","type":"main","index":0}],[{"node":"Suporte","type":"main","index":0}],[{"node":"Atendente","type":"main","index":0}],[{"node":"FallBack","type":"main","index":0}]]},"Webhook Autenticado":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"82d0b02b-5a77-4750-bfff-83de2bccb83f","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[{"updatedAt":"2026-01-13T08:54:31.946Z","createdAt":"2026-01-13T08:54:31.946Z","id":"LFR1tDLZhRNeXovl","name":"chatBot-http"},{"updatedAt":"2026-01-13T08:54:31.982Z","createdAt":"2026-01-13T08:54:31.982Z","id":"ovO7yjMLVlpv6oKS","name":"api-rest"},{"updatedAt":"2026-01-13T08:54:31.996Z","createdAt":"2026-01-13T08:54:31.996Z","id":"w2WH79XxJe8ip7xe","name":"http-rest"}],"shared":[{"updatedAt":"2026-01-13T08:54:40.137Z","createdAt":"2026-01-13T08:54:40.137Z","role":"workflow:owner","workflowId":"ORQkDuJESPAWdXOibCFLU","projectId":"t2gyPvz4vUVDpUPO","project":{"updatedAt":"2026-01-12T22:02:45.225Z","createdAt":"2026-01-12T22:01:39.860Z","id":"t2gyPvz4vUVDpUPO","name":"Marcelo de Sousa <marcelopiraz@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ae6cc48a-5a9c-414f-a146-ca21710f4e90"}}]}]