workflows/backup.json
[{"updatedAt":"2026-01-13T18:08:59.000Z","createdAt":"2026-01-13T00:36:17.261Z","id":"Xm1iTspw7Wr7E64B1KwSq","name":"My workflow","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"options":{}},"id":"ea896d71-f515-4265-bc5e-d4b67ff8aeb9","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1600,112]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"6784205b-4117-4e2b-951b-a472f65adba1","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1392,112]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"405a13da-5c68-449a-8ac4-b6e58b02afa7","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1200,112]},{"parameters":{"filters":{},"requestOptions":{}},"id":"6ebffced-c01e-4f59-99bb-daf233bf4fd7","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1488,528],"alwaysOutputData":false,"retryOnFail":false,"credentials":{"n8nApi":{"id":"nbj13qt7UjSUl9gc","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.id }}.json"}},"id":"286dd576-132b-4e3a-af8a-016b64689fac","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-800,112]},{"parameters":{"batchSize":1,"options":{}},"id":"29df9040-df7a-43db-b2f7-f20657c2c6e4","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-608,112]},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"https://github.com/Marcelopiras","mode":"url"},"repository":{"__rl":true,"value":"workflows-N8N","mode":"list","cachedResultName":"workflows-N8N","cachedResultUrl":"https://github.com/Marcelopiras/workflows-N8N"},"filePath":"={{ $binary.data.fileName }}","additionalParameters":{}},"id":"5e684857-98f1-448a-b86c-e46cbb1185ae","name":"Try to get file from GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[-384,96],"webhookId":"79b1f385-908b-4ac3-bef9-ade41cf389d5","credentials":{"githubApi":{"id":"Ouf9iOh25e2XO7KD","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.error }}","operation":"isEmpty"}]}},"id":"c48724f0-cc09-4e2d-8a4c-7a652488d693","name":"Check if file exists","type":"n8n-nodes-base.if","typeVersion":1,"position":[-192,96]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/Marcelopiras","mode":"url"},"repository":{"__rl":true,"value":"workflows-N8N","mode":"list","cachedResultName":"workflows-N8N","cachedResultUrl":"https://github.com/Marcelopiras/workflows-N8N"},"filePath":"={{ $node['Split to single items'].json.binary.data.fileName }}","binaryData":true,"commitMessage":"=backup - {{ $node['Split to single items'].json.binary.data.fileName }} {{ $node['Set commit date'].json.commitDate }}"},"id":"0a493615-266a-4e39-b225-6d6194d017c2","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[16,0],"webhookId":"b6de3bab-48c5-4aaf-816f-396df8e5a8a2","credentials":{"githubApi":{"id":"Ouf9iOh25e2XO7KD","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/Marcelopiras","mode":"url"},"repository":{"__rl":true,"value":"workflows-N8N","mode":"list","cachedResultName":"workflows-N8N","cachedResultUrl":"https://github.com/Marcelopiras/workflows-N8N"},"filePath":"={{ $node['Split to single items'].json.binary.data.fileName }}","binaryData":true,"commitMessage":"=backup - {{ $node['Split to single items'].json.binary.data.fileName }} {{ $node['Set commit date'].json.commitDate }}"},"id":"7903b9e9-9aa4-4bbf-9c66-97482dc05add","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,256],"alwaysOutputData":true,"webhookId":"61885ee1-da60-4f4d-aaf3-9e096c08c579","credentials":{"githubApi":{"id":"Ouf9iOh25e2XO7KD","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1792,112],"id":"2b42891e-a24c-4112-877d-2bf216b35032","name":"Schedule Trigger"},{"parameters":{"jsCode":"const { Container } = require('typedi');\nconst { WorkflowService } = require('n8n/dist/workflows/workflow.service');\n\nconst workflowService = Container.get(WorkflowService);\n\nconst result = await workflowService.getMany({ take: 1000 });\n\nreturn result.data.map(wf => ({\n  json: {\n    id: wf.id,\n    name: wf.name,\n    active: wf.active,\n    createdAt: wf.createdAt,\n    updatedAt: wf.updatedAt,\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-992,112],"id":"2f2d4277-5b64-4e2f-8b89-8a3ac8010772","name":"Code in JavaScript"}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Try to get file from GitHub","type":"main","index":0}]]},"Try to get file from GitHub":{"main":[[{"node":"Check if file exists","type":"main","index":0}]]},"Check if file exists":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aed86b6f-a722-4ee2-93b1-9d19f7c8621c","activeVersionId":null,"versionCounter":5,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-13T00:36:17.309Z","createdAt":"2026-01-13T00:36:17.309Z","role":"workflow:owner","workflowId":"Xm1iTspw7Wr7E64B1KwSq","projectId":"t2gyPvz4vUVDpUPO","project":{"updatedAt":"2026-01-12T22:02:45.225Z","createdAt":"2026-01-12T22:01:39.860Z","id":"t2gyPvz4vUVDpUPO","name":"Marcelo de Sousa <marcelopiraz@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ae6cc48a-5a9c-414f-a146-ca21710f4e90"}}]},{"updatedAt":"2026-01-13T08:54:40.108Z","createdAt":"2026-01-13T08:54:40.108Z","id":"ORQkDuJESPAWdXOibCFLU","name":"ChatBot Http Dio - Marcelo","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.payload.body }}","rightValue":"0","operator":{"type":"string","operation":"equals"},"id":"7d7727c6-a03b-49bf-a6dd-395ac9845957"}],"combinator":"and"},"renameOutput":true,"outputKey":"0"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ac08cfa-ecaf-4fa3-b1e6-6bb9d9b7180b","leftValue":"={{ $json.body.payload.body }}","rightValue":"1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1a165885-0773-42ec-a50d-ac20f6e070dd","leftValue":"={{ $json.body.payload.body }}","rightValue":"2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7506455c-127f-469d-a744-4d02df6a0c0d","leftValue":"={{ $json.body.payload.body }}","rightValue":"3","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"3"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-4528,2624],"id":"62f0538f-4d69-4528-958d-a5cc4ef73d76","name":"Switch"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","authentication":"predefinedCredentialType","nodeCredentialType":"wahaApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $json.body.session }}"},{"name":"chatId","value":"={{ $('Merge').item.json.body.payload._data.Info.SenderAlt }}"},{"name":"text","value":"=Escolha uma das opções:\n\n1. Financeiro\n2. Suporte\n3. Falar com um atendente"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-4304,2288],"id":"dafdb7d5-b5ed-4f8c-a3f3-806cebac61a9","name":"Menu Incial"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","authentication":"predefinedCredentialType","nodeCredentialType":"wahaApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $json.body.session }}"},{"name":"chatId","value":"={{ $('Merge').item.json.body.payload._data.Info.SenderAlt }}"},{"name":"text","value":"=Escolha uma das opções:\n\n1. Segunda Via Boleto\n2. Upgrade / Downgrade\n3. Cancelamento\n\n_Digite 0 para voltar ao Menu Inicial_"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-4304,2480],"id":"773fcf82-4dd4-420d-97f2-b6b943c247d8","name":"Financeiro"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","authentication":"predefinedCredentialType","nodeCredentialType":"wahaApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $json.body.session }}"},{"name":"chatId","value":"={{ $('Merge').item.json.body.payload._data.Info.SenderAlt }}"},{"name":"text","value":"=Escolha uma das opções:\n\n1. N8N\n2. Waha\n3. Mautic\n\n_Digite 0 para voltar ao Menu Inicial_"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-4304,2672],"id":"480e8110-ddde-4bcd-a4d7-aa4440b88e6b","name":"Suporte"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","authentication":"predefinedCredentialType","nodeCredentialType":"wahaApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $json.body.session }}"},{"name":"chatId","value":"={{ $('Merge').item.json.body.payload._data.Info.SenderAlt }}"},{"name":"text","value":"=Olá! Seja bem-vindo ao nosso sistema de atendimento!\n\nEscolha uma das opções a seguir:\n\n1. Financeiro\n2. Suporte\n3. Falar com um atendente"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-4304,3056],"id":"ae48f2ab-8ee5-48b3-aaca-a9c58a2d76f2","name":"FallBack"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","authentication":"predefinedCredentialType","nodeCredentialType":"wahaApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $json.body.session }}"},{"name":"chatId","value":"={{ $('Merge').item.json.body.payload._data.Info.SenderAlt }}"},{"name":"text","value":"=Aguarde enquanto transferimos o atendimento para um de nossos especialistas."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-4304,2864],"id":"e7947284-2d7d-4239-a4f2-e99a29438695","name":"Atendente"},{"parameters":{"httpMethod":"POST","path":"webhook","authentication":"headerAuth","responseMode":"=onReceived","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-5424,2672],"id":"42f8b7e1-0d91-4b01-8631-6d2527526604","name":"Webhook Autenticado","webhookId":"df0541d3-6e6d-4532-8541-6177bcdcc38d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c9b4d4c4-3f3f-4843-ab7b-9bdc934b40df","leftValue":"={{ $json.body.payload._data.Info.SenderAlt }}","rightValue":"=:\\d+@","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5200,2672],"id":"5d87f0ac-f646-45ff-94e4-08c42b1ddf88","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"0c282353-e3ce-4cd9-a2fb-8eed5e11a1d4","name":"body.payload._data.Info.SenderAlt","value":"={{ $json.body.payload._data.Info.SenderAlt.replace(/:\\d+(?=@)/, '') }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4976,2608],"id":"8cec7ed3-6f7e-4cbc-a90f-f05687780c19","name":"Edit Fields","alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-4752,2672],"id":"93e59274-ed89-424a-9c30-3b52bd1dacfc","name":"Merge"}],"connections":{"Switch":{"main":[[{"node":"Menu Incial","type":"main","index":0}],[{"node":"Financeiro","type":"main","index":0}],[{"node":"Suporte","type":"main","index":0}],[{"node":"Atendente","type":"main","index":0}],[{"node":"FallBack","type":"main","index":0}]]},"Webhook Autenticado":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"82d0b02b-5a77-4750-bfff-83de2bccb83f","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[{"updatedAt":"2026-01-13T08:54:31.946Z","createdAt":"2026-01-13T08:54:31.946Z","id":"LFR1tDLZhRNeXovl","name":"chatBot-http"},{"updatedAt":"2026-01-13T08:54:31.982Z","createdAt":"2026-01-13T08:54:31.982Z","id":"ovO7yjMLVlpv6oKS","name":"api-rest"},{"updatedAt":"2026-01-13T08:54:31.996Z","createdAt":"2026-01-13T08:54:31.996Z","id":"w2WH79XxJe8ip7xe","name":"http-rest"}],"shared":[{"updatedAt":"2026-01-13T08:54:40.137Z","createdAt":"2026-01-13T08:54:40.137Z","role":"workflow:owner","workflowId":"ORQkDuJESPAWdXOibCFLU","projectId":"t2gyPvz4vUVDpUPO","project":{"updatedAt":"2026-01-12T22:02:45.225Z","createdAt":"2026-01-12T22:01:39.860Z","id":"t2gyPvz4vUVDpUPO","name":"Marcelo de Sousa <marcelopiraz@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ae6cc48a-5a9c-414f-a146-ca21710f4e90"}}]},{"updatedAt":"2026-01-22T07:27:53.863Z","createdAt":"2026-01-13T19:44:06.515Z","id":"RHhxuLuJgXiLd8JoEVw0D","name":"Atendente dentista","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"deepseek-chat","mode":"id"},"responsesApiEnabled":false,"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-4720,944],"id":"a980f214-dd84-4146-affa-b4e8ef8001e2","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"DlbJJWkLlaxvjneP","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Gatilho Whats').item.json.body.payload._data.Info.Chat || $json.telefone_limpo || 'sessao_default' }}","sessionTTL":3600,"contextWindowLength":"={{ 5 }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-4512,896],"id":"7cca7d7e-7a5d-43e3-91d6-da2eb1d3e845","name":"Redis Chat Memory","credentials":{"redis":{"id":"FUGc8VUMg18ad4nR","name":"Redis account"}}},{"parameters":{"promptType":"define","text":"={{ $('Gatilho Whats').item.json.body.payload._data.Message.conversation }}","options":{"systemMessage":"=🦷 Clínica Odontológica Dentista Dentina\n\n🤖 Patrícia — Recepcionista Virtual\n\nVocê é Patrícia, recepcionista virtual da Clínica Dentista Dentina.\nAtende pacientes pelo WhatsApp com empatia, clareza e objetividade.\n\n⚠️ REGRAS ABSOLUTAS\n\nVocê NÃO substitui o dentista\n\nVocê NÃO faz diagnósticos\n\nVocê NÃO prescreve medicamentos\n\nVocê NUNCA decide o estado do fluxo\n\nVocê SEMPRE retorna mensagem_texto (nunca vazio)\n\n👋 INÍCIO DA CONVERSA\n\nNa primeira interação:\n\nApresente-se\n\nExplique como pode ajudar\n\nNÃO peça dados\n\nExemplo:\n\n“Oi! 😊 Eu sou a Patrícia, da Clínica Dentista Dentina.\nPosso te ajudar com agendamentos, informações sobre nossos tratamentos ou tirar dúvidas sobre a clínica. Como posso te ajudar hoje? 💙”\n\n🧠 SUA FUNÇÃO (IMPORTANTE)\n\nVocê NÃO controla o fluxo.\nVocê apenas:\n\nresponde o paciente\n\nextrai informações quando o paciente fornece\n\nescreve a mensagem que será enviada\n\nO sistema decidirá:\n\nse está coletando dados\n\nse vai buscar horários\n\nse vai criar evento\n\nse finaliza\n\n📋 EXTRAÇÃO DE DADOS (SEMPRE QUE APARECER)\n\nExtraia apenas se o paciente informar espontaneamente:\n\npaciente_nome\n\npaciente_telefone\n\npaciente_email\n\ntipo_atendimento\n\nconvenio (sim / não)\n\nperiodo_preferencia (manhã / tarde)\n\nNunca peça dados que já existam.\n\n🔢 OPÇÃO DE HORÁRIO\n\n⚠️ Nunca peça para o paciente escolher 1, 2 ou 3 se você não recebeu horários do sistema.\nSe ainda não houver horários, apenas informe que está verificando.\n\nExemplo correto quando NÃO há horários:\n\n“Perfeito! 😊 Vou verificar os horários disponíveis pra você. Um momento, por favor ⏰”\n\nExemplo correto quando HÁ horários:\n\n“Encontrei estes horários disponíveis para você:\nOpção 1… Opção 2… Opção 3…\nQual você prefere? 😊”\nExtraia:\n\n\"opcao_escolhida\": 2\n\n\nResponda com:\n\n“Perfeito! 😊 Vou confirmar seu agendamento. Um momento, por favor ⏳”\n\n❌ Não confirme sozinho\n❌ Não invente horários\n\n🧾 FORMATO DE RESPOSTA (OBRIGATÓRIO)\n\nVocê SEMPRE deve retornar apenas isso:\n\n{\n  \"mensagem_texto\": \"texto que será enviado ao WhatsApp\",\n  \"interesse_agendar\": false,\n  \"dados_extraidos\": {},\n  \"opcao_escolhida\": null\n}\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-4640,688],"id":"75f06074-3104-43ac-be7e-26f6ac594113","name":"Patrícia"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"8d2ae582abf636695182ca5020b94cc681407c51e297c5ab6b428ca4b34d9231818934af4d3aac3ec6f12fa583ac591b21621dc430c16d2fc3b0f1d02d9fdab9"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"chatId","value":"={{ $('Gatilho Whats').item.json.body.payload._data.Info.Chat }}"},{"name":"session","value":"={{ $('Gatilho Whats').item.json.body.session }}"},{"name":"text","value":"={{ $json.mensagem_texto }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1584,-128],"id":"3c553422-f273-49b7-bb3f-4d8f62305575","name":"Patrícia Fala","disabled":true},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"8d2ae582abf636695182ca5020b94cc681407c51e297c5ab6b428ca4b34d9231818934af4d3aac3ec6f12fa583ac591b21621dc430c16d2fc3b0f1d02d9fdab9"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-4064,-688],"id":"ae58fad5-ba94-4d46-9a29-eb6e275fea5e","name":"pix","disabled":true},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"usuarios_whatsapp","mode":"list","cachedResultName":"usuarios_whatsapp"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Padroniza info').item.json.tefefone }}","criado_em":"={{ $('Padroniza info').item.json._data.Info.Timestamp.toDateTime() }}"},"matchingColumns":["telefone"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"telefone","displayName":"telefone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome_completo","displayName":"nome_completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"asaas_customer_id","displayName":"asaas_customer_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"status_pagamento","displayName":"status_pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4960,-176],"id":"af3136df-b2c1-4f15-8c54-cc17da292a81","name":"save telefone e nome","alwaysOutputData":true,"credentials":{"postgres":{"id":"VLaK7I7M5kCQi4EV","name":"Postgres account"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"UPDATE usuarios_whatsapp\nSET\n  nome_completo = COALESCE(NULLIF('{{ $json.nome_completo || \"\" }}', ''), nome_completo),\n  cpf = COALESCE(NULLIF('{{ $json.cpf || \"\" }}', ''), cpf),\n  asaas_customer_id = COALESCE(NULLIF('{{ $json.asaas_customer_id || \"\" }}', ''), asaas_customer_id),\n  status_pagamento = COALESCE(NULLIF('{{ $json.status_pagamento || \"\" }}', ''), status_pagamento),\n  updated_at = NOW()\nWHERE telefone = '{{ $json.telefone }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4736,-448],"id":"ca03d9f3-b890-4485-8e45-5d42de50ab43","name":"Execute a SQL query","credentials":{"postgres":{"id":"VLaK7I7M5kCQi4EV","name":"Postgres account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"a29e749b-fcb5-48b8-bf89-54772f254374","name":"telefone","value":"={{ String($json.telefone).replace(/\\D/g, '') }}","type":"string"},{"id":"709d8512-0551-464e-991e-166f1b827e6f","name":"  cpf","value":"=COALESCE(NULLIF('{{ $json.cpf || \"\" }}', ''), cpf)","type":"string"},{"id":"af65ddf3-f1e5-4061-9bce-aef4d7fa66c3","name":"asaas_customer_id","value":"=asaas_customer_id = COALESCE(NULLIF('{{ $json.asaas_customer_id || \"\" }}', ''), asaas_customer_id)","type":"string"},{"id":"dd6c3c96-9b9e-4807-9be4-c72b8100e08a","name":"status_pagamento ","value":"=COALESCE(NULLIF('{{ $json.status_pagamento || \"\" }}', ''), status_pagamento),   updated_at = NOW()","type":"string"},{"id":"b69b5059-31b3-4502-8668-8a46eb84b91b","name":"nome_completo","value":"=COALESCE(NULLIF('{{ $json.nome_completo || \"\" }}', ''), nome_completo)","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4960,-448],"id":"06bf1050-7354-44ad-9bda-9699fb4c92f7","name":"Edit Fields","disabled":true},{"parameters":{"method":"POST","url":"https://sandbox.asaas.com/api/v3/customers","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access_token","value":"$aact_hmlg_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OmEyMWI3YWE1LWE2ZGUtNDczNC1iMWM1LTNlYTAxNGZiYzc5Yzo6JGFhY2hfMWRmY2EzNzctN2M2ZC00ODIyLWI1ODUtNjVjMDljMWMwYjJk"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.nome_completo }}"},{"name":"cpfCnpj","value":"={{ $json.cpf }}"},{"name":"mobilePhone","value":"={{ $json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-4288,-400],"id":"d6d5a5c3-1151-4512-b7d6-d50a7f2615be","name":"criar cliente asaas","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"},"id":"56ea7f69-0dec-428b-89c5-44c23610143a"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8e577933-3e2d-4425-afee-0db03f1dfdd4","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-4512,-448],"id":"0c6a3ea0-3514-4e3b-8aac-7949a663d2d6","name":"cadastro asaas?","disabled":true},{"parameters":{"method":"POST","url":"POST https://sandbox.asaas.com/api/v3/payments","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access_token","value":"$aact_hmlg_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OmEyMWI3YWE1LWE2ZGUtNDczNC1iMWM1LTNlYTAxNGZiYzc5Yzo6JGFhY2hfMWRmY2EzNzctN2M2ZC00ODIyLWI1ODUtNjVjMDljMWMwYjJk"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"PIX","value":"={\n  \"customer\": \"{{ $json.asaas_customer_id }}\",\n  \"billingType\": \"PIX\",\n  \"value\": 150,\n  \"description\": \"Consulta odontológica – avaliação\"\n}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-4064,-496],"id":"8e637d8d-f0f4-48b4-9a11-b8ea44331d2f","name":"boleto","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bd86c80c-fb02-4532-8845-0f5c807474dc","leftValue":"={{ $json.cpf && $json.cpf.length === 11 }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"54318ff9-96a5-44fb-b576-943c6c418d5d","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4288,-592],"id":"052e2cbe-bd89-4657-aeef-7c97227c8bbb","name":"tipo de pagamento","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9879895b-94e1-49dd-a149-75f7c958859f","leftValue":"={{ $json.estado }}","rightValue":"=inicio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"inicio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"be88d899-5e83-4f8c-9f11-d5784e25a757","leftValue":"={{ $json.estado }}","rightValue":"=aguardando","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"aguardando"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a13d22a0-3a16-4d28-b8aa-3a7bd3865efa","leftValue":"={{ $json.estado }}","rightValue":"=finalizado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"finalizado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c3dad3bf-a403-4a71-9ade-e30f17acdd17","leftValue":"={{ $json.estado }}","rightValue":"=default","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"default"}]},"options":{"fallbackOutput":"none"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-3488,704],"id":"3d39051a-6cca-4e10-ab3f-653134ee9d0b","name":"Switch"},{"parameters":{"httpMethod":"POST","path":"webhook","options":{"responseHeaders":{"entries":[{"name":"Authorization","value":"Bearer 8d2ae582abf636695182ca5020b94cc681407c51e297c5ab6b428ca4b34d9231818934af4d3aac3ec6f12fa583ac591b21621dc430c16d2fc3b0f1d02d9fdab9"}]}}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-5472,656],"id":"3d77bb7e-6f5e-43d5-ac27-f708d170dcfb","name":"Gatilho Whats","webhookId":"643f2cea-d924-4245-bfbd-b20fc1d9f19c"},{"parameters":{"jsCode":"const mensagemIA = $('Patrícia').item.json.output || '';\n\n// Tenta extrair o número da opção (1, 2 ou 3)\nlet opcaoEscolhida = null;\n\n// Procura por \"Opção 1\", \"Opção 2\", \"Opção 3\" na mensagem da IA\nconst match = mensagemIA.match(/opção\\s+(\\d)/i);\nif (match) {\n  opcaoEscolhida = parseInt(match[1]);\n}\n\n// Se não encontrou na mensagem da IA, tenta pegar do JSON\nif (!opcaoEscolhida && $json.opcao_escolhida) {\n  opcaoEscolhida = parseInt($json.opcao_escolhida);\n}\n\n// Se ainda não tem, tenta pegar da mensagem do usuário\nif (!opcaoEscolhida) {\n  const mensagemUsuario = $('Preparar Dados').item.json.mensagem || '';\n  const userMatch = mensagemUsuario.match(/(\\d)/);\n  if (userMatch) {\n    opcaoEscolhida = parseInt(userMatch[1]);\n  }\n}\n\n// Pega os horários disponíveis\nconst horariosDisponiveis = $json.horarios_disponiveis || [];\n\n// Valida se tem horários\nif (!horariosDisponiveis || horariosDisponiveis.length === 0) {\n  return [{\n    json: {\n      ...$json,\n      mensagem_texto: \"Desculpe, não consegui encontrar os horários. Vamos começar de novo? 😔\"\n    }\n  }];\n}\n\n// Valida a opção escolhida\nif (!opcaoEscolhida || opcaoEscolhida < 1 || opcaoEscolhida > 3) {\n  opcaoEscolhida = 1; // padrão é opção 1\n}\n\n// Pega o horário escolhido (opção 1 = índice 0)\nconst indice = opcaoEscolhida - 1;\nconst horarioEscolhido = horariosDisponiveis[indice] || horariosDisponiveis[0];\n\n// Retorna os dados para criar o evento\nreturn [{\n  json: {\n    ...$json,\n    agendamento_confirmado: {\n      data_hora_iso: horarioEscolhido.iso,\n      tipo_atendimento: $json.dados_extraidos?.tipo_atendimento || 'Consulta',\n      paciente_nome: $json.paciente_nome || 'Paciente',\n      paciente_email: $json.paciente_email || '',\n      paciente_telefone: $json.paciente_telefone || ''\n    },\n    mensagem_texto: `Confirmando seu agendamento para ${horarioEscolhido.data} às ${horarioEscolhido.hora}... ⏳`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2032,208],"id":"bfa60596-4628-40cc-9376-e18955020d03","name":"puxa chatd e session","disabled":true},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"marcelopiraz@gmail.com","mode":"list","cachedResultName":"marcelopiraz@gmail.com"},"options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-3120,912],"id":"9d20d5dc-c273-468c-837c-2dfe3a2cd889","name":"Get many events","credentials":{"googleCalendarOAuth2Api":{"id":"5pysqy9A4RwnrPNo","name":"Google Calendar account"}}},{"parameters":{"jsCode":"const agora = new Date();\nconst agoraBR = new Date(\n  agora.toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' })\n);\n\n// Começa sempre às 08:00\nagoraBR.setHours(8, 0, 0, 0);\n\n// ================================\n// 📅 EVENTOS OCUPADOS\n// ================================\nconst eventosOcupados = $input.all()\n  .map(i => i.json)\n  .filter(ev => ev?.start && ev?.end);\n\n// ================================\n// ⚙️ CONFIG\n// ================================\nconst horarios = [];\nconst duracao = 60; // minutos\nlet diasAdicionados = 0;\n\n// ================================\n// 🔍 BUSCA HORÁRIOS LIVRES\n// ================================\nwhile (horarios.length < 3 && diasAdicionados < 30) {\n  const diaCursor = new Date(agoraBR);\n  diaCursor.setDate(agoraBR.getDate() + diasAdicionados);\n  diasAdicionados++;\n\n  const diaSemana = diaCursor.getDay();\n  if (diaSemana === 0 || diaSemana === 6) continue; // pula fim de semana\n\n  for (let hora = 8; hora < 18; hora++) {\n    if (horarios.length >= 3) break;\n\n    const inicio = new Date(diaCursor);\n    inicio.setHours(hora, 0, 0, 0);\n\n    if (isNaN(inicio.getTime())) continue;\n\n    const fim = new Date(inicio.getTime() + duracao * 60000);\n\n    const ocupado = eventosOcupados.some(ev => {\n      const s = new Date(ev.start.dateTime || ev.start.date);\n      const e = new Date(ev.end.dateTime || ev.end.date);\n\n      if (isNaN(s.getTime()) || isNaN(e.getTime())) return false;\n\n      return inicio < e && fim > s;\n    });\n\n    if (!ocupado) {\n      horarios.push({\n        data: inicio.toLocaleDateString('pt-BR', {\n          weekday: 'long',\n          day: '2-digit',\n          month: '2-digit'\n        }),\n        hora: inicio.toLocaleTimeString('pt-BR', {\n          hour: '2-digit',\n          minute: '2-digit'\n        }),\n        iso: inicio.toISOString() // 🔒 agora nunca quebra\n      });\n    }\n  }\n}\n\n// ================================\n// 💬 MENSAGEM\n// ================================\nlet mensagem;\n\nif (horarios.length === 0) {\n  mensagem =\n    \"Poxa 😕 não encontrei horários disponíveis nos próximos dias. Quer tentar outra semana?\";\n} else {\n  mensagem = `Encontrei estes horários disponíveis 😊\n\n📅 Opção 1: ${horarios[0].data} às ${horarios[0].hora}\n📅 Opção 2: ${horarios[1].data} às ${horarios[1].hora}\n📅 Opção 3: ${horarios[2].data} às ${horarios[2].hora}\n\nQual você prefere? Digite 1, 2 ou 3`;\n}\n\n// ================================\n// ✅ RETORNO\n// ================================\nreturn [{\n  json: {\n    ...$json,\n    horarios_disponiveis: horarios,\n    estado: 'aguardando_opcao',\n    mensagem_texto: mensagem\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2864,928],"id":"afd38649-7975-4c41-804a-b5c0e9287fc3","name":"Buscar Horários livres"},{"parameters":{"calendar":{"__rl":true,"value":"marcelopiraz@gmail.com","mode":"list","cachedResultName":"marcelopiraz@gmail.com"},"start":"=={{ $json.data_hora_iso }}","end":"={{ new Date(new Date($json.data_hora_escolhida).getTime() + 60 * 60 * 1000).toISOString() }}","additionalFields":{"description":"=Paciente: {{ $json.dados_extraidos?.paciente_nome }} Telefone: {{ $json.dados_extraidos?.paciente_telefone }} Atendimento: {{ $json.dados_extraidos?.tipo_atendimento }} Convênio: {{ $json.dados_extraidos?.convenio }}","summary":"=Consulta Odontológica - {{ $json.dados_extraidos?.paciente_nome }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-1584,208],"id":"0bdc7f6c-902b-48ad-9fa0-1dfca6847a1a","name":"Create an event","credentials":{"googleCalendarOAuth2Api":{"id":"5pysqy9A4RwnrPNo","name":"Google Calendar account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"cc5aded7-6348-449f-ae01-e9ac39baab06","leftValue":"={{$json.is_from_me}}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"324946c2-cd1d-4190-a94b-70cc6e94bf4c","leftValue":"={{$json.is_bot_message}}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"5d249615-8ca8-4a6b-b931-44d2495edfe3","leftValue":"={{$json.mensagem}}","rightValue":"","operator":{"type":"boolean","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2256,16],"id":"02acf064-9fe1-4fda-aefb-63068c14cdfa","name":"If","disabled":true},{"parameters":{"jsCode":"return [{\n  json: {\n    ...$json,\n    agendamento_confirmado: true,\n    event_id: $json.id,\n    estado: 'finalizado',\n    mensagem_texto: `Pronto! ✅ Seu agendamento está confirmado para ${$json.agendamento_confirmado.data} às ${$json.agendamento_confirmado.hora}.\nVocê receberá um e-mail de confirmação em breve 💙`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1808,16],"id":"9994e69b-3f4f-4398-a70e-a049dfd39efd","name":"Finalização + mensagem","disabled":true},{"parameters":{"jsCode":"if ($json.agendamento_confirmado === true || $json.event_id) {\n  return [{\n    json: {\n      ...$json,\n      estado: 'finalizado',\n      mensagem_texto:\n        'Seu agendamento já está confirmado 😊 Se precisar de algo mais, é só me avisar 💙'\n    }\n  }];\n}\n\n// Verificação dos dados essenciais\nif (\n  !$json.agendamento_confirmado?.data_hora_iso &&\n  !$json.data_hora_iso\n) {\n  throw new Error('Data e hora não definidas para criação do evento');\n}\n\n// Normaliza dados\nconst dataHoraISO =\n  $json.agendamento_confirmado?.data_hora_iso ||\n  $json.data_hora_iso;\n\nreturn [{\n  json: {\n    ...$json,\n    data_hora_iso: dataHoraISO\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2480,16],"id":"6bf4066d-e81e-4b87-b001-d3948bdbe0ed","name":"Valida criação de evento","disabled":true},{"parameters":{"jsCode":"const evento = $input.first().json;\n\nconst data = new Date(evento.start.dateTime).toLocaleDateString('pt-BR', {\n  weekday: 'long',\n  day: '2-digit',\n  month: '2-digit'\n});\n\nconst hora = new Date(evento.start.dateTime).toLocaleTimeString('pt-BR', {\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nreturn [{\n  json: {\n    ...$json,\n    estado: 'finalizado',\n    agendamento_confirmado: true,\n    event_id: evento.id,\n    mensagem_texto:\n`Pronto! ✅ Seu agendamento está confirmado para ${data} às ${hora}.\nVocê receberá um e-mail de confirmação em breve 💙`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5280,-464],"id":"2c2e6e3d-b1c3-4e22-b174-754c5342d56d","name":"Code in JavaScript4","disabled":true},{"parameters":{"jsCode":"const raw =\n  $json.body?.payload?._data?.Info?.SenderAlt ||\n  $json.body?.payload?._data?.Info?.Sender ||\n  '';\n\nconst telefone_limpo = raw.replace(/\\D/g, '');\n\nreturn [{\n  json: {\n    ...$json,\n    telefone_limpo\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5280,-240],"id":"0be635aa-ef40-48e5-aec7-5337b699cbfa","name":"Normaliza telefone","disabled":true},{"parameters":{"jsCode":"const u = $input.first().json;\n\nreturn [{\n  json: {\n    ...$json,\n    usuario: {\n      id: u.id,\n      telefone: u.telefone,\n      nome: u.nome_completo,\n      status_pagamento: u.status_pagamento,\n      asaas_customer_id: u.asaas_customer_id\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5280,-16],"id":"7d1d0839-641b-49c3-9240-17f4a3fe8a98","name":"Contexo Usuário","disabled":true},{"parameters":{"operation":"executeQuery","query":"INSERT INTO usuarios_whatsapp (\n  telefone,\n  email,\n  status_pagamento\n)\nVALUES (\n  '{{ $json.telefone_limpo }}',\n  '',\n  'pendente'\n)\nON CONFLICT (telefone)\nDO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1360,208],"id":"5402bf32-e681-44a9-aeb6-6307a8a4d928","name":"criar usuário (postgres)1","alwaysOutputData":false,"credentials":{"postgres":{"id":"VLaK7I7M5kCQi4EV","name":"Postgres account"}},"disabled":true},{"parameters":{"jsCode":"const dadosAnteriores = $json.dados_extraidos || {};\nconst dadosNovos = $json.dados_extraidos || {}; // 👈 CORRETO\n\nconst limpar = obj =>\n  Object.fromEntries(\n    Object.entries(obj).filter(\n      ([_, v]) => v !== null && v !== undefined && v !== ''\n    )\n  );\n\nconst dados = {\n  ...limpar(dadosAnteriores),\n  ...limpar(dadosNovos),\n};\n\n// ===============================\n// 📩 MENSAGEM DO USUÁRIO\n// ===============================\nconst mensagemUsuario =\n  $json.body?.payload?._data?.Message?.conversation || '';\n\n// ===============================\n// 🔁 ESTADO ATUAL\n// ===============================\nlet estadoAtual = $json.estado ?? 'inicio';\n\n// ===============================\n// 🔢 OPÇÃO ESCOLHIDA (1,2,3)\n// ===============================\nconst opcaoMatch = mensagemUsuario.match(/\\b([1-3])\\b/);\nconst opcaoEscolhida = opcaoMatch ? Number(opcaoMatch[1]) : null;\n\n// ===============================\n// 📋 CAMPOS OBRIGATÓRIOS\n// ===============================\nconst obrigatorios = [\n  'paciente_nome',\n  'paciente_telefone',\n  'paciente_email',\n  'tipo_atendimento',\n  'convenio',\n  'periodo_preferencia'\n];\n\nconst dadosFaltantes = obrigatorios.filter(campo => !dados[campo]);\n\n// ===============================\n// 🔒 CONTROLE DE ESTADO (ORDEM CRÍTICA)\n// ===============================\n\n// 1️⃣ Finalizado\nif ($json.agendamento_confirmado === true) {\n  estadoAtual = 'finalizado';\n}\n\n// 2️⃣ Usuário desistiu\nelse if ($json.interesse_agendar === false) {\n  estadoAtual = 'inicio';\n}\n\n// 3️⃣ Ainda coletando dados\nelse if (dadosFaltantes.length > 0) {\n  estadoAtual = 'coletando_dados';\n}\n\n// 4️⃣ Dados completos → buscar horários\nelse if (\n  !Array.isArray($json.horarios_disponiveis) ||\n  $json.horarios_disponiveis.length === 0\n) {\n  estadoAtual = 'buscando_horarios';\n}\n\n// 5️⃣ Horários disponíveis, aguardando escolha\nelse if (!opcaoEscolhida) {\n  estadoAtual = 'aguardando_opcao';\n}\n\n// 6️⃣ Escolheu horário\nelse {\n  estadoAtual = 'criando_evento';\n}\n\n// ===============================\n// ✅ RETORNO FINAL\n// ===============================\nreturn [{\n  json: {\n    ...$json,\n    dados_extraidos: dados, // 👈 AGORA SALVA DE VERDADE\n    estado: estadoAtual,\n    opcao_escolhida: opcaoEscolhida,\n    dados_faltantes: dadosFaltantes\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2928,-224],"id":"dd615c39-11bf-4024-b6ff-7f455e768b70","name":"controlador de estado/ Normaliza Estado","disabled":true},{"parameters":{"jsCode":"let opcaoEscolhida = $json.opcao_escolhida;\n\nif (!opcaoEscolhida) {\n  const mensagemUsuario = $json.body?.payload?._data?.Message?.conversation || '';\n  const match = mensagemUsuario.match(/\\b([1-3])\\b/);\n  opcaoEscolhida = match ? parseInt(match[1]) : 1;\n}\n\nconst horariosDisponiveis = $json.horarios_disponiveis || [];\n\nif (!horariosDisponiveis || horariosDisponiveis.length === 0) {\n  return [{\n    json: {\n      ...$json,\n      estado: 'inicio',\n      mensagem_texto: \"Desculpe, não consegui encontrar os horários. Vamos começar de novo? 😔\"\n    }\n  }];\n}\n\nif (!opcaoEscolhida || opcaoEscolhida < 1 || opcaoEscolhida > 3) {\n  opcaoEscolhida = 1;\n}\n\nconst indice = opcaoEscolhida - 1;\nconst horarioEscolhido = horariosDisponiveis[indice] || horariosDisponiveis[0];\n\nreturn [{\n  json: {\n    ...$json,\n    data_hora_iso: horarioEscolhido.iso,\n    horario_escolhido: horarioEscolhido,\n    estado: 'criando_evento',\n    mensagem_texto: `Confirmando seu agendamento para ${horarioEscolhido.data} às ${horarioEscolhido.hora}... ⏳`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1808,208],"id":"88c36e82-297e-4946-803f-c5aced2c8621","name":"opcaoEscolhida","disabled":true},{"parameters":{"jsCode":"const dados = $json.dados_extraidos || {};\nconst mensagemUsuario =\n  $json.body?.payload?._data?.Message?.conversation || '';\n\nlet estadoAtual = $json.estado || 'inicio';\n\n// Detecta opção 1,2,3\nconst opcaoMatch = mensagemUsuario.match(/\\b([1-3])\\b/);\nconst opcaoEscolhida = opcaoMatch ? Number(opcaoMatch[1]) : null;\n\n// Campos obrigatórios\nconst obrigatorios = [\n  'paciente_nome',\n  'paciente_telefone',\n  'paciente_email',\n  'tipo_atendimento',\n  'convenio',\n  'periodo_preferencia'\n];\n\nconst dadosFaltantes = obrigatorios.filter(campo => !dados[campo]);\n\n// ===============================\n// REGRAS DE ESTADO (ORDEM CRÍTICA)\n// ===============================\n\n// 1️⃣ Finalizado\nif ($json.agendamento_confirmado === true) {\n  estadoAtual = 'finalizado';\n}\n\n// 2️⃣ Sem interesse\nelse if ($json.interesse_agendar === false) {\n  estadoAtual = 'inicio';\n}\n\n// 3️⃣ Ainda coletando dados\nelse if (dadosFaltantes.length > 0) {\n  estadoAtual = 'coletando_dados';\n}\n\n// 4️⃣ Dados completos → buscar horários\nelse if (\n  !$json.horarios_disponiveis ||\n  !Array.isArray($json.horarios_disponiveis) ||\n  $json.horarios_disponiveis.length === 0\n) {\n  estadoAtual = 'buscando_horarios';\n}\n\n// 5️⃣ Horários existem, mas ainda não escolheu\nelse if (!opcaoEscolhida) {\n  estadoAtual = 'aguardando_opcao';\n}\n\n// 6️⃣ Escolheu opção\nelse {\n  estadoAtual = 'criando_evento';\n}\n\nreturn [{\n  json: {\n    ...$json,\n    estado: estadoAtual,\n    opcao_escolhida: opcaoEscolhida,\n    dados_faltantes: dadosFaltantes\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1808,400],"id":"5065aa33-1ccb-42a0-8500-a4c11c57558f","name":"controlador de estado/ Normaliza Estado3","disabled":true},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"usuarios_whatsapp","mode":"list","cachedResultName":"usuarios_whatsapp"},"columns":{"mappingMode":"defineBelow","value":{"total_mensagens":0,"id":"={{ $json.id }}","horarios_disponiveis":"={{ { opcoes: $json.horarios_disponiveis } }}","estado":"={{ $json.estado }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"telefone","displayName":"telefone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nome_completo","displayName":"nome_completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"asaas_customer_id","displayName":"asaas_customer_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status_pagamento","displayName":"status_pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"primeira_interacao","displayName":"primeira_interacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"ultima_interacao","displayName":"ultima_interacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"total_mensagens","displayName":"total_mensagens","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"google_event_id","displayName":"google_event_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ultimo_agendamento","displayName":"ultimo_agendamento","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"dados_coletados","displayName":"dados_coletados","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"horarios_disponiveis","displayName":"horarios_disponiveis","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"event_id","displayName":"event_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2560,880],"id":"48b0c601-8e4d-4dcc-9c15-92690b8668cf","name":"Update rows in a table","credentials":{"postgres":{"id":"VLaK7I7M5kCQi4EV","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8f2cad2a-e3b4-4a74-9b69-909f79103e42","name":"mensagem_texto","value":"={{ JSON.parse($json.output).mensagem_texto }}","type":"string"},{"id":"6a69348e-f0a8-4f0b-b042-a5e699d57f8f","name":"dados_extraidos","value":"={{ $json.dados_extraidos ?? {} }}","type":"string"},{"id":"cd8ca531-7c3f-4e47-96b7-b9e207204cdd","name":"estado","value":"={{ $json.estado ?? 'inicio' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3600,-224],"id":"a489039a-2753-411c-a4f4-f69a7d7ffc77","name":"Edit Fields1","disabled":true},{"parameters":{"jsCode":"const dadosSalvos = $json.dados_usuario || {};\n\n// Dados extraídos nesta mensagem\nconst dadosNovos = $json.dados_extraidos || {};\n\n// Merge inteligente (novos sobrescrevem antigos)\nconst dadosUnificados = {\n  ...dadosSalvos,\n  ...dadosNovos\n};\n\nreturn [{\n  json: {\n    ...$json,\n    dados_extraidos: dadosUnificados\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3376,-224],"id":"50b97261-8ee1-49d5-a32f-34102d361572","name":"Code in JavaScript3","disabled":true},{"parameters":{"jsCode":"const dadosAnteriores = $json.dados_extraidos || {};\nconst novosDados = $json.dados_extraidos_novos || {}; // ou vindo do NLP\n\nreturn [{\n  json: {\n    ...$json,\n    dados_extraidos: {\n      ...dadosAnteriores,\n      ...novosDados\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3152,-224],"id":"02fb8862-0880-4499-8b74-99fd585388c5","name":"Code in JavaScript5","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"2c2b1d4d-b2f8-496b-8a45-9c0784d5ad76","name":"usuario.id","value":"={{ $input.first().json.id }}","type":"string"},{"id":"8269bd18-0b13-462c-b48b-1680c2bdc025","name":"usuario.telefone","value":"={{ $input.first().json.telefone }}","type":"string"},{"id":"526201d2-5d45-4f14-a03b-31d2bbb59947","name":"usuario.nome","value":"={{ $input.first().json.nome_completo }}","type":"string"},{"id":"0dd51009-c025-43ab-a972-eab6394a1808","name":"usuario.status_pagamento","value":"={{ $input.first().json.status_pagamento }}","type":"string"},{"id":"73e77b14-8018-45b5-851d-a6a25b0a7300","name":"usuario.asaas_customer_id","value":"={{ $input.first().json.asaas_customer_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5280,-688],"id":"8bfd2744-bb47-4080-866c-31e9a646c128","name":"Edit Fields4","disabled":true},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"8d2ae582abf636695182ca5020b94cc681407c51e297c5ab6b428ca4b34d9231818934af4d3aac3ec6f12fa583ac591b21621dc430c16d2fc3b0f1d02d9fdab9"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"chatId","value":"={{ $('Gatilho Whats').item.json.body.payload._data.Info.Chat }}"},{"name":"session","value":"={{ $('Gatilho Whats').item.json.body.session }}"},{"name":"text","value":"={{ $json.mensagem_texto || JSON.parse($json.output).mensagem_texto }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-4208,704],"id":"cdec55a3-435f-4ca1-b76f-ca2f42cd30d6","name":"Patrícia Fala1","retryOnFail":false,"maxTries":3},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1ce27160-0af7-4550-932a-d600e78c2427","leftValue":"={{ $json.usuario.nome }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"5cd2fb88-1202-4411-a436-fb778c0a7d0f","leftValue":"={{ $json.usuario.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"1a01fba2-7d5e-4c36-ad8b-73a45584cd02","leftValue":"={{ $json.usuario.nome }}","rightValue":"Usuário Novo","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4240,1664],"id":"9ce7b837-1638-4b0b-900b-a85959d0037f","name":"Dados completos?"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"8d2ae582abf636695182ca5020b94cc681407c51e297c5ab6b428ca4b34d9231818934af4d3aac3ec6f12fa583ac591b21621dc430c16d2fc3b0f1d02d9fdab9"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"chatId","value":"={{ $('Gatilho Whats').item.json.body.payload._data.Info.Chat }}"},{"name":"session","value":"={{ $('Gatilho Whats').item.json.body.session }}"},{"name":"text","value":"=Olá! 👋\n\nPara continuar, preciso completar seu cadastro.\n\nPor favor, me envie no formato:\n*Nome: Seu Nome Completo*\n*Email: seu@email.com*"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-3744,1648],"id":"db50cb30-5c19-4ffd-8e99-4e561d046bfd","name":"Patrícia Fala2"},{"parameters":{"jsCode":"const estadoAtual = $json.estado || 'inicio';\n\nlet proximoEstado = estadoAtual;\n\nif (estadoAtual === 'inicio') {\n  proximoEstado = 'aguardando';\n}\n\nif (estadoAtual === 'aguardando' && $json.opcao_escolhida) {\n  proximoEstado = 'finalizado';\n}\n\nreturn [{\n  json: {\n    ...$json,\n    estado: proximoEstado\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3872,720],"id":"3da1be40-5206-46c4-8099-6c0cdfbaf1ec","name":"Code in JavaScript"},{"parameters":{"jsCode":"const raw =\n  $json.body?.payload?._data?.Info?.SenderAlt ?? null;\n\n// remove tudo que não for número\nlet telefone = raw ? raw.replace(/\\D/g, '') : null;\n\n// 🔹 mantém só os 13 primeiros dígitos (55 + DDD + número)\nif (telefone && telefone.length > 12) {\n  telefone = telefone.slice(0, 12);\n}\n\nif (!telefone) {\n  throw new Error('Telefone inválido');\n}\n\nreturn [\n  {\n    json: {\n      telefone,\n      telefone_normalizado: telefone,\n      mensagem_texto:\n        $json.body?.payload?._data?.Message?.conversation ?? null,\n      estado: 'inicio'\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5264,656],"id":"b00c4fe6-bd8f-48a9-b4e3-c2e11c55a908","name":"Code in JavaScript1"},{"parameters":{"jsCode":"const output = typeof $json.output === 'string'\n  ? JSON.parse($json.output)\n  : $json;\n\nreturn [{\n  json: {\n    ...$json,\n    mensagem_texto: output.mensagem_texto,\n    dados_extraidos: output.dados_extraidos || {},\n    opcao_escolhida: output.opcao_escolhida || null\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2672,400],"id":"928db7c3-3f99-4103-9129-9a641c5a9634","name":"Code in JavaScript2"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO usuarios_whatsapp (\n  telefone,\n  telefone_normalizado,\n  estado,\n  primeira_interacao,\n  ultima_interacao,\n  total_mensagens\n)\nVALUES (\n  '{{ $json.telefone }}',\n  '{{ $json.telefone_normalizado }}',\n  'inicio',\n  NOW(),\n  NOW(),\n  1\n)\nON CONFLICT (telefone)\nDO UPDATE SET\n  ultima_interacao = NOW(),\n  total_mensagens = usuarios_whatsapp.total_mensagens + 1\nRETURNING id, estado;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4928,688],"id":"a1d92a2e-9ff8-425e-a68c-4ed68e27c10a","name":"Execute a SQL query2","credentials":{"postgres":{"id":"VLaK7I7M5kCQi4EV","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"8d2ae582abf636695182ca5020b94cc681407c51e297c5ab6b428ca4b34d9231818934af4d3aac3ec6f12fa583ac591b21621dc430c16d2fc3b0f1d02d9fdab9"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"chatId","value":"={{ $('Gatilho Whats').item.json.body.payload._data.Info.Chat }}"},{"name":"session","value":"={{ $('Gatilho Whats').item.json.body.session }}"},{"name":"text","value":"={{ JSON.parse($json.output).mensagem_texto }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-3120,528],"id":"d532af50-4a68-48ac-91d5-e17d95a514e0","name":"Patrícia Fala3","retryOnFail":false,"maxTries":3}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Patrícia","type":"ai_languageModel","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Patrícia","type":"ai_memory","index":0}]]},"Patrícia":{"main":[[{"node":"Patrícia Fala1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"cadastro asaas?","type":"main","index":0}]]},"criar cliente asaas":{"main":[[{"node":"cadastro asaas?","type":"main","index":0}]]},"cadastro asaas?":{"main":[[{"node":"tipo de pagamento","type":"main","index":0}],[{"node":"criar cliente asaas","type":"main","index":0}]]},"tipo de pagamento":{"main":[[{"node":"pix","type":"main","index":0}],[{"node":"boleto","type":"main","index":0}]]},"Gatilho Whats":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Patrícia Fala3","type":"main","index":0}],[],[{"node":"Get many events","type":"main","index":0}],[]]},"puxa chatd e session":{"main":[[{"node":"opcaoEscolhida","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"Buscar Horários livres","type":"main","index":0}]]},"Buscar Horários livres":{"main":[[{"node":"Update rows in a table","type":"main","index":0}]]},"Create an event":{"main":[[{"node":"criar usuário (postgres)1","type":"main","index":0}]]},"If":{"main":[[{"node":"Finalização + mensagem","type":"main","index":0}],[{"node":"puxa chatd e session","type":"main","index":0}]]},"Finalização + mensagem":{"main":[[{"node":"Patrícia Fala","type":"main","index":0}]]},"Valida criação de evento":{"main":[[{"node":"If","type":"main","index":0}]]},"Normaliza telefone":{"main":[[]]},"Contexo Usuário":{"main":[[]]},"controlador de estado/ Normaliza Estado":{"main":[[]]},"opcaoEscolhida":{"main":[[{"node":"Create an event","type":"main","index":0}]]},"controlador de estado/ Normaliza Estado3":{"main":[[{"node":"Patrícia Fala","type":"main","index":0}]]},"Update rows in a table":{"main":[[]]},"Edit Fields1":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"controlador de estado/ Normaliza Estado","type":"main","index":0}]]},"Edit Fields4":{"main":[[]]},"Dados completos?":{"main":[[],[{"node":"Patrícia Fala2","type":"main","index":0}]]},"Patrícia Fala2":{"main":[[]]},"Patrícia Fala1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Execute a SQL query2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[]]},"Execute a SQL query2":{"main":[[{"node":"Patrícia","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Gatilho Whats":[{"json":{"headers":{"accept":"application/json, text/plain, */*","content-type":"application/json","user-agent":"WAHA/2026.1.1","authorization":"Bearer psynCHrIDerackINceROprOBaceDLeSC","x-webhook-request-id":"48da5y07mkokstit","x-webhook-timestamp":"1769033382000","content-length":"2361","accept-encoding":"gzip, compress, deflate, br","host":"n8n:5678","connection":"keep-alive"},"params":{},"query":{},"body":{"id":"evt_01kfh9pe343hjvq4x0t6gj2dqf","timestamp":1769033382000,"event":"message","session":"default","me":{"id":"558393926939@c.us","pushName":"Agente Virtual","lid":"232830881788137@lid","jid":"558393926939:2@s.whatsapp.net"},"payload":{"id":"false_216307505070165@lid_3EB007383ECCA5A0D671A4","timestamp":1769033379,"from":"216307505070165@lid","fromMe":false,"source":"app","body":"particular e a tarde","to":null,"participant":null,"hasMedia":false,"media":null,"ack":2,"location":null,"vCards":null,"ackName":"DEVICE","replyTo":null,"_data":{"Info":{"Chat":"216307505070165@lid","Sender":"216307505070165:25@lid","IsFromMe":false,"IsGroup":false,"AddressingMode":"","SenderAlt":"557592721127:25@s.whatsapp.net","RecipientAlt":"","BroadcastListOwner":"","BroadcastRecipients":null,"ID":"3EB007383ECCA5A0D671A4","ServerID":0,"Type":"text","PushName":"Marcelo Piras","Timestamp":"2026-01-21T22:09:39Z","Category":"","Multicast":false,"MediaType":"","Edit":"","MsgBotInfo":{"EditType":"","EditTargetID":"","EditSenderTimestampMS":"0001-01-01T00:00:00Z"},"MsgMetaInfo":{"TargetID":"","TargetSender":"","TargetChat":"","DeprecatedLIDSession":null,"ThreadMessageID":"","ThreadMessageSenderJID":""},"VerifiedName":null,"DeviceSentMeta":null},"Message":{"conversation":"particular e a tarde","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"4P1FA65y183raQ==","senderTimestamp":1768613845,"senderAccountType":0,"receiverAccountType":0,"recipientKeyHash":"HbXWHd7XLno8ug==","recipientTimestamp":1768333640},"deviceListMetadataVersion":2,"messageSecret":"lmqQeGrffv8wYj3UjQzLqCnSVbAbq4URHlxnF5VJnr8="}},"IsEphemeral":false,"IsViewOnce":false,"IsViewOnceV2":false,"IsViewOnceV2Extension":false,"IsDocumentWithCaption":false,"IsLottieSticker":false,"IsBotInvoke":false,"IsEdit":false,"SourceWebMsg":null,"UnavailableRequestID":"","RetryCount":0,"NewsletterMeta":null,"RawMessage":{"conversation":"particular e a tarde","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"4P1FA65y183raQ==","senderTimestamp":1768613845,"senderAccountType":0,"receiverAccountType":0,"recipientKeyHash":"HbXWHd7XLno8ug==","recipientTimestamp":1768333640},"deviceListMetadataVersion":2,"messageSecret":"lmqQeGrffv8wYj3UjQzLqCnSVbAbq4URHlxnF5VJnr8="}},"Status":3}},"environment":{"version":"2026.1.1","engine":"GOWS","tier":"CORE","browser":null,"platform":"linux/x64"}},"webhookUrl":"http://localhost:5678/webhook/webhook","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"a444cc7d-82ab-43cf-bac1-d0db13a4bd1e","activeVersionId":"37898a28-92db-4561-a9e0-5c2accec88c2","versionCounter":57,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-13T19:44:06.536Z","createdAt":"2026-01-13T19:44:06.536Z","role":"workflow:owner","workflowId":"RHhxuLuJgXiLd8JoEVw0D","projectId":"t2gyPvz4vUVDpUPO","project":{"updatedAt":"2026-01-12T22:02:45.225Z","createdAt":"2026-01-12T22:01:39.860Z","id":"t2gyPvz4vUVDpUPO","name":"Marcelo de Sousa <marcelopiraz@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ae6cc48a-5a9c-414f-a146-ca21710f4e90"}}]},{"updatedAt":"2026-01-19T12:50:16.719Z","createdAt":"2026-01-14T17:49:00.154Z","id":"2xnAvGS3daQ0t2BcrXFnF","name":"Clínica Dentina - Otimizado","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"webhook","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1120,624],"id":"e4637248-23c5-4acd-a33c-f87271459050","name":"1. Gatilho Whats","webhookId":"74d16d1b-207b-488c-842b-acb47f6b3ee6"},{"parameters":{"assignments":{"assignments":[{"id":"tel","name":"telefone_limpo","value":"={{ ($json.body?.payload?._data?.Info?.SenderAlt || $json.body?.payload?._data?.Info?.Sender || '').replace(/\\D/g, '') }}","type":"string"},{"id":"chat","name":"chat_id","value":"={{ $json.body.payload._data.Info.Chat }}","type":"string"},{"id":"msg","name":"mensagem","value":"={{ $json.body.payload._data.Message.conversation || '' }}","type":"string"},{"id":"sess","name":"session","value":"={{ $json.body.session }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-896,624],"id":"6b83d8f0-e1c8-4155-97df-d4c2501335db","name":"2. Extrair Dados"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO usuarios_whatsapp (telefone, estado, criado_em, primeira_interacao, ultima_interacao, total_mensagens)\nVALUES (\n  '{{ $json.telefone_limpo }}',\n  'inicio',\n  NOW(),\n  NOW(),\n  NOW(),\n  1\n)\nON CONFLICT (telefone) DO UPDATE SET\n  ultima_interacao = NOW(),\n  total_mensagens = usuarios_whatsapp.total_mensagens + 1\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-704,624],"id":"dfc2c91e-69ef-497d-bfd9-4c88f687617d","name":"3. Upsert Usuário","credentials":{"postgres":{"id":"VLaK7I7M5kCQi4EV","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"={{ $('2. Extrair Dados').item.json.mensagem }}","options":{"systemMessage":"🦷 Clínica Odontológica Dentista Dentina\n🤖 Patrícia — Recepcionista Virtual\n\nVocê é Patrícia, recepcionista virtual da Clínica Dentista Dentina.\nAtende pacientes pelo WhatsApp com empatia, clareza e objetividade.\n\n⚠️ REGRAS ABSOLUTAS\n- Você NÃO substitui o dentista\n- Você NÃO faz diagnósticos\n- Você NÃO prescreve medicamentos\n- Você SEMPRE retorna mensagem_texto (nunca vazio)\n- Se o paciente demonstrar interesse em agendar, defina interesse_agendar: true\n\n👋 PRIMEIRA INTERAÇÃO\nNa primeira mensagem do paciente:\n\"Oi! 😊 Eu sou a Patrícia, da Clínica Dentista Dentina.\nPosso te ajudar com agendamentos, informações sobre tratamentos ou tirar dúvidas. Como posso te ajudar hoje? 💙\"\n\n📋 EXTRAÇÃO DE DADOS\nExtraia apenas se o paciente informar:\n- paciente_nome\n- paciente_email  \n- tipo_atendimento\n- convenio (sim/não)\n- periodo_preferencia (manhã/tarde)\n\n🔢 ESCOLHA DE HORÁRIO\nSe o estado atual for 'aguardando_opcao', extraia:\n- opcao_escolhida: 1, 2 ou 3\n\nSe não houver horários ainda, responda:\n\"Perfeito! 😊 Vou verificar os horários disponíveis. Um momento! ⏰\"\n\n🧾 FORMATO DE RESPOSTA (OBRIGATÓRIO)\n{\n  \"mensagem_texto\": \"texto para WhatsApp\",\n  \"interesse_agendar\": false,\n  \"dados_extraidos\": {},\n  \"opcao_escolhida\": null\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-176,608],"id":"3c323b4a-7729-497a-988b-e2d6a1ce4d46","name":"4. Patrícia IA"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('2. Extrair Dados').item.json.telefone_limpo }}","sessionTTL":3600},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-224,1040],"id":"f97be214-3702-40f4-b05e-2749befbaa54","name":"Redis Memory","credentials":{"redis":{"id":"FUGc8VUMg18ad4nR","name":"Redis account"}}},{"parameters":{"jsCode":"const resposta = JSON.parse($json.output);\nconst usuario = $('3. Upsert Usuário').item.json;\n\nlet estado = usuario.estado || 'inicio';\nlet proximaAcao = 'enviar';\n\n// Determinar próximo estado\nif (resposta.interesse_agendar && usuario.nome_completo && usuario.email) {\n  estado = 'buscando_horarios';\n  proximaAcao = 'buscar_horarios';\n} else if (resposta.interesse_agendar && (!usuario.nome_completo || !usuario.email)) {\n  estado = 'coletando_dados';\n  proximaAcao = 'enviar';\n} else if (resposta.opcao_escolhida && usuario.horarios_disponiveis) {\n  estado = 'criando_evento';\n  proximaAcao = 'criar_evento';\n} else if (usuario.horarios_disponiveis?.opcoes?.length > 0) {\n  estado = 'aguardando_opcao';\n  proximaAcao = 'enviar';\n}\n\nreturn [{\n  json: {\n    ...usuario,\n    ...$('2. Extrair Dados').item.json,\n    resposta_patricia: resposta,\n    estado,\n    proximaAcao,\n    mensagem_texto: resposta.mensagem_texto,\n    dados_extraidos: resposta.dados_extraidos || {},\n    opcao_escolhida: resposta.opcao_escolhida\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,624],"id":"eafaf92e-f8c8-490f-8a77-cc5e8e9a3b5a","name":"5. Determinar Estado"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.proximaAcao }}","rightValue":"buscar_horarios","operator":{"type":"string","operation":"equals"},"id":"f3a01c38-36a9-4fca-b9da-c4a8d8ebef8d"}],"combinator":"and"},"renameOutput":true,"outputKey":"buscar_horarios"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.proximaAcao }}","rightValue":"criar_evento","operator":{"type":"string","operation":"equals"},"id":"ea952f4e-7360-4943-966a-b320369a68e3"}],"combinator":"and"},"renameOutput":true,"outputKey":"criar_evento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.proximaAcao }}","rightValue":"enviar","operator":{"type":"string","operation":"equals"},"id":"d56da277-f825-4da6-87dd-a239f89e3292"}],"combinator":"and"},"renameOutput":true,"outputKey":"enviar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[480,608],"id":"70c36c99-3061-4aea-8473-ea374f07bf97","name":"6. Switch Ação"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"marcelopiraz@gmail.com","mode":"list","cachedResultName":"marcelopiraz@gmail.com"},"options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[704,432],"id":"ca106d73-d101-4adc-b0e8-7abb65657446","name":"7. Get Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"5pysqy9A4RwnrPNo","name":"Google Calendar account"}}},{"parameters":{"jsCode":"const agora = new Date();\nconst agoraBR = new Date(agora.toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' }));\nagoraBR.setHours(8, 0, 0, 0);\n\nconst eventosOcupados = $input.all()\n  .map(i => i.json)\n  .filter(ev => ev?.start && ev?.end);\n\nconst horarios = [];\nconst duracao = 60;\nlet diasAdicionados = 0;\n\nwhile (horarios.length < 3 && diasAdicionados < 30) {\n  const diaCursor = new Date(agoraBR);\n  diaCursor.setDate(agoraBR.getDate() + diasAdicionados);\n  diasAdicionados++;\n\n  const diaSemana = diaCursor.getDay();\n  if (diaSemana === 0 || diaSemana === 6) continue;\n\n  for (let hora = 8; hora < 18; hora++) {\n    if (horarios.length >= 3) break;\n\n    const inicio = new Date(diaCursor);\n    inicio.setHours(hora, 0, 0, 0);\n    const fim = new Date(inicio.getTime() + duracao * 60000);\n\n    const ocupado = eventosOcupados.some(ev => {\n      const s = new Date(ev.start.dateTime || ev.start.date);\n      const e = new Date(ev.end.dateTime || ev.end.date);\n      return inicio < e && fim > s;\n    });\n\n    if (!ocupado) {\n      horarios.push({\n        data: inicio.toLocaleDateString('pt-BR', { weekday: 'long', day: '2-digit', month: '2-digit' }),\n        hora: inicio.toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit' }),\n        iso: inicio.toISOString()\n      });\n    }\n  }\n}\n\nconst mensagem = horarios.length === 0\n  ? \"Poxa 😕 não encontrei horários disponíveis. Quer tentar outra semana?\"\n  : `Encontrei estes horários disponíveis 😊\\n\\n📅 Opção 1: ${horarios[0].data} às ${horarios[0].hora}\\n📅 Opção 2: ${horarios[1].data} às ${horarios[1].hora}\\n📅 Opção 3: ${horarios[2].data} às ${horarios[2].hora}\\n\\nQual você prefere? Digite 1, 2 ou 3`;\n\nreturn [{\n  json: {\n    ...$('5. Determinar Estado').item.json,\n    horarios_disponiveis: { opcoes: horarios },\n    mensagem_texto: mensagem,\n    estado: 'aguardando_opcao'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,432],"id":"ca65f9a4-296b-48cd-96ff-c9604ca6b513","name":"8. Buscar Horários"},{"parameters":{"operation":"executeQuery","query":"UPDATE usuarios_whatsapp SET\n  nome_completo = COALESCE(NULLIF('{{ $json.dados_extraidos.paciente_nome }}', ''), nome_completo),\n  email = COALESCE(NULLIF('{{ $json.dados_extraidos.paciente_email }}', ''), email),\n  estado = '{{ $json.estado }}',\n  horarios_disponiveis = COALESCE('{{ JSON.stringify($json.horarios_disponiveis) }}'::jsonb, horarios_disponiveis)\nWHERE telefone = '{{ $json.telefone_limpo }}'\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1152,432],"id":"0c9a7f63-44e6-4d01-b2b9-f4c9866ea181","name":"9. Update Horários","credentials":{"postgres":{"id":"VLaK7I7M5kCQi4EV","name":"Postgres account"}}},{"parameters":{"calendar":{"__rl":true,"value":"marcelopiraz@gmail.com","mode":"list","cachedResultName":"marcelopiraz@gmail.com"},"start":"={{ $json.horarios_disponiveis.opcoes[$json.opcao_escolhida - 1].iso }}","end":"={{ new Date(new Date($json.horarios_disponiveis.opcoes[$json.opcao_escolhida - 1].iso).getTime() + 60*60000).toISOString() }}","additionalFields":{"description":"Paciente: {{ $json.nome_completo }}\\nTelefone: {{ $json.telefone }}\\nEmail: {{ $json.email }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[928,624],"id":"bcae8c1f-f5bb-4ff8-bc7f-c83aadab7a90","name":"10. Criar Evento","credentials":{"googleCalendarOAuth2Api":{"id":"5pysqy9A4RwnrPNo","name":"Google Calendar account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE usuarios_whatsapp SET\n  event_id = '{{ $json.id }}',\n  estado = 'finalizado',\n  ultimo_agendamento = NOW()\nWHERE telefone = '{{ $('5. Determinar Estado').item.json.telefone_limpo }}'\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1152,624],"id":"1d65f2a0-1c83-41e9-9e14-753e9d73d97c","name":"11. Update Evento","credentials":{"postgres":{"id":"VLaK7I7M5kCQi4EV","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"msg_final","name":"mensagem_final","value":"={{ $json.mensagem_texto || 'Perfeito! ✅ Seu agendamento foi confirmado. Até breve! 😊' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1376,624],"id":"5647e343-f518-4f7a-a5a1-a6c2a9ebdabc","name":"12. Preparar Envio"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"8d2ae582abf636695182ca5020b94cc681407c51e297c5ab6b428ca4b34d9231818934af4d3aac3ec6f12fa583ac591b21621dc430c16d2fc3b0f1d02d9fdab9"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"chatId","value":"={{ $('5. Determinar Estado').item.json.chat_id }}"},{"name":"session","value":"={{ $('5. Determinar Estado').item.json.session }}"},{"name":"text","value":"={{ $json.mensagem_final || $json.mensagem_texto }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1792,624],"id":"78a88a9a-d90c-4490-a26c-1b7a580b5614","name":"14. Enviar WhatsApp"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"869394c9-8e63-456c-a2d3-78fbab768bec","leftValue":"{{ $json.usuario.nome }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"66674be9-5809-440d-a9e3-531d906fab9f","leftValue":"={{ $json.usuario.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"f8e4d42c-b0d6-4949-b7e0-6091e393038e","leftValue":"={{ $json.usuario.nome }}","rightValue":"Usuário Novo","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-512,624],"id":"61d0eb01-9b7c-4516-9a6f-be0e067db50d","name":"Dados completos?"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-384,928],"id":"1a22f06c-4283-4910-9120-c42affd40c54","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"ErbHO0IbDagyc0Mr","name":"DeepSeek account"}}}],"connections":{"1. Gatilho Whats":{"main":[[{"node":"2. Extrair Dados","type":"main","index":0}]]},"2. Extrair Dados":{"main":[[{"node":"3. Upsert Usuário","type":"main","index":0}]]},"3. Upsert Usuário":{"main":[[{"node":"Dados completos?","type":"main","index":0}]]},"4. Patrícia IA":{"main":[[{"node":"5. Determinar Estado","type":"main","index":0}]]},"Redis Memory":{"ai_memory":[[{"node":"4. Patrícia IA","type":"ai_memory","index":0}]]},"5. Determinar Estado":{"main":[[{"node":"6. Switch Ação","type":"main","index":0}]]},"6. Switch Ação":{"main":[[{"node":"7. Get Calendar","type":"main","index":0}],[{"node":"10. Criar Evento","type":"main","index":0}],[{"node":"12. Preparar Envio","type":"main","index":0}]]},"7. Get Calendar":{"main":[[{"node":"8. Buscar Horários","type":"main","index":0}]]},"8. Buscar Horários":{"main":[[{"node":"9. Update Horários","type":"main","index":0}]]},"9. Update Horários":{"main":[[{"node":"12. Preparar Envio","type":"main","index":0}]]},"10. Criar Evento":{"main":[[{"node":"11. Update Evento","type":"main","index":0}]]},"11. Update Evento":{"main":[[{"node":"12. Preparar Envio","type":"main","index":0}]]},"12. Preparar Envio":{"main":[[{"node":"14. Enviar WhatsApp","type":"main","index":0}]]},"Dados completos?":{"main":[[{"node":"4. Patrícia IA","type":"main","index":0}],[{"node":"4. Patrícia IA","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"4. Patrícia IA","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"1. Gatilho Whats":[{"json":{"headers":{"accept":"application/json, text/plain, */*","content-type":"application/json","user-agent":"WAHA/2026.1.1","authorization":"Bearer psynCHrIDerackINceROprOBaceDLeSC","x-webhook-request-id":"111zu77mkl5vs0s","x-webhook-timestamp":"1768826927223","content-length":"2232","accept-encoding":"gzip, compress, deflate, br","host":"n8n:5678","connection":"keep-alive"},"params":{},"query":{},"body":{"id":"evt_01kfb4sy2mse9jtw5wwa9mccb9","timestamp":1768826927223,"event":"message","session":"default","me":{"id":"558393926939@c.us","pushName":"Agente Virtual","lid":"232830881788137@lid","jid":"558393926939:2@s.whatsapp.net"},"payload":{"id":"false_216307505070165@lid_AC0D2F7821AA8A24477DF83F0FD78032","timestamp":1768826924,"from":"216307505070165@lid","fromMe":false,"source":"app","body":"Oi?","to":null,"participant":null,"hasMedia":false,"media":null,"ack":2,"location":null,"vCards":null,"ackName":"DEVICE","replyTo":null,"_data":{"Info":{"Chat":"216307505070165@lid","Sender":"216307505070165@lid","IsFromMe":false,"IsGroup":false,"AddressingMode":"","SenderAlt":"557592721127@s.whatsapp.net","RecipientAlt":"","BroadcastListOwner":"","BroadcastRecipients":null,"ID":"AC0D2F7821AA8A24477DF83F0FD78032","ServerID":0,"Type":"text","PushName":"Marcelo Piras","Timestamp":"2026-01-19T12:48:44Z","Category":"","Multicast":false,"MediaType":"","Edit":"","MsgBotInfo":{"EditType":"","EditTargetID":"","EditSenderTimestampMS":"0001-01-01T00:00:00Z"},"MsgMetaInfo":{"TargetID":"","TargetSender":"","TargetChat":"","DeprecatedLIDSession":null,"ThreadMessageID":"","ThreadMessageSenderJID":""},"VerifiedName":null,"DeviceSentMeta":null},"Message":{"conversation":"Oi?","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"4P1FA65y183raQ==","senderTimestamp":1768613845,"recipientKeyHash":"HbXWHd7XLno8ug==","recipientTimestamp":1768333640},"deviceListMetadataVersion":2,"messageSecret":"5gyMZHyw7k3Qg3lA7T2e2NzaiZI6VQSTKdJxW06Ozv0="}},"IsEphemeral":false,"IsViewOnce":false,"IsViewOnceV2":false,"IsViewOnceV2Extension":false,"IsDocumentWithCaption":false,"IsLottieSticker":false,"IsBotInvoke":false,"IsEdit":false,"SourceWebMsg":null,"UnavailableRequestID":"","RetryCount":0,"NewsletterMeta":null,"RawMessage":{"conversation":"Oi?","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"4P1FA65y183raQ==","senderTimestamp":1768613845,"recipientKeyHash":"HbXWHd7XLno8ug==","recipientTimestamp":1768333640},"deviceListMetadataVersion":2,"messageSecret":"5gyMZHyw7k3Qg3lA7T2e2NzaiZI6VQSTKdJxW06Ozv0="}},"Status":3}},"environment":{"version":"2026.1.1","engine":"GOWS","tier":"CORE","browser":null,"platform":"linux/x64"}},"webhookUrl":"http://localhost:5678/webhook/webhook","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"5efcab2a-d394-4b6e-a748-dcd60b40f359","activeVersionId":null,"versionCounter":8,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-14T17:49:00.204Z","createdAt":"2026-01-14T17:49:00.204Z","role":"workflow:owner","workflowId":"2xnAvGS3daQ0t2BcrXFnF","projectId":"t2gyPvz4vUVDpUPO","project":{"updatedAt":"2026-01-12T22:02:45.225Z","createdAt":"2026-01-12T22:01:39.860Z","id":"t2gyPvz4vUVDpUPO","name":"Marcelo de Sousa <marcelopiraz@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ae6cc48a-5a9c-414f-a146-ca21710f4e90"}}]},{"updatedAt":"2026-01-19T12:34:55.866Z","createdAt":"2026-01-17T16:38:56.065Z","id":"MwgOg2UWxMGZpWW3rQS3c","name":"My workflow 2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"webhook","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1824,48],"id":"0f92c1dd-4e65-4628-8ab0-b8deb4374a37","name":"1. Gatilho Whats","webhookId":"74d16d1b-207b-488c-842b-acb47f6b3ee6"},{"parameters":{"assignments":{"assignments":[{"id":"tel","name":"telefone_limpo","value":"={{ ($json.body?.payload?._data?.Info?.SenderAlt || $json.body?.payload?._data?.Info?.Sender || '').replace(/\\D/g, '') }}","type":"string"},{"id":"chat","name":"chat_id","value":"={{ $json.body.payload._data.Info.Chat }}","type":"string"},{"id":"msg","name":"mensagem","value":"={{ $json.body.payload._data.Message.conversation || '' }}","type":"string"},{"id":"sess","name":"session","value":"={{ $json.body.session }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1600,48],"id":"be89bd08-650e-47da-bfab-ea0190015bc1","name":"2. Extrair Dados"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS usuarios_whatsapp (\n  id SERIAL PRIMARY KEY,\n  telefone VARCHAR(20) UNIQUE NOT NULL,\n  nome_completo VARCHAR(255),\n  email VARCHAR(255),\n  estado VARCHAR(50) DEFAULT 'inicio',\n  horarios_disponiveis JSONB,\n  event_id VARCHAR(255),\n  convenio BOOLEAN DEFAULT false,\n  tipo_atendimento VARCHAR(100),\n  periodo_preferencia VARCHAR(20),\n  criado_em TIMESTAMP DEFAULT NOW(),\n  primeira_interacao TIMESTAMP DEFAULT NOW(),\n  ultima_interacao TIMESTAMP DEFAULT NOW(),\n  ultimo_agendamento TIMESTAMP,\n  total_mensagens INTEGER DEFAULT 0\n);\n\nCREATE INDEX IF NOT EXISTS idx_usuarios_whatsapp_telefone ON usuarios_whatsapp(telefone);\n\n-- Inserir ou atualizar usuário\nINSERT INTO usuarios_whatsapp (\n  telefone, \n  estado, \n  nome_completo,\n  criado_em, \n  primeira_interacao, \n  ultima_interacao, \n  total_mensagens\n)\nVALUES (\n  '{{ $('2. Extrair Dados').item.json.telefone_limpo }}',\n  'inicio',\n  'Usuário Novo',\n  NOW(),\n  NOW(),\n  NOW(),\n  1\n)\nON CONFLICT (telefone) DO UPDATE SET\n  ultima_interacao = NOW(),\n  total_mensagens = usuarios_whatsapp.total_mensagens + 1,\n  estado = CASE \n    WHEN usuarios_whatsapp.nome_completo = 'Usuário Novo' THEN 'inicio'\n    ELSE usuarios_whatsapp.estado \n  END\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1408,32],"id":"27cd7f0f-ca0c-47c7-9f96-937afe73a004","name":"3. Upsert Usuário","executeOnce":false,"alwaysOutputData":false,"credentials":{"postgres":{"id":"VLaK7I7M5kCQi4EV","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"={{ $json.session }}","options":{"systemMessage":"=🦷 Clínica Odontológica Dentista Dentina\n🤖 Patrícia — Recepcionista Virtual\n\nVocê é Patrícia, recepcionista virtual da Clínica Dentista Dentina.\nSeja natural, acolhedora e profissional.\n\n📊 DADOS DO USUÁRIO ATUAL:\n- Telefone: {{ $json.telefone }}\n- Nome cadastrado: {{ $json.nome_completo || \"não informado\" }}\n- Email cadastrado: {{ $json.email || \"não informado\" }}\n- Estado: {{ $json.estado || \"inicio\" }}\n- Total de mensagens: {{ $json.total_mensagens || 0 }}\n\n💬 TOM DE VOZ:\n- Acolhedor e empático\n- Profissional, mas humano\n- Mensagens curtas e diretas\n- Emojis com moderação: 😊 💙 📅 ⏰ ✅\n- NUNCA repita a mesma mensagem\n- SEMPRE responda ao contexto da conversa\n\n🎯 INTENÇÕES POSSÍVEIS:\nagendamento | reagendamento | cancelamento | informacoes | emergencia | pagamento | feedback | saudacao | pergunta\n\n📋 FLUXO DE CONVERSA:\n\n1️⃣ SAUDAÇÃO INICIAL (se nome = \"Usuário Novo\"):\n   - Se o usuário cumprimentar (oi, olá, bom dia): Apresente-se primeiro\n   - Pergunte educadamente como ele gostaria de ser chamado\n   - Peça o email de forma natural\n   \n2️⃣ RESPONDENDO PERGUNTAS:\n   - SEMPRE responda a pergunta do usuário PRIMEIRO\n   - Depois, se dados incompletos, peça informações\n   \n3️⃣ DADOS COMPLETOS (nome ≠ \"Usuário Novo\" E email preenchido):\n   - Cumprimente pelo nome\n   - Ofereça ajuda com agendamentos\n   - Identifique a intenção\n\n4️⃣ EXTRAÇÃO DE DADOS:\n   - Nome informado → \"paciente_nome\"\n   - Email informado → \"paciente_email\"\n   - Interesse em agendar → \"interesse_agendar\": true\n   - Tipo de atendimento → \"tipo_atendimento\"\n   - Convênio → \"convenio\" (true/false)\n   - Preferência de período → \"periodo_preferencia\" (manhã/tarde)\n\n💡 EXEMPLOS DE RESPOSTAS:\n\nUsuário: \"Oi\"\n{\n  \"mensagem_texto\": \"Oi! 😊 Eu sou a Patrícia, assistente da Clínica Dentista Dentina. Como posso te chamar?\",\n  \"interesse_agendar\": false,\n  \"dados_extraidos\": {}\n}\n\nUsuário: \"Quem é você?\"\n{\n  \"mensagem_texto\": \"Sou a Patrícia, assistente virtual da Clínica Dentista Dentina 😊 Estou aqui para te ajudar com agendamentos e informações. Qual seu nome?\",\n  \"interesse_agendar\": false,\n  \"dados_extraidos\": {}\n}\n\nUsuário: \"Bom dia\"\n{\n  \"mensagem_texto\": \"Bom dia! 😊 Tudo bem? Sou a Patrícia da Clínica Dentista Dentina. Para começar, qual seu nome completo?\",\n  \"interesse_agendar\": false,\n  \"dados_extraidos\": {}\n}\n\nUsuário: \"João Silva\"\n{\n  \"mensagem_texto\": \"Prazer, João! 😊 E qual seu melhor email para contato?\",\n  \"interesse_agendar\": false,\n  \"dados_extraidos\": {\n    \"paciente_nome\": \"João Silva\"\n  }\n}\n\nUsuário: \"joao@email.com\"\n{\n  \"mensagem_texto\": \"Perfeito, João! ✅ Suas informações foram salvas. Como posso te ajudar hoje?\",\n  \"interesse_agendar\": false,\n  \"dados_extraidos\": {\n    \"paciente_email\": \"joao@email.com\"\n  }\n}\n\nUsuário: \"Quero marcar uma consulta\"\n{\n  \"mensagem_texto\": \"Ótimo! 📅 Vou te ajudar com o agendamento. Você tem convênio odontológico?\",\n  \"interesse_agendar\": true,\n  \"dados_extraidos\": {}\n}\n\nUsuário: \"Sim, Unimed\"\n{\n  \"mensagem_texto\": \"Perfeito! Prefere atendimento pela manhã ou tarde?\",\n  \"interesse_agendar\": true,\n  \"dados_extraidos\": {\n    \"convenio\": true\n  }\n}\n\nUsuário: \"Tarde\"\n{\n  \"mensagem_texto\": \"Combinado! ⏰ Vou buscar os horários disponíveis à tarde. Um momento!\",\n  \"interesse_agendar\": true,\n  \"dados_extraidos\": {\n    \"periodo_preferencia\": \"tarde\"\n  }\n}\n\n⚠️ REGRAS CRÍTICAS:\n- NUNCA ignore perguntas do usuário\n- NUNCA dê a mesma resposta várias vezes seguidas\n- SEMPRE seja contextual e conversacional\n- Se o usuário estiver irritado ou confuso, seja mais empático\n- Extraia informações naturalmente, sem parecer um formulário\n\n🔄 FORMATO DE RESPOSTA (OBRIGATÓRIO):\n{\n  \"mensagem_texto\": \"sua resposta aqui\",\n  \"interesse_agendar\": false,\n  \"dados_extraidos\": {}\n}\n\nResponda SEMPRE e APENAS em JSON válido, sem markdown, sem explicações adicionais."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-672,16],"id":"952c7f40-19d9-46d7-9f5a-b45854dd6dd7","name":"4. Patrícia IA"},{"parameters":{"sessionIdType":"customKey","sessionKey":"default","sessionTTL":3600},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-416,432],"id":"d5a8c9c5-e2b2-4a8e-ad3c-f923f8b45633","name":"Redis Memory","credentials":{"redis":{"id":"FUGc8VUMg18ad4nR","name":"Redis account"}}},{"parameters":{"jsCode":"const resposta = JSON.parse($json.output);\n\n// Pegar todos os dados que chegaram neste node\nconst dadosAtuais = $input.item.json;\n\n// Extrair dados do usuário (pode vir direto ou dentro de um array)\nconst usuario = dadosAtuais;\n\n// Determinar estado e próxima ação\nlet estado = usuario.estado || 'inicio';\nlet proximaAcao = 'enviar';\n\nif (resposta.interesse_agendar && usuario.nome_completo && usuario.email) {\n  estado = 'buscando_horarios';\n  proximaAcao = 'buscar_horarios';\n} else if (resposta.interesse_agendar && (!usuario.nome_completo || !usuario.email)) {\n  estado = 'coletando_dados';\n  proximaAcao = 'enviar';\n} else if (resposta.opcao_escolhida && usuario.horarios_disponiveis) {\n  estado = 'criando_evento';\n  proximaAcao = 'criar_evento';\n} else if (usuario.horarios_disponiveis?.opcoes?.length > 0) {\n  estado = 'aguardando_opcao';\n  proximaAcao = 'enviar';\n}\n\nreturn {\n  json: {\n    // Manter todos os dados anteriores (já inclui session, chat_id, etc)\n    ...dadosAtuais,\n    \n    // Adicionar novos dados\n    resposta_patricia: resposta,\n    estado,\n    proximaAcao,\n    mensagem_texto: resposta.mensagem_texto,\n    dados_extraidos: resposta.dados_extraidos || {},\n    opcao_escolhida: resposta.opcao_escolhida\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,48],"id":"a3b6ad98-49ac-427b-9158-51c79333b300","name":"5. Determinar Estado"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.proximaAcao }}","rightValue":"buscar_horarios","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"buscar_horarios"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.proximaAcao }}","rightValue":"criar_evento","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"criar_evento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.proximaAcao }}","rightValue":"enviar","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"enviar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-16,32],"id":"78314869-f0f7-427f-a6c8-855a328a4978","name":"6. Switch Ação"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"marcelopiraz@gmail.com","mode":"list","cachedResultName":"marcelopiraz@gmail.com"},"options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[208,-144],"id":"df46a80c-e0e2-4ea6-bbbb-76bebdf31d37","name":"7. Get Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"5pysqy9A4RwnrPNo","name":"Google Calendar account"}}},{"parameters":{"jsCode":"const agora = new Date();\nconst agoraBR = new Date(agora.toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' }));\nagoraBR.setHours(8, 0, 0, 0);\n\nconst eventosOcupados = $input.all()\n  .map(i => i.json)\n  .filter(ev => ev?.start && ev?.end);\n\nconst horarios = [];\nconst duracao = 60;\nlet diasAdicionados = 0;\n\nwhile (horarios.length < 3 && diasAdicionados < 30) {\n  const diaCursor = new Date(agoraBR);\n  diaCursor.setDate(agoraBR.getDate() + diasAdicionados);\n  diasAdicionados++;\n\n  const diaSemana = diaCursor.getDay();\n  if (diaSemana === 0 || diaSemana === 6) continue;\n\n  for (let hora = 8; hora < 18; hora++) {\n    if (horarios.length >= 3) break;\n\n    const inicio = new Date(diaCursor);\n    inicio.setHours(hora, 0, 0, 0);\n    const fim = new Date(inicio.getTime() + duracao * 60000);\n\n    const ocupado = eventosOcupados.some(ev => {\n      const s = new Date(ev.start.dateTime || ev.start.date);\n      const e = new Date(ev.end.dateTime || ev.end.date);\n      return inicio < e && fim > s;\n    });\n\n    if (!ocupado) {\n      horarios.push({\n        data: inicio.toLocaleDateString('pt-BR', { weekday: 'long', day: '2-digit', month: '2-digit' }),\n        hora: inicio.toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit' }),\n        iso: inicio.toISOString()\n      });\n    }\n  }\n}\n\nconst mensagem = horarios.length === 0\n  ? \"Poxa 😕 não encontrei horários disponíveis. Quer tentar outra semana?\"\n  : `Encontrei estes horários disponíveis 😊\\n\\n📅 Opção 1: ${horarios[0].data} às ${horarios[0].hora}\\n📅 Opção 2: ${horarios[1].data} às ${horarios[1].hora}\\n📅 Opção 3: ${horarios[2].data} às ${horarios[2].hora}\\n\\nQual você prefere? Digite 1, 2 ou 3`;\n\nreturn [{\n  json: {\n    ...$('5. Determinar Estado').item.json,\n    horarios_disponiveis: { opcoes: horarios },\n    mensagem_texto: mensagem,\n    estado: 'aguardando_opcao'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,-144],"id":"541badcc-4f40-423e-a17c-794a626106b8","name":"8. Buscar Horários"},{"parameters":{"operation":"executeQuery","query":"UPDATE usuarios_whatsapp SET\n  nome_completo = COALESCE(NULLIF('{{ $json.dados_extraidos.paciente_nome }}', ''), nome_completo),\n  email = COALESCE(NULLIF('{{ $json.dados_extraidos.paciente_email }}', ''), email),\n  estado = '{{ $json.estado }}',\n  horarios_disponiveis = COALESCE('{{ JSON.stringify($json.horarios_disponiveis) }}'::jsonb, horarios_disponiveis)\nWHERE telefone = '{{ $json.telefone_limpo }}'\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[656,-144],"id":"87113208-a190-4a7e-9bfd-af01eb869995","name":"9. Update Horários","credentials":{"postgres":{"id":"VLaK7I7M5kCQi4EV","name":"Postgres account"}}},{"parameters":{"calendar":{"__rl":true,"value":"marcelopiraz@gmail.com","mode":"list","cachedResultName":"marcelopiraz@gmail.com"},"start":"={{ $json.horarios_disponiveis.opcoes[$json.opcao_escolhida - 1].iso }}","end":"={{ new Date(new Date($json.horarios_disponiveis.opcoes[$json.opcao_escolhida - 1].iso).getTime() + 60*60000).toISOString() }}","additionalFields":{"description":"Paciente: {{ $json.nome_completo }}\\nTelefone: {{ $json.telefone }}\\nEmail: {{ $json.email }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[432,48],"id":"a0a9c0f7-c106-4b3b-848b-bf98c269b68e","name":"10. Criar Evento","credentials":{"googleCalendarOAuth2Api":{"id":"5pysqy9A4RwnrPNo","name":"Google Calendar account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE usuarios_whatsapp SET\n  event_id = '{{ $json.id }}',\n  estado = 'finalizado',\n  ultimo_agendamento = NOW()\nWHERE telefone = '{{ $('5. Determinar Estado').item.json.telefone_limpo }}'\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[656,48],"id":"361fad12-9b52-4225-a5df-838f8c0c37f2","name":"11. Update Evento","credentials":{"postgres":{"id":"VLaK7I7M5kCQi4EV","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"msg_final","name":"mensagem_final","value":"={{ $json.mensagem_texto || 'Perfeito! ✅ Seu agendamento foi confirmado. Até breve! 😊' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,48],"id":"70dd5848-a494-44ec-b717-05086a72b474","name":"12. Preparar Envio"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"8d2ae582abf636695182ca5020b94cc681407c51e297c5ab6b428ca4b34d9231818934af4d3aac3ec6f12fa583ac591b21621dc430c16d2fc3b0f1d02d9fdab9"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"chatId","value":"={{ $('Code in JavaScript').item.json.chat_id }}"},{"name":"session","value":"={{ $('Code in JavaScript').item.json.session }}"},{"name":"text","value":"={{ $('12. Preparar Envio').item.json.mensagem_final }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1328,48],"id":"4221995e-17c2-4865-8c15-b1ce9f4d3473","name":"14. Enviar WhatsApp"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"869394c9-8e63-456c-a2d3-78fbab768bec","leftValue":"= {{ $json.nome_completo }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"66674be9-5809-440d-a9e3-531d906fab9f","leftValue":"={{ $json.email }}\n","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"f8e4d42c-b0d6-4949-b7e0-6091e393038e","leftValue":"={{ $json.nome_completo }}","rightValue":"Usuário Novo","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-912,32],"id":"bc6bb373-1f64-42ff-8373-7e0bc26a6073","name":"Dados completos?"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"usuarios_whatsapp","mode":"list","cachedResultName":"usuarios_whatsapp"},"columns":{"mappingMode":"defineBelow","value":{"id":0,"total_mensagens":0},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"telefone","displayName":"telefone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nome_completo","displayName":"nome_completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status_pagamento","displayName":"status_pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"asaas_customer_id","displayName":"asaas_customer_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"primeira_interacao","displayName":"primeira_interacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"ultima_interacao","displayName":"ultima_interacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"total_mensagens","displayName":"total_mensagens","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1472,944],"id":"3a52dd4c-3d49-4c67-a30f-6792a6caa7b3","name":"Insert rows in a table","credentials":{"postgres":{"id":"VLaK7I7M5kCQi4EV","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-656,368],"id":"e98da4d2-9cf6-4d7b-8464-cdef4538da54","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"ErbHO0IbDagyc0Mr","name":"DeepSeek account"}}},{"parameters":{"jsCode":"const usuario = $input.item.json[0] || $input.item.json;\n\n// Dados originais do webhook (2. Extrair Dados)\nconst dadosOriginais = $node[\"2. Extrair Dados\"].json;\n\n// Combinar tudo\nreturn {\n  json: {\n    // Dados do banco (spread primeiro para ter tudo)\n    ...usuario,\n    \n    // Sobrescrever/adicionar dados do webhook\n    telefone_limpo: dadosOriginais.telefone_limpo,\n    chat_id: dadosOriginais.chat_id,\n    mensagem: dadosOriginais.mensagem,\n    session: dadosOriginais.session\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1200,32],"id":"faa5882f-417f-40a4-bccd-8989e4fbf33b","name":"Code in JavaScript"}],"connections":{"1. Gatilho Whats":{"main":[[{"node":"2. Extrair Dados","type":"main","index":0}]]},"2. Extrair Dados":{"main":[[{"node":"3. Upsert Usuário","type":"main","index":0}]]},"3. Upsert Usuário":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"4. Patrícia IA":{"main":[[{"node":"5. Determinar Estado","type":"main","index":0}]]},"Redis Memory":{"ai_memory":[[{"node":"4. Patrícia IA","type":"ai_memory","index":0}]]},"5. Determinar Estado":{"main":[[{"node":"6. Switch Ação","type":"main","index":0}]]},"6. Switch Ação":{"main":[[{"node":"7. Get Calendar","type":"main","index":0}],[{"node":"10. Criar Evento","type":"main","index":0}],[{"node":"12. Preparar Envio","type":"main","index":0}]]},"7. Get Calendar":{"main":[[{"node":"8. Buscar Horários","type":"main","index":0}]]},"8. Buscar Horários":{"main":[[{"node":"9. Update Horários","type":"main","index":0}]]},"9. Update Horários":{"main":[[{"node":"12. Preparar Envio","type":"main","index":0}]]},"10. Criar Evento":{"main":[[{"node":"11. Update Evento","type":"main","index":0}]]},"11. Update Evento":{"main":[[{"node":"12. Preparar Envio","type":"main","index":0}]]},"12. Preparar Envio":{"main":[[{"node":"14. Enviar WhatsApp","type":"main","index":0}]]},"Dados completos?":{"main":[[{"node":"4. Patrícia IA","type":"main","index":0}],[{"node":"4. Patrícia IA","type":"main","index":0}]]},"Insert rows in a table":{"main":[[]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"4. Patrícia IA","type":"ai_languageModel","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Dados completos?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"1. Gatilho Whats":[{"json":{"headers":{"accept":"application/json, text/plain, */*","content-type":"application/json","user-agent":"WAHA/2026.1.1","authorization":"Bearer psynCHrIDerackINceROprOBaceDLeSC","x-webhook-request-id":"111zu77mkjeimyp","x-webhook-timestamp":"1768720498364","content-length":"2244","accept-encoding":"gzip, compress, deflate, br","host":"n8n:5678","connection":"keep-alive"},"params":{},"query":{},"body":{"id":"evt_01kf7z9znf0f16ysdbvr7qrrf3","timestamp":1768720498364,"event":"message","session":"default","me":{"id":"558393926939@c.us","pushName":"Agente Virtual","lid":"232830881788137@lid","jid":"558393926939:2@s.whatsapp.net"},"payload":{"id":"false_216307505070165@lid_AC4BB41E900544747ADA37E877EAF516","timestamp":1768720498,"from":"216307505070165@lid","fromMe":false,"source":"app","body":"Bom dia","to":null,"participant":null,"hasMedia":false,"media":null,"ack":2,"location":null,"vCards":null,"ackName":"DEVICE","replyTo":null,"_data":{"Info":{"Chat":"216307505070165@lid","Sender":"216307505070165@lid","IsFromMe":false,"IsGroup":false,"AddressingMode":"","SenderAlt":"557592721127@s.whatsapp.net","RecipientAlt":"","BroadcastListOwner":"","BroadcastRecipients":null,"ID":"AC4BB41E900544747ADA37E877EAF516","ServerID":0,"Type":"text","PushName":"Marcelo Piras","Timestamp":"2026-01-18T07:14:58Z","Category":"","Multicast":false,"MediaType":"","Edit":"","MsgBotInfo":{"EditType":"","EditTargetID":"","EditSenderTimestampMS":"0001-01-01T00:00:00Z"},"MsgMetaInfo":{"TargetID":"","TargetSender":"","TargetChat":"","DeprecatedLIDSession":null,"ThreadMessageID":"","ThreadMessageSenderJID":""},"VerifiedName":null,"DeviceSentMeta":null},"Message":{"conversation":"Bom dia","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"4P1FA65y183raQ==","senderTimestamp":1768613845,"recipientKeyHash":"HbXWHd7XLno8ug==","recipientTimestamp":1768333640},"deviceListMetadataVersion":2,"messageSecret":"ptG+TycRoS28cfEV8P20hTwTYx1bl+GDg/PkFPmgZTQ="}},"IsEphemeral":false,"IsViewOnce":false,"IsViewOnceV2":false,"IsViewOnceV2Extension":false,"IsDocumentWithCaption":false,"IsLottieSticker":false,"IsBotInvoke":false,"IsEdit":false,"SourceWebMsg":null,"UnavailableRequestID":"","RetryCount":0,"NewsletterMeta":null,"RawMessage":{"conversation":"Bom dia","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"4P1FA65y183raQ==","senderTimestamp":1768613845,"recipientKeyHash":"HbXWHd7XLno8ug==","recipientTimestamp":1768333640},"deviceListMetadataVersion":2,"messageSecret":"ptG+TycRoS28cfEV8P20hTwTYx1bl+GDg/PkFPmgZTQ="}},"Status":3}},"environment":{"version":"2026.1.1","engine":"GOWS","tier":"CORE","browser":null,"platform":"linux/x64"}},"webhookUrl":"http://localhost:5678/webhook/webhook","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"29435696-88bc-4539-80b6-ca337787737a","activeVersionId":null,"versionCounter":23,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-17T16:38:56.076Z","createdAt":"2026-01-17T16:38:56.076Z","role":"workflow:owner","workflowId":"MwgOg2UWxMGZpWW3rQS3c","projectId":"t2gyPvz4vUVDpUPO","project":{"updatedAt":"2026-01-12T22:02:45.225Z","createdAt":"2026-01-12T22:01:39.860Z","id":"t2gyPvz4vUVDpUPO","name":"Marcelo de Sousa <marcelopiraz@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ae6cc48a-5a9c-414f-a146-ca21710f4e90"}}]}]